<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.ActivityManagementDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="activityName != null ">
				activity_Name,
			</if>
			<if test="activityDate != null">
				activity_Date,
			</if>
			<if test="isSetTop != null">
				is_Set_Top,
			</if>
			<if test="gmtSetTop != null ">
				gmt_Set_Top,
			</if>
			<if test="status != null ">
				status,
			</if>
			<if test="founderId != null ">
				founder_Id,
			</if>
			<if test="gmtCreate != null">
				gmt_Create,
			</if>
			<if test="gmtUpdate != null">
				gmt_Update,
			</if>
			<if test="materialId != null">
				material_Id,
			</if>
			<if test="infoExpressCmsId != null">
				info_Express_Cms_Id,
			</if>
			<if test="activityDescCmsId != null">
				activity_Desc_Cms_Id,
			</if>
			<if test="cover != null and cover != '' ">
				cover,
			</if>
			<if test="isDelected != null ">
				is_Delected,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">

			<if test="activityName != null and activityName !=''">
				#{activityName},
			</if>
			<if test="activityDate != null">
				#{activityDate},
			</if>
			<if test="isSetTop != null">
				#{isSetTop},
			</if>
			<if test="gmtSetTop != null ">
				#{gmtSetTop},
			</if>
			<if test="status != null ">
				#{status},
			</if>
			<if test="founderId != null ">
				#{founderId},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate},
			</if>
			<if test="gmtUpdate != null">
				#{gmtUpdate},
			</if>
			<if test="materialId != null">
				#{materialId},
			</if>
			<if test="infoExpressCmsId != null">
				#{infoExpressCmsId},
			</if>
			<if test="activityDescCmsId != null">
				#{activityDescCmsId},
			</if>
			<if test="cover != null and cover != '' ">
				#{cover},
			</if>
			<if test="isDelected != null ">
				#{isDelected},
			</if>
		</trim>
	</sql>
	<!-- 新增CmsContent -->
	<insert id="addActivity" parameterType="Activity"
			useGeneratedKeys="true" keyProperty="id">
		insert into activity(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>

	<!-- 更新CmsContent -->
	<update id="updateActivity" parameterType="Activity">
		update activity
		<set>
			<if test="activityName != null and activityName !=''">
				activity_Name=#{activityName},
			</if>
			<if test="activityDate != null">
				activity_Date=#{activityDate},
			</if>
				is_Set_Top=#{isSetTop},
			<if test="gmtSetTop != null ">
				gmt_Set_Top=#{gmtSetTop},
			</if>
				status=#{status},
				gmt_Update=#{gmtUpdate},
				material_Id=#{materialId},
				info_Express_Cms_Id=#{infoExpressCmsId},
				cover=#{cover}
		</set>
		where
		id=#{id};
	</update>
	<!-- 活动发布 -->
	<update id="updateActivityStatusById" parameterType="Activity">
		update
				Activity set status = #{status} where id = #{id};
	</update>
	<!-- 逻辑删除 -->
	<update id="deleteActivityById" parameterType="java.lang.Long">
		update
				Activity set is_deleted = #{is_deleted} where id = #{id};
	</update>

	<update id="updateActivitySetTopById" parameterType="Activity">
		update
				Activity set is_set_top = #{isSetTop}
		<if test="gmtSetTop != null ">
			,gmt_set_top=#{gmtSetTop}
		</if>
		where id = #{id};
	</update>
	<!--CmsContentVO模糊查询获取列表 -->
	<select id="listActivity" parameterType="PageParameter" resultType="ActivityVO">
		SELECT * FROM
		(
		SELECT
		ac.id,
		ac.activity_name,
		ac.activity_date,
		ac.is_set_top,
		ac.status,
		pu.realname,
		ac.gmt_Create
		FROM
		Activity ac
		LEFT JOIN pmph_user pu
		ON ac.founder_id = pu.id
		WHERE ac.is_deleted=0
		<if test="parameter.activityName != null and parameter.activityName !='' ">
			and (ac.activity_name like concat('%',#{parameter.activityName},'%'))
		</if>
		<if test="parameter.status != null ">
			and ac.status=#{parameter.status}
		</if>
		ORDER BY
        <if test="parameter.isSetTop != null">
          ac.is_set_top desc,
        </if>
        ac.gmt_create desc
		<if test="parameter.isSetTop != null">
			,ac.gmt_set_top desc
		</if>
		)
		a,
		(
		SELECT
		COUNT(*) count
		FROM
		Activity ac
		LEFT JOIN pmph_user pu
		ON ac.founder_id = pu.id
		WHERE ac.is_deleted=0
		<if test="parameter.activityName != null and parameter.activityName !='' ">
			and (ac.activity_name like concat('%',#{parameter.activityName},'%'))
		</if>
		<if test="parameter.status != null ">
			and ac.status=#{parameter.status}
		</if>
		)b
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
	<select id="getActivityById" parameterType="java.lang.Long" resultType="Activity">
		SELECT * FROM activity
		where id=#{id}
	</select>

	<select id="listCmsContent" parameterType="PageParameter" resultType="ActivityInfoExpressVO">
		SELECT * FROM
		(
		SELECT
		ac.id,
		ac.title,
		ac.gmt_create,
		ac.material_id,
		m.material_name
		FROM
		cms_content ac
		LEFT JOIN material m on ac.material_id=m.id
		WHERE ac.is_deleted=0
		and ac.category_id=2
		<if test="parameter.title != null and parameter.title !='' ">
			and (ac.title like concat('%',#{parameter.title},'%'))
		</if>
		ORDER BY
		ac.gmt_create desc
		)
		a,
		(
		SELECT
	   count(*) count
		FROM
		cms_content ac
		LEFT JOIN material m on ac.material_id=m.id
		WHERE ac.is_deleted=0
		and ac.category_id=2
		<if test="parameter.title != null and parameter.title !='' ">
			and (ac.title like concat('%',#{parameter.title},'%'))
		</if>
		)b
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<select id="checkedActivityByName"  parameterType="java.lang.String"  resultType="java.lang.Integer">
		select count(*) from activity where activity_name=#{activityName} and is_deleted=0;
	</select>
	<select id="getActivityByName"  parameterType="java.lang.String"  resultType="Activity">
		select * from activity where activity_name=#{activityName} and is_deleted=0;
	</select>


	<update id="delectedActivity" parameterType="long">
		update activity set is_deleted=1 where id=#{id}

	</update>
</mapper>
