<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.CmsContentDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="path != null and path !=''">
				path,
			</if>
			<if test="mid != null and mid !=''">
				mid,
			</if>
			<if test="categoryId != null">
				category_id,
			</if>
			<if test="title != null and title !=''">
				title,
			</if>
			<if test="summary != null and summary !=''">
				summary,
			</if>
			<if test="keyword != null and keyword !=''">
				keyword,
			</if>
			<if test="authorType != null">
				author_type,
			</if>
			<if test="authorId != null">
				author_id,
			</if>
			<if test="clicks != null">
				clicks,
			</if>
			<if test="comments != null">
				comments,
			</if>
			<if test="likes != null">
				likes,
			</if>
			<if test="bookmarks != null">
				bookmarks,
			</if>
			<if test="isStick != null">
				is_stick,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="deadlineStick != null and deadlineStick != ''">
				deadline_stick,
			</if>
			<if test="isHot != null">
				is_hot,
			</if>
			<if test="sortHot != null">
				sort_hot,
			</if>
			<if test="deadlineHot != null and deadlineHot != ''">
				deadline_hot,
			</if>
			<if test="isPromote != null">
				is_promote,
			</if>
			<if test="sortPromote != null">
				sort_promote,
			</if>
			<if test="deadlinePromote != null and deadlinePromote != ''">
				deadline_promote,
			</if>
			<if test="isScheduled != null">
				is_scheduled,
			</if>
			<if test="isHide != null">
				is_hide,
			</if>
			<if test="isPublished != null">
				is_published,
			</if>
			<if test="authStatus != null">
				auth_status,
			</if>
			<if test="authUserId != null">
				auth_user_id,
			</if>
			<if test="authDate != null and authDate != ''">
				auth_date,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="gmtReedit != null and gmtReedit != ''">
				gmt_reedit,
			</if>
			<if test="materialId != null">
				material_id,
			</if>
			<if test="isStaging != null">
				is_staging,
			</if>
			<if test="isMaterialEntry != null">
				is_material_entry,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="parentId != null">
				#{parentId},
			</if>
			<if test="path != null and path !=''">
				#{path},
			</if>
			<if test="mid != null and mid !=''">
				#{mid},
			</if>
			<if test="categoryId != null">
				#{categoryId},
			</if>
			<if test="title != null and title !=''">
				#{title},
			</if>
			<if test="summary != null and summary !=''">
				#{summary},
			</if>
			<if test="keyword != null and keyword !=''">
				#{keyword},
			</if>
			<if test="authorType != null">
				#{authorType},
			</if>
			<if test="authorId != null">
				#{authorId},
			</if>
			<if test="clicks != null">
				#{clicks},
			</if>
			<if test="comments != null">
				#{comments},
			</if>
			<if test="likes != null">
				#{likes},
			</if>
			<if test="bookmarks != null">
				#{bookmarks},
			</if>
			<if test="isStick != null">
				#{isStick},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
			<if test="deadlineStick != null and deadlineStick != '' ">
				#{deadlineStick},
			</if>
			<if test="isHot != null">
				#{isHot},
			</if>
			<if test="sortHot != null">
				#{sortHot},
			</if>
			<if test="deadlineHot != null and deadlineHot != ''">
				#{deadlineHot},
			</if>
			<if test="isPromote != null">
				#{isPromote},
			</if>
			<if test="sortPromote != null">
				#{sortPromote},
			</if>
			<if test="deadlinePromote != null and deadlinePromote != ''">
				#{deadlinePromote},
			</if>
			<if test="isScheduled != null">
				#{isScheduled},
			</if>
			<if test="isHide != null">
				#{isHide},
			</if>
			<if test="isPublished != null">
				#{isPublished},
			</if>
			<if test="authStatus != null">
				#{authStatus},
			</if>
			<if test="authUserId != null">
				#{authUserId},
			</if>
			<if test="authDate != null and authDate != '' ">
				#{authDate},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
			<if test="gmtReedit != null">
				#{gmtReedit},
			</if>
			<if test="materialId != null">
				#{materialId},
			</if>
			<if test="isStaging != null">
				#{isStaging},
			</if>
			<if test="isMaterialEntry != null">
				#{isMaterialEntry},
			</if>
		</trim>
	</sql>
	<!-- 新增CmsContent -->
	<insert id="addCmsContent" parameterType="CmsContent"
		useGeneratedKeys="true" keyProperty="id">
		insert into cms_content (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>

	<!-- 更新CmsContent -->
	<update id="updateCmsContent" parameterType="CmsContent">
		update cms_content
		<set>
			<if test="parentId != null">
				parent_id=#{parentId},
			</if>
			<if test="path != null and path !=''">
				path=#{path},
			</if>
			<if test="mid != null and mid !=''">
				mid=#{mid},
			</if>
			<if test="categoryId != null ">
				category_id=#{categoryId},
			</if>
			<if test="title != null and title !=''">
				title=#{title},
			</if>
			<if test="summary != null and summary !=''">
				summary=#{summary},
			</if>
			<if test="keyword != null and keyword !=''">
				keyword=#{keyword},
			</if>
			<if test="authorType != null">
				author_type=#{authorType},
			</if>
			<if test="authorId != null">
				author_id=#{authorId},
			</if>
			<if test="clicks != null">
				clicks=#{clicks},
			</if>
			<if test="comments != null">
				comments=#{comments},
			</if>
			<if test="likes != null">
				likes=#{likes},
			</if>
			<if test="bookmarks != null">
				bookmarks=#{bookmarks},
			</if>
			<if test="isStick != null">
				is_stick=#{isStick},
			</if>
			<if test="sort != null">
				sort=#{sort},
			</if>
			<if test="deadlineStick != null and deadlineStick !='' ">
				deadline_stick=#{deadlineStick},
			</if>
			<if test="isHot != null">
				is_hot=#{isHot},
			</if>
			<if test="sortHot != null">
				sort_hot=#{sortHot},
			</if>
			<if test="deadlineHot != null and deadlineHot!='' ">
				deadline_hot=#{deadlineHot},
			</if>
			<if test="isPromote != null">
				is_promote=#{isPromote},
			</if>
			<if test="sortPromote != null">
				sort_promote=#{sortPromote},
			</if>
			<if test="deadlinePromote != null and deadlinePromote!='' ">
				deadline_promote=#{deadlinePromote},
			</if>
			<if test="isScheduled != null">
				is_scheduled=#{isScheduled},
			</if>
			<if test="isHide != null">
				is_hide=#{isHide},
			</if>
			<if test="isStaging != null">
				is_staging=#{isStaging},
			</if>
			<if test="isPublished != null">
				is_published=#{isPublished},
			</if>
			<if test="authStatus != null">
				auth_status=#{authStatus},
			</if>
			<if test="authUserId != null">
				auth_user_id=#{authUserId},
			</if>
			<if test="authDate != null and authDate!='' ">
				auth_date=#{authDate},
			</if>
			<if test="isDeleted != null">
				is_deleted=#{isDeleted},
			</if>
			<if test="gmtReedit != null">
				gmt_reedit=#{gmtReedit},
			</if>
			<if test="materialId != null">
				material_id=#{materialId},
			</if>
			<if test="isMaterialEntry != null">
				is_material_entry=#{isMaterialEntry},
			</if>
		</set>
		where
		id=#{id};
	</update>

	<!-- CMS_content定时任务批量更新 -->
	<update id="updateCmsContentByIds" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open=""
			separator=";">
			update
			cms_content
			<set>
				is_published = #{isPublished},
				gmt_update = #{gmtUpdate},
			</set>
			where
			id=#{id};
		</foreach>
	</update>

	<!-- 内容发布 -->
	<update id="publishCmsContentById" parameterType="java.lang.Long">
		update
		cms_content set is_published = true where id = #{id};
	</update>
	<!-- 内容隐藏 -->
	<update id="hideCmsContentById" parameterType="java.lang.Long">
		update cms_content
		set is_hide = true where id = #{id};
	</update>
	<!-- 逻辑删除 -->
	<update id="deleteCmsContentById" parameterType="java.lang.Long">
		update
		cms_content set is_deleted = true where id = #{id};
	</update>

	<update id="checkContentById" parameterType="CmsContent">
		update cms_content
		<set>
			<if test="authStatus != null">
				auth_status=#{authStatus},
			</if>
			<if test="authUserId != null">
				auth_user_id=#{authUserId},
			</if>
			<if test="authDate != null">
				auth_date=#{authDate},
			</if>
		</set>
		where
		id = #{id};
	</update>

	<!--CmsContentVO模糊查询获取列表 -->
	<select id="listCmsContent" parameterType="PageParameter"
		resultType="CmsContentVO">
		SELECT 
			cc.`id`,cc.`title`,
			(
			CASE
				WHEN 
					cc.`author_type` =0  
				THEN	
					pu.username
				WHEN   
					cc.`author_type` =1 
				THEN   
					wu.`username`
				WHEN   
					cc.`author_type` =2 
				THEN   
					wu.`username`
			  END
			 ) username,cc.`auth_status`,cc.`auth_date`,cc.`gmt_create`,cc.`clicks`,
			cc.`comments`,cc.`likes`,cc.`bookmarks`,cc.category_id,ccg.`category_name`,
			cc.`is_published`,cc.`is_stick`,cc.`is_hot`,cc.`is_promote`,cc.`is_staging`,cc.`is_material_entry`,t.count
		FROM 
			`cms_content`cc
		LEFT JOIN
			`pmph_user` pu
		ON
			cc.author_id = pu.id
		LEFT JOIN
			`cms_category` ccg
		ON
			cc.`category_id` = ccg.`id`,
			(
				SELECT
					count(*) count
				FROM
					`cms_content`cc
				LEFT JOIN
					`pmph_user` pu
				ON
					cc.author_id = pu.id
				LEFT JOIN
					`cms_category` ccg
				ON
					cc.`category_id` = ccg.`id`
				WHERE
					cc.`is_deleted`= 0
		<if test="parameter !=null ">
			<if test="parameter.categoryId != null">
				AND cc.`category_id` = #{parameter.categoryId}
			</if>
			<if test="parameter.isAdmin == false ">
				AND cc.`author_id`=#{parameter.authorId}
			</if>
			<if test="parameter.title != null and parameter.title != ''">
				AND cc.`title` like concat('%',#{parameter.title},'%')
			</if>
			<if test="parameter.authStatus !=null ">
				AND cc.`auth_status` = #{parameter.authStatus}
			</if>
			<if test="parameter.isPublished !=null ">
				AND cc.`is_published` = #{parameter.isPublished}
			</if>
			<if test="parameter.username !=null and  parameter.username!='' ">
				AND (
				pu.`username` like
				concat('%',#{parameter.username},'%')
				OR
				pu.`realname` like
				concat('%',#{parameter.username},'%') )
			</if>
		</if>
		) t
		WHERE
		cc.`is_deleted`= 0
		<if test="parameter !=null ">
			<if test="parameter.categoryId != null">
				AND cc.`category_id` = #{parameter.categoryId}
			</if>
			<if test="parameter.isAdmin == false ">
				AND cc.`author_id`=#{parameter.authorId}
			</if>
			<if test="parameter.title != null and parameter.title != ''">
				AND cc.`title` like concat('%',#{parameter.title},'%')
			</if>
			<if test="parameter.authStatus !=null ">
				AND cc.`auth_status` = #{parameter.authStatus}
			</if>
			<if test="parameter.isPublished !=null ">
				AND cc.`is_published` = #{parameter.isPublished}
			</if>
			<if test="parameter.username !=null and  parameter.username!='' ">
				AND (
				pu.`username` like
				concat('%',#{parameter.username},'%')
				OR
				pu.`realname`like
				concat('%',#{parameter.username},'%') )
			</if>
		</if>
		order by
		cc.`gmt_create` DESC
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<!-- 根据materialId查询一个CmsContent -->
	<select id="getCmsContentByMaterialId" parameterType="java.lang.Long"
		resultType="CmsContent">
		SELECT
		*
		FROM
		cms_content t
		WHERE
		t.`category_id`=3
		AND
		t.`is_material_entry` = TRUE
		AND
		t.`material_id` =#{materialId};
	</select>

	<!-- 根据id查询一个CmsContent -->
	<select id="getCmsContentById" parameterType="java.lang.Long"
		resultType="CmsContent">
		select * from cms_content where id=#{id};
	</select>

	<!-- 查询表单的数据总数 -->
	<select id="getCmsContentCount" parameterType="java.lang.Long"
		resultType="java.lang.Integer">
		select
		count(*)
		from
		cms_content
		<if test="categoryId != null">
			where category_id = #{categoryId}
		</if>
	</select>

	<!-- 批量删除 -->
	<delete id="deleteCmsContentByIds">
		update
		cms_content
		set
		is_deleted =true
		where
		id
		in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<update id="updateCmsContentByMaterialId" parameterType="Long">
		update
		cms_content set is_deleted =true
		where material_id = #{materialId};

	</update>
</mapper>
