<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.CmsContentDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="path != null and path !=''">
				path,
			</if>
			<if test="mid != null and mid !=''">
				mid,
			</if>
			<if test="categoryId != null">
				category_id,
			</if>
			<if test="title != null and title !=''">
				title,
			</if>
			<if test="summary != null and summary !=''">
				summary,
			</if>
			<if test="keyword != null and keyword !=''">
				keyword,
			</if>
			<if test="authorType != null">
				author_type,
			</if>
			<if test="authorId != null">
				author_id,
			</if>
			<if test="clicks != null">
				clicks,
			</if>
			<if test="comments != null">
				comments,
			</if>
			<if test="likes != null">
				likes,
			</if>
			<if test="bookmarks != null">
				bookmarks,
			</if>
			<if test="isStick != null">
				is_stick,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="deadlineStick != null and deadlineStick != ''">
				deadline_stick,
			</if>
			<if test="isHot != null">
				is_hot,
			</if>
			<if test="sortHot != null">
				sort_hot,
			</if>
			<if test="deadlineHot != null and deadlineHot != ''">
				deadline_hot,
			</if>
			<if test="isPromote != null">
				is_promote,
			</if>
			<if test="sortPromote != null">
				sort_promote,
			</if>
			<if test="deadlinePromote != null and deadlinePromote != ''">
				deadline_promote,
			</if>
			<if test="isScheduled != null">
				is_scheduled,
			</if>
			<if test="isHide != null">
				is_hide,
			</if>
			<if test="isPublished != null">
				is_published,
			</if>
			<if test="authStatus != null">
				auth_status,
			</if>
			<if test="authUserId != null">
				auth_user_id,
			</if>
			<if test="authDate != null and authDate != ''">
				auth_date,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="gmtReedit != null and gmtReedit != ''">
				gmt_reedit,
			</if>
			<if test="materialId != null">
				material_id,
			</if>
			<if test="isStaging != null">
				is_staging,
			</if>
			<if test="isMaterialEntry != null">
				is_material_entry,
			</if>
			<if test="cover != null and cover != ''">
				cover,
			</if>
			<if test="authorname != null and authorname != ''">
				author_name,
			</if>
			<if test="apporpc != null ">
				apporpc,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="parentId != null">
				#{parentId},
			</if>
			<if test="path != null and path !=''">
				#{path},
			</if>
			<if test="mid != null and mid !=''">
				#{mid},
			</if>
			<if test="categoryId != null">
				#{categoryId},
			</if>
			<if test="title != null and title !=''">
				#{title},
			</if>
			<if test="summary != null and summary !=''">
				#{summary},
			</if>
			<if test="keyword != null and keyword !=''">
				#{keyword},
			</if>
			<if test="authorType != null">
				#{authorType},
			</if>
			<if test="authorId != null">
				#{authorId},
			</if>
			<if test="clicks != null">
				#{clicks},
			</if>
			<if test="comments != null">
				#{comments},
			</if>
			<if test="likes != null">
				#{likes},
			</if>
			<if test="bookmarks != null">
				#{bookmarks},
			</if>
			<if test="isStick != null">
				#{isStick},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
			<if test="deadlineStick != null and deadlineStick != '' ">
				#{deadlineStick},
			</if>
			<if test="isHot != null">
				#{isHot},
			</if>
			<if test="sortHot != null">
				#{sortHot},
			</if>
			<if test="deadlineHot != null and deadlineHot != ''">
				#{deadlineHot},
			</if>
			<if test="isPromote != null">
				#{isPromote},
			</if>
			<if test="sortPromote != null">
				#{sortPromote},
			</if>
			<if test="deadlinePromote != null and deadlinePromote != ''">
				#{deadlinePromote},
			</if>
			<if test="isScheduled != null">
				#{isScheduled},
			</if>
			<if test="isHide != null">
				#{isHide},
			</if>
			<if test="isPublished != null">
				#{isPublished},
			</if>
			<if test="authStatus != null">
				#{authStatus},
			</if>
			<if test="authUserId != null">
				#{authUserId},
			</if>
			<if test="authDate != null and authDate != '' ">
				#{authDate},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
			<if test="gmtReedit != null">
				#{gmtReedit},
			</if>
			<if test="materialId != null">
				#{materialId},
			</if>
			<if test="isStaging != null">
				#{isStaging},
			</if>
			<if test="isMaterialEntry != null">
				#{isMaterialEntry},
			</if>
			<if test="cover != null and cover != ''">
				#{cover},
			</if>
			<if test="authorname != null and authorname != ''">
				#{authorname},
			</if>
			<if test="apporpc != null ">
				#{apporpc},
			</if>

		</trim>
	</sql>
	<!-- 新增CmsContent -->
	<insert id="addCmsContent" parameterType="CmsContent"
			useGeneratedKeys="true" keyProperty="id">
		insert into cms_content (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>

	<!-- 更新CmsContent -->
	<update id="updateCmsContent" parameterType="CmsContent">
		update cms_content
		<set>
			<if test="parentId != null">
				parent_id=#{parentId},
			</if>
			<if test="path != null and path !=''">
				path=#{path},
			</if>
			<if test="mid != null and mid !=''">
				mid=#{mid},
			</if>
			<if test="categoryId != null ">
				category_id=#{categoryId},
			</if>
			<if test="title != null and title !=''">
				title=#{title},
			</if>
			<if test="summary != null and summary !=''">
				summary=#{summary},
			</if>
			<if test="keyword != null and keyword !=''">
				keyword=#{keyword},
			</if>
			<if test="authorType != null">
				author_type=#{authorType},
			</if>
			<if test="authorId != null">
				author_id=#{authorId},
			</if>
			<if test="clicks != null">
				clicks=#{clicks},
			</if>
			<if test="comments != null">
				comments=#{comments},
			</if>
			<if test="likes != null">
				likes=#{likes},
			</if>
			<if test="bookmarks != null">
				bookmarks=#{bookmarks},
			</if>
			<if test="isStick != null">
				is_stick=#{isStick},
			</if>
			<if test="sort != null">
				sort=#{sort},
			</if>
			<if test="deadlineStick != null and deadlineStick !='' ">
				deadline_stick=#{deadlineStick},
			</if>
			<if test="isHot != null">
				is_hot=#{isHot},
			</if>
			<if test="sortHot != null">
				sort_hot=#{sortHot},
			</if>
			<if test="deadlineHot != null and deadlineHot!='' ">
				deadline_hot=#{deadlineHot},
			</if>
			<if test="isPromote != null">
				is_promote=#{isPromote},
			</if>
			<if test="sortPromote != null">
				sort_promote=#{sortPromote},
			</if>
			<if test="deadlinePromote != null and deadlinePromote!='' ">
				deadline_promote=#{deadlinePromote},
			</if>
			<if test="isScheduled != null">
				is_scheduled=#{isScheduled},
			</if>
			<if test="isHide != null">
				is_hide=#{isHide},
			</if>
			<if test="isStaging != null">
				is_staging=#{isStaging},
			</if>
			<if test="isPublished != null">
				is_published=#{isPublished},
			</if>
			<if test="authStatus != null">
				auth_status=#{authStatus},
			</if>
			<if test="authUserId != null">
				auth_user_id=#{authUserId},
			</if>
			<if test="authDate != null ">
				auth_date=str_to_date(#{authDate}, '%Y-%m-%d %H:%i:%s'),
			</if>

			<if test="isDeleted != null">
				is_deleted=#{isDeleted},
			</if>
			<if test="gmtReedit != null">
				gmt_reedit=#{gmtReedit},
			</if>
			<if test="materialId != null">
				material_id=#{materialId},
			</if>
			<if test="isMaterialEntry != null">
				is_material_entry=#{isMaterialEntry},
			</if>
			<if test="cover != null and cover != ''">
				cover=#{cover},
			</if>
			<if test="authorname != null and authorname != ''">
				author_name=#{authorname},
			</if>
			<if test="apporpc != null ">
				apporpc = #{apporpc},
			</if>
			<if test="isOriginal != null ">
				is_original = #{isOriginal},
			</if>

		</set>
		where
		id=#{id};
	</update>

	<!-- CMS_content定时任务批量更新 -->
	<update id="updateCmsContentByIds" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open=""
				 separator=";">
			update
			cms_content
			<set>
				is_published = #{isPublished},
				gmt_update = #{gmtUpdate},
			</set>
			where
			id=#{id};
		</foreach>
	</update>

	<!-- 内容发布 -->
	<update id="publishCmsContentById" parameterType="java.lang.Long">
		update
			cms_content set is_published = true where id = #{id};
	</update>
	<!-- 内容隐藏 -->
	<update id="hideCmsContentById" parameterType="java.lang.Long">
		update cms_content
		set is_hide = true where id = #{id};
	</update>
	<!-- 逻辑删除 -->
	<update id="deleteCmsContentById" parameterType="java.lang.Long">
		update
			cms_content set is_deleted = true where id = #{id};
	</update>

	<update id="checkContentById" parameterType="CmsContent">
		update cms_content
		<set>
			<if test="authStatus != null">
				auth_status=#{authStatus},
			</if>
			<if test="authUserId != null">
				auth_user_id=#{authUserId},
			</if>
			<if test="authDate != null">
				auth_date=#{authDate},
			</if>
			<if test="isPublished != null">
				is_published=#{isPublished},
			</if>
			<if test="materialId != null">
				material_id=#{materialId},
			</if>
			<if test="isOriginal != null">
				is_original=#{isOriginal},
			</if>
		</set>
		where
		id = #{id};
	</update>

	<!--CmsContentVO模糊查询获取列表 -->
	<select id="listCmsContent" parameterType="PageParameter" resultType="CmsContentVO">
		SELECT * FROM
		(
		SELECT
		cc.`id`,
		cc.`title`,
		cc.author_name authorname,
		CASE
		WHEN cc.author_type = 2 THEN
		wu.username
		ELSE
		pu.`username`
		END username,
		cc.`auth_status`,
		cc.`auth_date`,
		cc.`gmt_create`,
		cc.`clicks`,
		cc.`comments`,
		cc.`likes`,
		cc.`bookmarks`,
		cc.category_id,
		ccg.`category_name`,
		cc.`is_published`,
		cc.`is_stick`,
		cc.`is_hot`,
		cc.`is_promote`,
		cc.`is_staging`,
		cc.`is_material_entry`,
		cc.author_type,
		cc.`author_id`,
		CASE
		WHEN cc.author_type = 2 THEN
		wu.realname
		ELSE
		pu.`realname`
		END realname,
		cc.apporpc,
		cc.`material_id`
		FROM
		`cms_content` cc
		LEFT JOIN `pmph_user` pu
		ON cc.author_id = pu.id
		LEFT JOIN `writer_user` wu
		ON cc.author_id = wu.id
		LEFT JOIN `cms_category` ccg
		ON cc.`category_id` = ccg.`id`
		WHERE cc.`is_deleted` = 0
		AND (
		cc.`author_type` IN (0, 1)
		OR (
		cc.`author_type` = 2
		AND cc.`is_staging` = FALSE
		)
		)
		ORDER BY cc.`gmt_create` DESC)
		a,
		(
		SELECT
		COUNT(*) `COUNT`
		FROM
		`cms_content` cc
		LEFT JOIN
		`pmph_user` pu
		ON
		cc.author_id = pu.id
		LEFT JOIN
		`writer_user` wu
		ON
		cc.author_id = wu.id
		LEFT JOIN
		`cms_category` ccg
		ON
		cc.`category_id` = ccg.`id`
		WHERE
		cc.`is_deleted` = 0
		AND (
		cc.`author_type` IN (0, 1)
		OR (
		cc.`author_type` = 2
		AND cc.`is_staging` = FALSE
		)
		)
		<if test="parameter !=null ">
			<if test="parameter.categoryId != null">
				AND cc.`category_id` = #{parameter.categoryId}
			</if>
			<if test="parameter.isAdmin == false ">
				AND cc.`author_id`=#{parameter.authorId}
			</if>
			<if test="parameter.title != null and parameter.title != ''">
				AND cc.`title` like concat('%',#{parameter.title},'%')
			</if>
			<if test="parameter.authStatus !=null ">
			and
			<if test=" parameter.authStatus == 0 ">
				cc.`auth_status` = 0 and cc.author_type =2
			</if>
			<if test=" parameter.authStatus == 5 ">
				cc.`auth_status` = 0 and cc.is_staging= 1
			</if>
			<if test=" parameter.authStatus == 1 ">
				cc.`auth_status` = 1  and cc.author_type =2
			</if>
			<if test="parameter.authStatus == 2 ">
				cc.`auth_status` = 2 and cc.author_type =2 and cc.is_published=0
			</if>
			<if test="parameter.authStatus == 3 ">
				cc.`auth_status` = 2 and cc.is_published=1
			</if>
			<if test="parameter.authStatus == 4 ">
				cc.`auth_status` = 2  and cc.is_published=0
			</if>
		</if>
			<if test="parameter.isPublished !=null ">
				AND cc.`is_published` = #{parameter.isPublished}
			</if>
			<if test="parameter.username !=null and  parameter.username!='' ">
				AND (
				pu.`username` like
				concat('%',#{parameter.username},'%')
				OR
				pu.`realname`like
				concat('%',#{parameter.username},'%') )
			</if>
			<!-- 所属教材 -->
			<if test="parameter.materialId !=null ">
				AND cc.`material_id` = #{parameter.materialId}
			</if>
			<!-- 创建时间 -->
			<if test="parameter.startCreateDate !=null and parameter.startCreateDate !=''">
				AND cc.`gmt_create` &gt;= str_to_date(#{parameter.startCreateDate},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="parameter.endCreateDate !=null and parameter.endCreateDate !='' ">
				AND cc.`gmt_create`  &lt;=  str_to_date(#{parameter.endCreateDate},'%Y-%m-%d %H:%i:%s')
			</if>
			<!-- 发布时间 -->
			<if test="parameter.startAuDate !=null and parameter.startAuDate !='' ">
				AND cc.`auth_date` &gt;= str_to_date(#{parameter.startAuDate},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="parameter.endAuDate !=null and parameter.endAuDate !='' ">
				AND cc.`auth_date`  &lt;= str_to_date(#{parameter.endAuDate},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="parameter.isMaterialEntry !=null">
				AND cc.`is_material_entry`  = ${parameter.isMaterialEntry}
			</if>
		</if>

		)b
		<where>
			<if test="parameter !=null ">
				<if test="parameter.categoryId != null">
					`category_id` = #{parameter.categoryId}
				</if>
				<if test="parameter.isAdmin == false ">
					AND `author_id`=#{parameter.authorId}
				</if>
				<if test="parameter.title != null and parameter.title != ''">
					AND `title` like concat('%',#{parameter.title},'%')
				</if>
				<if test="parameter.authStatus !=null ">
				and
				<if test=" parameter.authStatus == 0 ">
					`auth_status` = 0 and author_type =2
				</if>
				<if test=" parameter.authStatus == 5 ">
					`auth_status` = 0 and is_staging= 1
				</if>
				<if test=" parameter.authStatus == 1 ">
					`auth_status` = 1  and author_type =2
				</if>
				<if test="parameter.authStatus == 2 ">
					`auth_status` = 2 and author_type =2 and is_published=0
				</if>
				<if test="parameter.authStatus == 3 ">
					`auth_status` = 2 and is_published=1
				</if>
				<if test="parameter.authStatus == 4 ">
					`auth_status` = 2  and is_published=0
				</if>
			</if>
				<if test="parameter.isPublished !=null ">
					AND `is_published` = #{parameter.isPublished}
				</if>
				<if test="parameter.username !=null and  parameter.username!='' ">
					AND (
					`username` like
					concat('%',#{parameter.username},'%')
					OR
					`realname`like
					concat('%',#{parameter.username},'%') )
				</if>
				<!-- 所属教材 -->
				<if test="parameter.materialId !=null ">
					AND `material_id` = #{parameter.materialId}
				</if>
				<!-- 创建时间 -->
				<if test="parameter.startCreateDate !=null and parameter.startCreateDate !=''">
					AND `gmt_create` &gt;= str_to_date(#{parameter.startCreateDate},'%Y-%m-%d %H:%i:%s')
				</if>
				<if test="parameter.endCreateDate !=null and parameter.endCreateDate !='' ">
					AND `gmt_create`  &lt;=  str_to_date(#{parameter.endCreateDate},'%Y-%m-%d %H:%i:%s')
				</if>
				<!-- 发布时间 -->
				<if test="parameter.startAuDate !=null and parameter.startAuDate !='' ">
					AND `auth_date` &gt;= str_to_date(#{parameter.startAuDate},'%Y-%m-%d %H:%i:%s')
				</if>
				<if test="parameter.endAuDate !=null and parameter.endAuDate !='' ">
					AND `auth_date`  &lt;= str_to_date(#{parameter.endAuDate},'%Y-%m-%d %H:%i:%s')
				</if>

				<if test="parameter.isMaterialEntry !=null">
					AND `is_material_entry`  = ${parameter.isMaterialEntry}
				</if>
			</if>
		</where>
		order by
		`gmt_create` DESC
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<!--CmsContentVO模糊查询获取评论列表 -->
	<select id="listCmsComment" parameterType="PageParameter" resultType="CmsContentVO">
		SELECT
		cc.`id`,cc.`title`,wu.realname username,cc.`auth_status`,cc.`auth_date`,cc.`gmt_create`,cc.`clicks`,pu.realname authUserName,
		cc.`comments`,cc.`likes`,cc.`bookmarks`,cc.category_id,ccg.`category_name`,
		cc.`is_published`,cc.`is_stick`,cc.`is_hot`,cc.`is_promote`,cc.`is_staging`,t.count
		FROM
		`cms_content`cc
		LEFT JOIN
		`writer_user` wu
		ON
		cc.author_id = wu.id
		LEFT JOIN pmph_user pu on pu.id = cc.auth_user_id
		LEFT JOIN
		`cms_category` ccg
		ON
		cc.`category_id` = ccg.`id`,
		(
		SELECT
		count(*) count
		FROM
		`cms_content`cc
		LEFT JOIN
		`writer_user` wu
		ON
		cc.author_id = wu.id
		LEFT JOIN pmph_user pu on pu.id = cc.auth_user_id
		LEFT JOIN
		`cms_category` ccg
		ON
		cc.`category_id` = ccg.`id`
		WHERE
		cc.`is_deleted`= 0
		AND cc.`is_staging` = FALSE
		<if test="parameter !=null ">
			<if test="parameter.categoryId != null">
				AND cc.`category_id` = #{parameter.categoryId}
			</if>
			<if test="parameter.isAdmin == false ">
				AND cc.`author_id`=#{parameter.authorId}
			</if>
			<if test="parameter.title != null and parameter.title != ''">
				AND cc.`title` like concat('%',#{parameter.title},'%')
			</if>
			<if test="parameter.authStatus !=null ">
				AND cc.`auth_status` = #{parameter.authStatus}
			</if>
			<if test="parameter.isPublished !=null ">
				AND cc.`is_published` = #{parameter.isPublished}
			</if>
			<if test="parameter.username !=null and  parameter.username!='' ">
				AND (
				wu.`username` like concat('%',#{parameter.username},'%')
				OR
				wu.`realname` like concat('%',#{parameter.username},'%') )
			</if>
		</if>
		) t
		WHERE
		cc.`is_deleted`= 0
		AND
		cc.`is_staging` = FALSE
		<if test="parameter !=null ">
			<if test="parameter.categoryId != null">
				AND cc.`category_id` = #{parameter.categoryId}
			</if>
			<if test="parameter.isAdmin == false ">
				AND cc.`author_id`=#{parameter.authorId}
			</if>
			<if test="parameter.title != null and parameter.title != ''">
				AND cc.`title` like concat('%',#{parameter.title},'%')
			</if>
			<if test="parameter.authStatus !=null ">
				AND cc.`auth_status` = #{parameter.authStatus}
			</if>
			<if test="parameter.isPublished !=null ">
				AND cc.`is_published` = #{parameter.isPublished}
			</if>
			<if test="parameter.username !=null and  parameter.username!='' ">
				AND (
				wu.`username` like concat('%',#{parameter.username},'%')
				OR
				wu.`realname`like concat('%',#{parameter.username},'%') )
			</if>
		</if>
		order by
		cc.`gmt_create` DESC
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<!-- 根据materialId查询一个CmsContent -->
	<select id="getCmsContentByMaterialId" parameterType="java.lang.Long"
			resultType="CmsContent">
		SELECT
			*
		FROM
			cms_content t
		WHERE
			t.`category_id`=3
		  AND
			t.`is_material_entry` = TRUE
		  AND
			t.`material_id` =#{materialId};
	</select>

	<!-- 根据id查询一个CmsContent -->
	<select id="getCmsContentById" parameterType="java.lang.Long"
			resultType="CmsContent">
		select * from cms_content where id=#{id};
	</select>

	<!-- 查询表单的数据总数 -->
	<select id="getCmsContentCount" parameterType="java.lang.Long"
			resultType="java.lang.Integer">
		select
		count(*)
		from
		cms_content
		<if test="categoryId != null">
			where category_id = #{categoryId}
		</if>
	</select>

	<!-- 批量删除 -->
	<delete id="deleteCmsContentByIds">
		update
		cms_content
		set
		is_deleted =true
		where
		id
		in
		<foreach item="item" index="index" collection="list" open="("
				 separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<update id="updateCmsContentByMaterialId" parameterType="Long">
		update
			cms_content set is_deleted =true
		where material_id = #{materialId};

	</update>
	<!-- 通过作者id查询cmsContent -->
	<select id="getCmsContentByAuthorId" parameterType="java.lang.Long"
			resultType="CmsContent">
		select * from cms_content where author_id=#{AuthorId}
	</select>

	<!-- 通过作者id查询cmsContent -->
	<select id="getCmsContentByParentId" parameterType="java.lang.Long"
			resultType="CmsContent">
		select * from cms_content where parent_id=#{parentId}
	</select>

	<!-- 评论审核通过后，评论数加1/-1 -->
	<update id="updatCmsContentCommentsById" parameterType="java.util.Map">
		UPDATE `cms_content` SET comments=comments + (#{comments}) WHERE id = #{id};
	</update>

	<!-- 评论审核通过后，文章评论数加1/-1 -->
	<update id="updateCmsContentByParentId" parameterType="java.util.Map">
		UPDATE `cms_content` SET comments=comments +(#{comments}) WHERE category_id=1  AND id = #{id};
	</update>

	<!--CmsContentVO模糊查询获取帮助列表 -->
	<select id="listHelp" parameterType="PageParameter" resultType="CmsContentVO">
		SELECT
		cc.`id`,cc.`title`,pu.`username`,pu.`realname`,cc.`gmt_create`,t.count
		FROM
		`cms_content`cc
		LEFT JOIN
		`pmph_user` pu
		ON
		cc.author_id = pu.id,
		(
		SELECT
		count(*) count
		FROM
		`cms_content`cc
		LEFT JOIN
		`pmph_user` pu
		ON
		cc.author_id =  pu .id
		WHERE
		cc.`is_deleted`= 0
		AND cc.`is_staging` = FALSE
		<if test="parameter !=null ">
			<if test="parameter.categoryId != null">
				AND cc.`category_id` = #{parameter.categoryId}
			</if>
			<if test="parameter.title != null and parameter.title != ''">
				AND cc.`title` like concat('%',#{parameter.title},'%')
			</if>
			<if test="parameter.username !=null and  parameter.username!='' ">
				AND (
				pu.`username` like concat('%',#{parameter.username},'%')
				OR
				pu.`realname` like concat('%',#{parameter.username},'%') )
			</if>
		</if>
		) t
		WHERE
		cc.`is_deleted`= 0
		AND
		cc.`is_staging` = FALSE
		<if test="parameter !=null ">
			<if test="parameter.categoryId != null">
				AND cc.`category_id` = #{parameter.categoryId}
			</if>
			<if test="parameter.title != null and parameter.title != ''">
				AND cc.`title` like concat('%',#{parameter.title},'%')
			</if>
			<if test="parameter.username !=null and  parameter.username!='' ">
				AND (
				pu.`username` like concat('%',#{parameter.username},'%')
				OR
				pu.`realname` like concat('%',#{parameter.username},'%') )
			</if>
		</if>
		order by
		cc.`gmt_create` DESC
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<!-- 帮助管理-常见问题按标题查询 -->
	<select id="listCmsContentByTitle" parameterType="java.lang.String" resultType="CmsContent">
		SELECT * FROM  `cms_content` t WHERE t.`category_id`=4 AND t.`title`=#{title}
	</select>

	<select id="recommendTotal" parameterType="PageParameter" resultType="int">
		SELECT
		count(*)
		FROM
		(
		SELECT
		! ISNULL(bb1.id) AS relationCms,
		b.title as cmsTitle,
		b.author_name as cmsAuthorName,
		b.id as id,
		b.gmt_create
		FROM
		cms_content b
		LEFT JOIN cms_relationship bb1 ON b.id = bb1.related_cms_id
		AND bb1.main_cms_id = #{parameter.currentCmsId}

		WHERE
		1 = 1 and  b.`is_deleted`= 0
		AND
		b.`is_staging` = FALSE AND b.auth_status = 2 -- 必须是已通过的文章
		and b.category_id = 1
		AND b.id != #{parameter.currentCmsId}
		and b.apporpc != #{parameter.apporpc}

		)t
		WHERE
		1 = 1
		<if test="parameter.relationCms !=null ">
			and 	relationCms = #{parameter.relationCms}
		</if>
		<if test="parameter.cmsAuthorName !=null and parameter.cmsAuthorName !='' ">
			and (
			t.cmsAuthorName like
			concat('%',#{parameter.cmsAuthorName},'%'))
		</if>
		<if test="parameter.cmsTitle !=null and parameter.cmsTitle !='' ">
			and (
			t.cmsTitle like
			concat('%',#{parameter.cmsTitle},'%'))
		</if>
		ORDER BY
		t.relationCms DESC,t.gmt_create DESC

	</select>

	<select id="recommendlist" parameterType="PageParameter" resultType="map">
		SELECT
		*
		FROM
		(
		SELECT
		! ISNULL(bb1.id) AS relationCms,
		b.title as cmsTitle,
		b.author_name as cmsAuthorName,
		b.id as id,
		b.gmt_create
		FROM
		cms_content b
		LEFT JOIN cms_relationship bb1 ON b.id = bb1.related_cms_id
		AND bb1.main_cms_id = #{parameter.currentCmsId}

		WHERE
		1 = 1 and  b.`is_deleted`= 0
		AND
		b.`is_staging` = FALSE and b.category_id = 1
		and b.auth_status = 2 -- 必须是已通过的文章
		AND b.id != #{parameter.currentCmsId}
		and b.apporpc != #{parameter.apporpc}
		)t
		WHERE
		1 = 1
		<if test="parameter.relationCms !=null ">
			and 	relationCms = #{parameter.relationCms}
		</if>
		<if test="parameter.cmsAuthorName !=null and parameter.cmsAuthorName !='' ">
			and (
			t.cmsAuthorName like
			concat('%',#{parameter.cmsAuthorName},'%'))
		</if>
		<if test="parameter.cmsTitle !=null and parameter.cmsTitle !='' ">
			and (
			t.cmsTitle like
			concat('%',#{parameter.cmsTitle},'%'))
		</if>
		ORDER BY
		t.relationCms DESC,t.gmt_create DESC
		LIMIT #{start},#{pageSize}

	</select>

	<delete id="deleterecommend" parameterType="map">
		DELETE
		FROM
			cms_relationship
		WHERE
			main_cms_id = #{currentCmsId}
		  AND related_cms_id = #{relationCmsId}

	</delete>

	<insert id="insertrecommend"  parameterType="map">
		INSERT INTO cms_relationship (
			main_cms_id,
			related_cms_id
		)
		VALUES
			( #{currentCmsId}, #{relationCmsId})
	</insert>

	<select id="recommendisExist" parameterType="map" resultType="boolean">
		SELECT
			CASE
				WHEN count(*) > 0 THEN
					TRUE
				ELSE
					FALSE
				END
		FROM
			cms_relationship bb
		WHERE
			bb.main_cms_id = #{currentCmsId}
		  AND bb.related_cms_id = #{relationCmsId}

	</select>


</mapper>
