<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.pmpheep.back.dao.DecCourseConstructionDao">

	<sql id="key"> 
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id !=null">
				id,
			</if>
			<if test="declarationId !=null and declarationId !=''">
				declaration_id,
			</if>
			<if test="courseName !=null and courseName !=''">
				course_name,
			</if>
			<if test="classHour !=null and classHour !=''">
				class_hour,
			</if>
			<if test="type !=null and type !=''">
				type,
			</if>
			<if test="note !=null and note !=''">
				note,
			</if>
			<if test="sort !=null and sort !=''">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="id !=null">
				#{id},
			</if>
			<if test="declarationId !=null and declarationId !=''">
				#{declarationId},
			</if>
			<if test="courseName !=null and courseName !=''">
				#{courseName},
			</if>
			<if test="classHour !=null and classHour !=''">
				#{classHour},
			</if>
			<if test="type !=null and type !=''">
				#{type},
			</if>
			<if test="note !=null and note !=''">
				#{note},
			</if>
			<if test="sort !=null and sort !=''">
				#{sort},
			</if>
		</trim>
	</sql>

	<!-- 新增DecCourseConstruction -->
	<insert id="addDecCourseConstruction" parameterType="DecCourseConstruction">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dec_course_construction(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 根据id删除一个精品课程建设情况信息 -->
	<delete id="deleteDecCourseConstrction" parameterType="java.lang.Long">
		delete from
		dec_course_construction where
		id=#{id};
	</delete>

	<!-- 更新精品课程建设情况信息 -->
	<update id="updateDecCourseCnstruction" parameterType="DecCourseConstruction">
		update dec_course_construction
		<set>
			<if test="declarationId !=null and declarationId !=''">
				declaration_id = #{declarationId},
			</if>
			<if test="courseName !=null and courseName !=''">
				course_name = #{courseName},
			</if>
			<if test="classHour !=null and classHour !=''">
				class_hour = #{classHour},
			</if>
			<if test="type !=null and type !=''">
				type = #{type},
			</if>
			<if test="note !=null and note !=''">
				note = #{note},
			</if>
			<if test="sort !=null and sort !=''">
				sort = #{sort},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询一个精品课程建设情况信息 -->
	<select id="getDecCourseConstructionById" parameterType="java.lang.Long"
		resultType="DecCourseConstruction">
		select * from dec_course_construction where id=#{id};
	</select>

	<!-- 根据declarationId查询精品课程建设情况信息 -->
	<select id="getDecCourseConstructionByDeclarationId" parameterType="java.lang.Long"
		resultType="DecCourseConstruction">
		select * from dec_course_construction where
		declaration_id=#{declarationId};
	</select>

	<!-- 查询精品课程建设情况信息总记录数 -->
	<select id="getDecCourseConstruction" resultType="java.lang.Long">
		select count(*) from dec_course_construction
	</select>
	
	<!-- 根据declarationId查询国家级精品课程建设情况 //type 1=国家 -->
	<select id="decNationalCourseConstructionList" parameterType="java.lang.Long"
		resultType="DecCourseConstruction">
		select * from dec_course_construction where
		declaration_id=#{declarationId} and type=1;
	</select>
	<!-- 根据declarationId查询省部级精品课程建设情况//type 2=省部 -->
	<select id="decNationalCourseConstructionList" parameterType="java.lang.Long"
		resultType="DecCourseConstruction">
		select * from dec_course_construction where
		declaration_id=#{declarationId} and type=2;
	</select>
	<!-- 根据declarationId查询学校精品课程建设情况   //type 3=学校 -->
	<select id="decNationalCourseConstructionList" parameterType="java.lang.Long"
		resultType="DecCourseConstruction">
		select * from dec_course_construction where
		declaration_id=#{declarationId} and type=3;
	</select>
</mapper>
