<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.DecEduExpDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id !=null">
				id,
			</if>
			<if test="declarationId !=null and declarationId !=''">
				declaration_id,
			</if>
			<if test="schoolName !=null and schoolName !=''">
				school_name,
			</if>
			<if test="major !=null and major !=''">
				major,
			</if>
			<if test="degree !=null and degree !=''">
				degree,
			</if>
			<if test="note !=null and note !=''">
				note,
			</if>
			<if test="dateBegin !=null and dateBegin !=''">
			    date_begin,
			</if>
			<if test="dateEnd !=null and dateEnd !=''">
			    date_end,
			</if>
			<if test="sort !=null and sort !=''">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="id !=null">
				#{id},
			</if>
			<if test="declarationId !=null and declarationId !=''">
				#{declarationId},
			</if>
			<if test="schoolName !=null and schoolName !=''">
				#{schoolName},
			</if>
			<if test="major !=null and major !=''">
				#{major},
			</if>
			<if test="degree !=null and degree !=''">
				#{degree},
			</if>
			<if test="note !=null and note !=''">
				#{note},
			</if>
			<if test="dateBegin !=null and dateBegin !=''">
			    #{dateBegin},
			</if>
			<if test="dateEnd !=null and dateEnd !=''">
			    #{dateEnd},
			</if>
			<if test="sort !=null and sort !=''">
				#{sort},
			</if>
		</trim>
	</sql>

	<!-- 新增DecEduExp -->
	<insert id="addDecEduExp" parameterType="DecEduExp">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dec_edu_exp(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 根据id删除一个作家学习经历信息 -->
	<delete id="deleteDecEduExpById" parameterType="java.lang.Long">
		delete from
		dec_edu_exp where
		id=#{id};
	</delete>

	<!-- 更新作家学习经历信息 -->
	<update id="updateDecEduExp" parameterType="DecEduExp">
		update dec_edu_exp
		<set>
			<if test="declarationId !=null and declarationId !=''">
				declaration_id = #{declarationId},
			</if>
			<if test="schoolName !=null and schoolName !=''">
				school_name = #{schoolName},
			</if>
			<if test="major !=null and major !=''">
				major = #{major},
			</if>
			<if test="degree !=null and degree !=''">
				degree = #{degree},
			</if>
			<if test="note !=null and note !=''">
				note = #{note},
			</if>
			<if test="dateBegin !=null and dateBegin !=''">
			    date_begin = #{dateBegin},
			</if>
			<if test="dateEnd !=null and dateEnd !=''">
			    date_end = #{dateEnd},
			</if>
			<if test="sort !=null and sort !=''">
				sort = #{sort},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询一个作家学习经历信息 -->
	<select id="getDecEduExpById" parameterType="java.lang.Long"
		resultType="DecEduExp">
		select * from dec_edu_exp where id=#{id};
	</select>

	<!-- 根据declarationId查询作家学习经历信息 -->
	<select id="getListDecEduExpByDeclarationId" parameterType="java.lang.Long"
		resultType="DecEduExp">
		select * from dec_edu_exp where
		declaration_id=#{declarationId};
	</select>

	<!-- 查询作家学习经历表的总记录数 -->
	<select id="getDecEduExp" resultType="java.lang.Long">
		select count(*) from dec_edu_exp
	</select>
</mapper>
