<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.DecLastPositionDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id !=null">
				id,
			</if>
			<if test="declarationId !=null and declarationId !=''">
				declaration_id,
			</if>
			<if test="materialName !=null and materialName !=''">
				material_name,
			</if>
			<if test="isDigitalEditor !=null ">
				is_digital_editor,
			</if>
			<if test="position !=null and position !=''">
				position,
			</if>
			<if test="note !=null and note !=''">
				note,
			</if>
			<if test="sort !=null and sort !=''">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="id !=null">
				#{id},
			</if>
			<if test="declarationId !=null and declarationId !=''">
				#{declarationId},
			</if>
			<if test="materialName !=null and materialName !=''">
				#{materialName},
			</if>
			<if test="isDigitalEditor !=null ">
				#{isDigitalEditor},
			</if>
			<if test="position !=null and position !=''">
				#{position},
			</if>
			<if test="note !=null and note !=''">
				#{note},
			</if>
			<if test="sort !=null and sort !=''">
				#{sort},
			</if>
		</trim>
	</sql>

	<!-- 新增DecLastPosition -->
	<insert id="addDecLastPosition" parameterType="DecLastPosition">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dec_last_position(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 根据id删除一个作家上套教材参编情况信息 -->
	<delete id="deleteDecLastPositionById" parameterType="java.lang.Long">
		delete from
		dec_last_position where
		id=#{id};
	</delete>

	<!-- 更新作家上套教材参编情况信息 -->
	<update id="updateDecLastPosition" parameterType="DecLastPosition">
		update dec_last_position
		<set>
			<if test="declarationId !=null and declarationId !=''">
				declaration_id = #{declarationId},
			</if>
			<if test="materialName !=null and materialName !=''">
				material_name = #{materialName},
			</if>
			<if test="isDigitalEditor !=null ">
				is_digital_editor = #{isDigitalEditor},
			</if>
			<if test="position !=null and position !=''">
				position = #{position},
			</if>
			<if test="note !=null and note !=''">
				note = #{note},
			</if>
			<if test="sort !=null and sort !=''">
				sort = #{sort},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询一个作家上套教材参编情况信息 -->
	<select id="getDecLastPositionById" parameterType="java.lang.Long"
		resultType="DecLastPosition">
		select * from dec_last_position where id=#{id};
	</select>

	<!-- 根据declarationId查询作家上套教材参编情况信息 -->
	<select id="getListDecLastPositionByDeclarationId"
		parameterType="java.lang.Long" resultType="DecLastPosition">
		select * from
		dec_last_position where
		declaration_id=#{declarationId};
	</select>

	<!-- 根据declarationId查询作家上套教材参编情况信息 -->
	<select id="getListDecLastPositionByDeclarationIds" resultType="DecLastPosition">
		select * from
		dec_last_position where
		declaration_id in
		<foreach collection="list" item="declarationId" open="("
			close=")" separator="," index="index">
			#{declarationId}
		</foreach>
	</select>

	<!-- 查询作家上套教材参编情况表的总记录数 -->
	<select id="getDecLastPosition" resultType="java.lang.Long">
		select count(*) from
		dec_last_position
	</select>
</mapper>
