<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.DeclarationDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id !=null">
				id,
			</if>
			<if test="materialId !=null">
				material_id,
			</if>
			<if test="userId !=null">
				user_id,
			</if>
			<if test="realname !=null and realname !=''">
				realname,
			</if>
			<if test="sex !=null">
				sex,
			</if>
			<if test="birthday !=null ">
				birthday,
			</if>
			<if test="experience !=null">
				experience,
			</if>
			<if test="orgName !=null and orgName !=''">
				org_name,
			</if>
			<if test="position !=null and position !=''">
				position,
			</if>
			<if test="title !=null and title !=''">
				title,
			</if>
			<if test="address !=null and address !=''">
				address,
			</if>
			<if test="postcode !=null and postcode !=''">
				postcode,
			</if>
			<if test="handphone !=null and handphone !=''">
				handphone,
			</if>
			<if test="email !=null and email !=''">
				email,
			</if>
			<if test="idtype !=null and idtype !=''">
				idtype,
			</if>
			<if test="idcard !=null and idcard !=''">
				idcard,
			</if>
			<if test="telephone !=null and telephone !=''">
				telephone,
			</if>
			<if test="fax !=null and fax !=''">
				fax,
			</if>
			<if test="isDispensed !=null and isDispensed !=''">
				is_dispensed,
			</if>
			<if test="isUtec !=null and isUtec !=''">
				is_utec,
			</if>
			<if test="degree !=null">
				degree,
			</if>
			<if test="expertise !=null and expertise !=''">
				expertise,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
			<if test="onlineProgress !=null">
				online_progress,
			</if>
			<if test="authUserId !=null">
				auth_user_id,
			</if>
			<if test="authDate !=null">
				auth_date,
			</if>
			<if test="offlineProgress !=null">
				offline_progress,
			</if>
			<if test="paperDate !=null ">
				paper_date,
			</if>
			<if test="returnCause !=null and returnCause !=''">
				return_cause,
			</if>
			<if test="isStaging !=null ">
				is_staging,
			</if>
			<if test="isDeleted !=null ">
				is_deleted,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="id !=null">
				#{id},
			</if>
			<if test="materialId !=null">
				#{materialId},
			</if>
			<if test="userId !=null">
				#{userId},
			</if>
			<if test="realname !=null and realname !=''">
				#{realname},
			</if>
			<if test="sex !=null">
				#{sex},
			</if>
			<if test="birthday !=null">
				#{birthday},
			</if>
			<if test="experience !=null">
				#{experience},
			</if>
			<if test="orgName !=null and orgName !=''">
				#{orgName},
			</if>
			<if test="position !=null and position !=''">
				#{position},
			</if>
			<if test="title !=null and title !=''">
				#{title},
			</if>
			<if test="address !=null and address !=''">
				#{address},
			</if>
			<if test="postcode !=null and postcode !=''">
				#{postcode},
			</if>
			<if test="handphone !=null and handphone !=''">
				#{handphone},
			</if>
			<if test="email !=null and email !=''">
				#{email},
			</if>
			<if test="idtype !=null and idtype !=''">
				#{idtype},
			</if>
			<if test="idcard !=null and idcard !=''">
				#{idcard},
			</if>
			<if test="telephone !=null and telephone !=''">
				#{telephone},
			</if>
			<if test="fax !=null and fax !=''">
				#{fax},
			</if>
			<if test="isDispensed !=null and isDispensed !=''">
				#{isDispensed},
			</if>
			<if test="isUtec !=null and isUtec !=''">
				#{isUtec},
			</if>
			<if test="degree !=null">
				#{degree},
			</if>
			<if test="expertise !=null and expertise !=''">
				#{expertise},
			</if>
			<if test="orgId != null">
				#{orgId},
			</if>
			<if test="onlineProgress !=null">
				#{onlineProgress},
			</if>
			<if test="authUserId !=null">
				#{authUserId},
			</if>
			<if test="authDate !=null">
				#{authDate},
			</if>
			<if test="offlineProgress !=null">
				#{offlineProgress},
			</if>
			<if test="paperDate !=null">
				#{paperDate},
			</if>
			<if test="returnCause !=null and returnCause !=''">
				#{returnCause},
			</if>
			<if test="isStaging !=null">
				#{isStaging},
			</if>
			<if test="isDeleted !=null">
				#{isDeleted},
			</if>
		</trim>
	</sql>

	<!-- 新增Declaration -->
	<insert id="addDeclaration" parameterType="Declaration">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into declaration(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 根据id删除一个作家申报信息 -->
	<delete id="deleteDeclarationById" parameterType="java.lang.Long">
		delete from
		declaration where
		id=#{id};
	</delete>

	<!-- 更新作家申报信息 -->
	<update id="updateDeclaration" parameterType="Declaration">
		update declaration
		<set>
			<if test="materialId !=null">
				material_id = #{materialId},
			</if>
			<if test="userId !=null">
				user_id = #{userId},
			</if>
			<if test="realname !=null and realname !=''">
				realname = #{realname},
			</if>
			<if test="sex !=null">
				sex = #{sex},
			</if>
			<if test="birthday !=null">
				birthday = #{birthday},
			</if>
			<if test="experience !=null">
				experience = #{experience},
			</if>
			<if test="orgName !=null and orgName !=''">
				org_name = #{orgName},
			</if>
			<if test="position !=null and position !=''">
				position = #{position},
			</if>
			<if test="title !=null and title !=''">
				title = #{title},
			</if>
			<if test="address !=null and address !=''">
				address = #{address},
			</if>
			<if test="postcode !=null and postcode !=''">
				postcode = #{postcode},
			</if>
			<if test="handphone !=null and handphone !=''">
				handphone = #{handphone},
			</if>
			<if test="email !=null and email !=''">
				email = #{email},
			</if>
			<if test="idtype !=null and idtype !=''">
				idtype = #{idtype},
			</if>
			<if test="idcard !=null and idcard !=''">
				idcard = #{idcard},
			</if>
			<if test="telephone !=null and telephone !=''">
				telephone = #{telephone},
			</if>
			<if test="fax !=null and fax !=''">
				fax = #{fax},
			</if>
			<if test="isDispensed !=null and isDispensed !=''">
				is_dispensed = #{isDispensed},
			</if>
			<if test="isUtec !=null and isUtec !=''">
				is_utec = #{isUtec},
			</if>
			<if test="degree !=null">
				degree = #{degree},
			</if>
			<if test="expertise !=null and expertise !=''">
				expertise = #{expertise},
			</if>
			<if test="orgId != null">
				org_id = #{orgId},
			</if>
			<if test="onlineProgress !=null">
				online_progress = #{onlineProgress},
			</if>
			<if test="authUserId !=null">
				auth_user_id = #{authUserId},
			</if>
			<if test="authDate !=null">
				auth_date = #{authDate},
			</if>
			<if test="offlineProgress !=null">
				offline_progress = #{offlineProgress},
			</if>
			<if test="paperDate !=null">
				paper_date = #{paperDate},
			</if>
			<if test="returnCause !=null and returnCause !=''">
				return_cause = #{returnCause},
			</if>
			<if test="isStaging !=null and isStaging !=''">
				is_staging = #{isStaging},
			</if>
			<if test="isDeleted !=null and isDeleted !=''">
				is_deleted = #{isDeleted},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询一个作家申报信息 -->
	<select id="getDeclarationByIds" parameterType="java.util.List"
		resultType="Declaration">
		select * from declaration where true
		<if test="ids != null and ids.size() > 0 ">
			and id in
			<foreach collection="ids" open="(" item="id" close=")"
				separator=",">
				#{id}
			</foreach>
		</if>
	</select>

	<!-- 根据id查询一个作家申报信息 -->
	<select id="getDeclarationById" parameterType="java.lang.Long"
		resultType="Declaration">
		select * from declaration where id=#{id};
	</select>

	<!-- 根据MaterialId查询作家申报信息 -->
	<select id="getDeclarationByMaterialId" parameterType="java.lang.Long"
		resultType="Declaration">
		select * from declaration where
		material_id=#{materialId};
	</select>

	<!-- 根据MaterialId和UserId查询作家申报信息 -->
	<select id="getDeclarationByMaterialIdAndUserId" parameterType="java.lang.Long"
		resultType="Declaration">
		select * from declaration where
		material_id=#{materialId}
		and user_id=#{userId};
	</select>
	<!-- 根据教材申报id与姓名查询作家申报信息 -->
	<select id="getDeclarationOrDisplayVOByIdOrRealname" resultType="DeclarationOrDisplayVO">
		SELECT
		t.textbook_name,
		t.textbook_round,
		d.*,w.username,
		GROUP_CONCAT(
		CASE
		when p.preset_position =15 then
		'主编,副主编,编委,数字编委'       <!-- 1111 -->
		when p.preset_position =14 then '主编,副主编,数字编委'          <!-- 1110 -->
		when p.preset_position =13 then '主编,编委,数字编委'            <!-- 1101 -->
		when p.preset_position =12 then '主编,数字编委'               <!-- 1100 -->
		when p.preset_position =11 then '副主编,编委,数字编委'          <!-- 1011 -->
		when p.preset_position =10 then '副主编,数字编委'              <!-- 1010 -->
		when p.preset_position =9 then '编委,数字编委'               <!-- 1001 -->
		when p.preset_position =8 then '数字编委'                   <!-- 1000 -->
		when p.preset_position =7 then '主编,副主编,编委'             <!-- 0111 -->
		when p.preset_position =6 then '主编,副主编'                 <!-- 0110 -->
		when p.preset_position =5 then '主编,编委'                  <!-- 0101 -->
		when p.preset_position =4 then '主编'                      <!-- 0100 -->
		when p.preset_position =3 then '副主编,编委'                 <!-- 0011 -->
		when p.preset_position =2 then '副主编'                     <!-- 0010 -->
		when p.preset_position =1 then '编委'                      <!-- 0001 -->
		else null
		END
		ORDER BY
		t.textbook_name
		) presetPosition,
		if(d.org_id=0,'人民卫生出版社',o.org_name) orgNameOne
		FROM
		declaration d
		LEFT
		JOIN writer_user w ON w.id =
		d.user_id
		LEFT JOIN dec_position p ON
		p.declaration_id = d.id
		LEFT JOIN
		textbook t ON t.id = p.textbook_id
		LEFT JOIN org o ON o.id = d.org_id
		LEFT JOIN material m ON m.id =
		d.material_id
		WHERE
		d.online_progress > 0
		AND d.is_deleted = 0
		AND
		m.is_deleted = 0
		AND d.id IN
		<foreach collection="id" close=")" open="(" separator=","
			index="index" item="id">
			#{id}
		</foreach>
		GROUP BY t.textbook_round ,t.textbook_name, w.username
		ORDER BY
		t.textbook_name DESC
	</select>

	<select id="getDeclarationOrDisplayVOByIdOrRealname2" resultType="DeclarationOrDisplayVO">
		SELECT
		t.textbook_name,
		t.textbook_round,
		d.*,w.username,
		GROUP_CONCAT(
		p.preset_position
		ORDER BY
		t.textbook_name
		) presetPosition,
		if(d.org_id=0,'人民卫生出版社',o.org_name) orgNameOne
		FROM
		declaration d
		LEFT
		JOIN writer_user w ON w.id =
		d.user_id
		LEFT JOIN dec_position p ON
		p.declaration_id = d.id
		LEFT JOIN
		textbook t ON t.id = p.textbook_id
		LEFT JOIN org o ON o.id = d.org_id
		LEFT JOIN material m ON m.id =
		d.material_id
		WHERE
		d.online_progress > 0
		AND d.is_deleted = 0
		AND
		m.is_deleted = 0
		AND d.id IN
		<foreach collection="id" close=")" open="(" separator=","
				 index="index" item="id">
			#{id}
		</foreach>
		GROUP BY t.textbook_round ,t.textbook_name, w.username
		ORDER BY
		t.textbook_name DESC
	</select>
	<!-- 根据MaterialId查询作家申报信息 -->
	<select id="getDeclarationOrDisplayVOByMaterialId" resultType="DeclarationOrDisplayVO">
		SELECT
		t.textbook_name,
		t.textbook_round,
		d.*,w.username,
		GROUP_CONCAT(
		p.preset_position
		ORDER BY
		t.textbook_name
		) presetPosition,
		if(d.org_id=0,'人民卫生出版社',o.org_name)
		orgNameOne
		FROM
		declaration d
		LEFT
		JOIN writer_user w ON w.id =
		d.user_id
		LEFT JOIN dec_position p ON
		p.declaration_id = d.id
		LEFT JOIN
		textbook t
		ON t.id = p.textbook_id
		LEFT JOIN org o ON o.id = d.org_id
		LEFT JOIN
		material m ON m.id =
		d.material_id
		WHERE
		d.online_progress > 0
		AND
		d.is_deleted = 0
		AND
		m.is_deleted = 0
		AND d.material_id =
		#{materialId}
		<if test="bookIds != null and bookIds.size() > 0 ">
			and t.id in
			<foreach collection="bookIds" item="item" index="index" open="("
				close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<!-- 账号或者姓名 -->
		<if test="realname != null and realname != ''">
			and (d.realname like concat('%',#{realname},'%') or
			w.username
			like concat('%',#{realname},'%') )
		</if>

		<if test="isSelected !=null ">
			<if test="isSelected">
				and EXISTS (select dp.id  from dec_position_published dp where dp.declaration_id = d.id
				and
				dp.textbook_id = t.id)
			</if>
			<if test = "!isSelected">
				and  not EXISTS (select dp.id  from dec_position_published dp where dp.declaration_id = d.id
				and
				dp.textbook_id = t.id)
			</if>
		</if>
		<!-- 职务 -->
		<if test="position != null and position != ''  ">
			and d.position like concat('%',#{position},'%')
		</if>
		<!-- 职称 -->
		<if test="title != null and title != '' ">
			and d.title like concat('%',#{title},'%')
		</if>
		<!-- 工作单位 -->
		<if test="orgName != null and orgName != '' ">
			and d.org_name like concat('%',#{orgName},'%')
		</if>
		<!-- 申报单位 -->
		<if test="unitName != null and unitName != ''">
			<if test="unitName == '人民卫生出版社'">
				and d.org_id = 0
			</if>
			<if test="unitName != '人民卫生出版社'">
				and o.org_name like concat('%',#{unitName},'%')
			</if>
		</if>
		<!-- 申报职位 -->
		<if test="positionType != null ">
			<if test="positionType == 1 "> <!-- 主编 -->
				and p.preset_position in (4,5,6,7,12,13,14,15)
			</if>
			<if test="positionType == 2 "> <!-- 副主编 -->
				and p.preset_position in (2,3,6,7,10,11,14,15)
			</if>
			<if test="positionType == 3 "> <!-- 编委 -->
				and p.preset_position in (1,3,5,7,9,11,13,15)
			</if>
		</if>
		<!-- 学校审核 -->
		<if test="onlineProgress != null ">
			and d.online_progress = #{onlineProgress}
		</if>
		<!-- 纸质表进度 -->
		<if test="offlineProgress != null ">
			and d.offline_progress = #{offlineProgress}
		</if>
		GROUP BY t.textbook_round ,t.textbook_name, w.username
		ORDER BY
		t.textbook_name DESC
	</select>

	<!-- 查询兼职学术信息表的总记录数 -->
	<select id="getDeclaration" resultType="java.lang.Long">
		select count(*) from
		declaration
	</select>

	<!-- 申报表审核列表总数 -->
	<select id="listDeclarationTotal" parameterType="PageParameter"
		resultType="java.lang.Integer">
		select sum(temp1.coun) from (

		select count(*) as coun from (
		select
		a.id
		from declaration a
		<!-- LEFT JOIN material b on b.id= a.material_id -->
		LEFT JOIN dec_position c on c.declaration_id = a.id
		LEFT JOIN textbook
		d on d.id = c.textbook_id
		LEFT JOIN writer_user e on e.id=a.user_id
		LEFT JOIN (SELECT id,org_name from org UNION SELECT 0,'人民卫生出版社' from
		org ) f on f.id=a.org_id
		where a.online_progress > 0 and a.is_deleted =
		0 and c.id is not null
		<!-- and b.is_deleted =0 -->
		and a.material_id in ${parameter.materialId}
		<!-- 下面是动态条件 -->
		<!-- 书籍 -->
		<if test="parameter.bookIds != null ">
			and d.id in
			<foreach collection="parameter.bookIds" item="item" index="index"
					 open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="parameter.isSelected !=null ">
			<if test="parameter.isSelected">
				and EXISTS (select dp.id  from dec_position_published dp where dp.declaration_id = a.id
				and
				dp.textbook_id = d.id)
			</if>
			<if test = "!parameter.isSelected">
				and not EXISTS (select dp.id  from dec_position_published dp where dp.declaration_id = a.id
				and
				dp.textbook_id = d.id)
			</if>
		</if>
		<!-- 账号或者姓名 -->
		<if test="parameter.realname != null ">
			and (a.realname like concat('%',#{parameter.realname},'%')
			or e.username
			like concat('%',#{parameter.realname},'%') )
		</if>
		<!-- 职务 -->
		<if test="parameter.position != null ">
			and a.position like concat('%',#{parameter.position},'%')
		</if>

			<!-- 提交开始时间 -->
		<if test="parameter.startCommitDate != null and parameter.startCommitDate != ''  ">
			and a.commit_date &gt;= str_to_date(#{parameter.startCommitDate},'%Y-%m-%d %H:%i:%s')
		</if>

			<!-- 提交结束时间 -->
		<if test="parameter.endCommitDate !=null and parameter.endCommitDate !='' ">
			AND a.commit_date &lt;=  str_to_date(#{parameter.endCommitDate},'%Y-%m-%d %H:%i:%s')
		</if>

    <!-- 职称 -->
		<if test="parameter.title != null ">
			and a.title like concat('%',#{parameter.title},'%')
		</if>
		<!-- 工作单位 -->
		<if test="parameter.orgName != null ">
			and a.org_name like concat('%',#{parameter.orgName},'%')
		</if>
		<!-- 申报单位id -->
		<if test="parameter.orgId != null ">
			and a.org_id = #{parameter.orgId}
		</if>
		<!-- 申报单位 -->
		<if test="parameter.unitName != null ">
			and f.org_name like concat('%',#{parameter.unitName},'%')
		</if>
		<!-- 申报职位 -->
		<if test="parameter.positionType != null ">
			<if test="parameter.positionType == 1 "> <!-- 主编 -->
				and c.preset_position in (4,5,6,7,12,13,14,15)
			</if>
			<if test="parameter.positionType == 2 "> <!-- 副主编 -->
				and c.preset_position in (2,3,6,7,10,11,14,15)
			</if>
			<if test="parameter.positionType == 3 "> <!-- 编委 -->
				and c.preset_position in (1,3,5,7,9,11,13,15)
			</if>
		</if>
		<!-- 学校审核 -->
		<if test="parameter.onlineProgress != null ">
			and a.online_progress = #{parameter.onlineProgress}
		</if>
		<!-- 纸质表进度 -->
		<if test="parameter.offlineProgress != null ">
			and a.offline_progress = #{parameter.offlineProgress}
		</if>
		GROUP BY a.id
		<if test="parameter.haveFile !=  null ">
			<if test="parameter.haveFile">  <!-- haveFile -->
				HAVING GROUP_CONCAT(c.syllabus_id SEPARATOR "") != ""
			</if>
			<if test="!parameter.haveFile"> <!-- noFile -->
				HAVING GROUP_CONCAT(c.syllabus_id SEPARATOR "") = ""
			</if>
		</if>
		) temp
		) temp1
	</select>
	<select id="findMaterialCreateDate" parameterType="java.util.Map"
			resultType="java.lang.String">
		SELECT m.gmt_create from  material m
		<where>
			<if test="material_id != null and material_id != '' ">
				and m.id = ${material_id}
			</if>
		</where>
	</select>
	<select id="findDeclarationCreateDate" parameterType="java.util.Map"
			resultType="java.lang.String">
		SELECT d.gmt_create from  declaration d
				where  d.id = ${declarationId}
	</select>
	<!-- 申报表审核分页列表 -->
	<select id="listDeclaration" parameterType="PageParameter"
		resultType="DeclarationListVO">
		select
		a.id,
		a.material_id,
		a.realname,
		e.username,
		f.org_name unitName,
		a.org_name,
		a.org_id as orgId,
		a.position,
		a.title,
		a.handphone,
		ifNull(a.auth_date,a.commit_date) as commit_date,
		a.email,
		d.textbook_name as textbookName,
		c.preset_position,
		GROUP_CONCAT(
		CONCAT(d.textbook_name,'-',
		case
		when c.preset_position =15 then
		'主编,副主编,编委,数字编委'       <!-- 1111 -->
		when c.preset_position =14 then '主编,副主编,数字编委'          <!-- 1110 -->
		when c.preset_position =13 then '主编,编委,数字编委'            <!-- 1101 -->
		when c.preset_position =12 then '主编,数字编委'               <!-- 1100 -->
		when c.preset_position =11 then '副主编,编委,数字编委'          <!-- 1011 -->
		when c.preset_position =10 then '副主编,数字编委'              <!-- 1010 -->
		when c.preset_position =9 then '编委,数字编委'               <!-- 1001 -->
		when c.preset_position =8 then '数字编委'                   <!-- 1000 -->
		when c.preset_position =7 then '主编,副主编,编委'             <!-- 0111 -->
		when c.preset_position =6 then '主编,副主编'                 <!-- 0110 -->
		when c.preset_position =5 then '主编,编委'                  <!-- 0101 -->
		when c.preset_position =4 then '主编'                      <!-- 0100 -->
		when c.preset_position =3 then '副主编,编委'                 <!-- 0011 -->
		when c.preset_position =2 then '副主编'                     <!-- 0010 -->
		when c.preset_position =1 then '编委'                      <!-- 0001 -->
		else null
		end
		) ORDER BY d.sort Separator '&lt;/br&gt;'
		)chooseBooksAndPostions,a.online_progress,a.offline_progress
		from
		declaration a
		<!-- LEFT JOIN material b on b.id= a.material_id -->
		LEFT JOIN dec_position c on c.declaration_id = a.id
		LEFT JOIN textbook
		d on d.id = c.textbook_id
		LEFT JOIN writer_user e on e.id=a.user_id
		LEFT JOIN (SELECT id,org_name from org UNION SELECT 0,'人民卫生出版社' from
		org ) f on f.id=a.org_id
		where a.online_progress > 0 and a.is_deleted =
		0   and c.id is not null
		<!-- and b.is_deleted =0 and b.id = #{parameter.materialId} -->
		and a.material_id in ${parameter.materialId}
		<!-- 下面是动态条件 -->
		<!-- 书籍 -->
		<if test="parameter.bookIds != null ">
			and d.id in
			<foreach collection="parameter.bookIds" item="item" index="index"
				open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="parameter.isSelected !=null ">
			<if test="parameter.isSelected">
				and EXISTS (select dp.id  from dec_position_published dp where dp.declaration_id = a.id
				and
				 dp.textbook_id = d.id)
			</if>
			<if test = "!parameter.isSelected">
				and not EXISTS (select dp.id  from dec_position_published dp where dp.declaration_id = a.id
				and
				dp.textbook_id = d.id)
			</if>
		</if>
		<!-- 账号或者姓名 -->
		<if test="parameter.realname != null ">
			and (a.realname like concat('%',#{parameter.realname},'%')
			or e.username
			like concat('%',#{parameter.realname},'%') )
		</if>

		<!-- 提交开始时间 -->
		<if test="parameter.startCommitDate != null and parameter.startCommitDate != ''  ">
			and a.commit_date &gt;= str_to_date(#{parameter.startCommitDate},'%Y-%m-%d %H:%i:%s')
		</if>

		<!-- 提交结束时间 -->
		<if test="parameter.endCommitDate !=null and parameter.endCommitDate !='' ">
			AND a.commit_date &lt;=  str_to_date(#{parameter.endCommitDate},'%Y-%m-%d %H:%i:%s')
		</if>
		<!-- 职务 -->
		<if test="parameter.position != null ">
			and a.position like concat('%',#{parameter.position},'%')
		</if>
		<!-- 职称 -->
		<if test="parameter.title != null ">
			and a.title like concat('%',#{parameter.title},'%')
		</if>
		<!-- 工作单位 -->
		<if test="parameter.orgName != null ">
			and a.org_name like concat('%',#{parameter.orgName},'%')
		</if>
		<!-- 申报单位id -->
		<if test="parameter.orgId != null ">
			and a.org_id = #{parameter.orgId}
		</if>
		<!-- 申报单位 -->
		<if test="parameter.unitName != null ">
			and f.org_name like concat('%',#{parameter.unitName},'%')
		</if>
		<!-- 申报职位 -->
		<if test="parameter.positionType != null ">
			<if test="parameter.positionType == 1 "> <!-- 主编 -->
				and c.preset_position in (4,5,6,7,12,13,14,15)
			</if>
			<if test="parameter.positionType == 2 "> <!-- 副主编 -->
				and c.preset_position in (2,3,6,7,10,11,14,15)
			</if>
			<if test="parameter.positionType == 3 "> <!-- 编委 -->
				and c.preset_position in (1,3,5,7,9,11,13,15)
			</if>
		</if>
		<!-- 学校审核 -->
		<if test="parameter.onlineProgress != null ">
			and a.online_progress = #{parameter.onlineProgress}
		</if>
		<!-- 纸质表进度 -->
		<if test="parameter.offlineProgress != null ">
			and a.offline_progress = #{parameter.offlineProgress}
		</if>
		GROUP BY a.id
		<if test="parameter.haveFile !=  null ">
			<if test="parameter.haveFile">  <!-- haveFile -->
				HAVING GROUP_CONCAT(c.syllabus_id SEPARATOR "") != ""
			</if>
			<if test="!parameter.haveFile"> <!-- noFile -->
				HAVING GROUP_CONCAT(c.syllabus_id SEPARATOR "") = ""
			</if>
		</if>
		<!-- 排序和分页条件 -->
		ORDER BY
		(a.online_progress=3 or a.org_id=0) desc,
		ifNull(a.auth_date,a.commit_date) desc,
		CONVERT ( f.org_name USING gbk ) ASC
		limit #{start},#{pageSize}
	</select>

	<!-- 根据id查询一个作家申报信息并包含申报机构名称，是否多选 -->
	<select id="getDeclarationByIdOrOrgName" parameterType="java.lang.Long"
		resultType="DeclarationOrDisplayVO">
		select *,o.org_name
		orgNameOne,m.is_multi_books,m.is_multi_position,m.is_digital_editor_optional
		from declaration d
		left join (select id,org_name from org) o on
		(o.id=d.org_id)
		left join (select
		id,is_multi_books,is_multi_position,is_digital_editor_optional
		from
		material) m on (m.id=d.material_id)
		where d.id=#{id};
	</select>
	<!-- 根据教材id 查询已结束教材并且未遴选上的作家 -->
	<select id="getPositionChooseLossByMaterialId" parameterType="java.lang.Long"
		resultType="Declaration">
		select distinct d.user_id from dec_position dp
			left join declaration d on d.id=dp.declaration_id 
			left join material	m on m.id=d.material_id
			left join textbook	t on t.material_id=m.id
		where	 m.is_all_textbook_published=true 
			and m.id=#{materialId} and d.user_id not in 
			(
			select distinct d.user_id from dec_position dp
				left join declaration d on d.id=dp.declaration_id 
				left join material	m on m.id=d.material_id
				left join textbook	t on t.material_id=m.id
			where	 dp.chosen_position > 0
				and m.is_all_textbook_published=true 
				and m.id=#{materialId})
	</select>
	<!-- wx获取用户的教材申报-->
	<select id="getMaterialForResolve" resultType="map" parameterType="map">
    SELECT
     concat('(',GROUP_CONCAT(DISTINCT m.id separator ','),')') as mymaterials
		FROM
		material m
		LEFT JOIN material_contact c ON m.id = c.material_id
		LEFT JOIN material_project_editor p ON p.material_id = m.id
		LEFT JOIN textbook e ON e.material_id = m.id
     WHERE m.is_deleted = FALSE

			AND (m.director = 4 OR p.editor_id =4
			OR e.planning_editor = 4 OR
			m.founder_id = 4)
			AND m.is_all_textbook_published =0
			AND m.is_force_end =0
	</select>

	<select id="getMaterialBydeclarationId" parameterType="map" resultType="long">
		select d.material_id from declaration d
		where id=#{declarationId}
	</select>

</mapper>
