<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.DecMonographDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id !=null">
				id,
			</if>
			<if test="declarationId !=null">
				declaration_id,
			</if>
			<if test="monographName !=null and monographName != ''">
				monograph_name,
			</if>
			<if test="isSelfPaid !=null ">
				is_self_paid,
			</if>
			<if test="publisher !=null and publisher != ''">
				publisher,
			</if>
			<if test="publishDate !=null and publishDate != ''">
				publish_date,
			</if>
			<if test="note !=null and note != ''">
				note,
			</if>
			<if test="sort !=null">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="id !=null">
				#{id},
			</if>
			<if test="declarationId !=null">
				#{declarationId},
			</if>
			<if test="monographName !=null and monographName != ''">
				#{monographName},
			</if>
			<if test="isSelfPaid !=null ">
				#{isSelfPaid},
			</if>
			<if test="publisher !=null and publisher != ''">
				#{publisher},
			</if>
			<if test="publishDate !=null and publishDate != ''">
				#{publishDate},
			</if>
			<if test="note !=null and note != ''">
				#{note},
			</if>
			<if test="sort !=null">
				#{sort},
			</if>
		</trim>
	</sql>

	<!-- 新增 -->
	<insert id="addDecMonograph" parameterType="DecMonograph">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dec_monograph(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 根据id删除 -->
	<delete id="deleteDecMonograph" parameterType="java.lang.Long">
		delete from
		dec_monograph where
		id=#{id};
	</delete>

	<!-- 更新 -->
	<update id="updateDecMonograph" parameterType="DecMonograph">
		update dec_monograph
		<set>
			<if test="declarationId !=null">
				declaration_id = #{declarationId},
			</if>
			<if test="monographName !=null and monographName != ''">
				monograph_name = #{monographName},
			</if>
			<if test="isSelfPaid !=null ">
				is_self_paid = #{isSelfPaid},
			</if>
			<if test="publisher !=null and publisher != ''">
				publisher = #{publisher},
			</if>
			<if test="publishDate !=null and publishDate != ''">
				publish_date = #{publishDate},
			</if>
			<if test="note !=null and note != ''">
				note = #{note},
			</if>
			<if test="sort !=null">
				sort = #{sort},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询 -->
	<select id="getDecMonograph" parameterType="java.lang.Long"
		resultType="DecMonograph">
		select * from dec_monograph where id=#{id};
	</select>
	
	<!-- 根据申报表id查询 -->
	<select id="getListDecMonographByDeclarationId" parameterType="java.lang.Long"
		resultType="DecMonograph">
		select * from dec_monograph where
		declaration_id=#{declarationId};
	</select>

</mapper>
