<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.DecPositionPublishedDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<!-- <if test="id !=null"> id, </if> -->
			<if test="publisherId !=null">
				publisher_id,
			</if>
			<if test="declarationId !=null">
				declaration_id,
			</if>
			<if test="textbookId !=null">
				textbook_id,
			</if>
			<if test="presetPosition !=null ">
				preset_position,
			</if>
			<if test="isOnList !=null">
				is_on_list,
			</if>
			<if test="chosenPosition !=null">
				chosen_position,
			</if>
			<if test="rank !=null">
				rank,
			</if>
			<if test="syllabusId !=null and syllabusId !=''">
				syllabus_id,
			</if>
			<if test="syllabusName !=null and syllabusName !=''">
				syllabus_name,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<!-- <if test="id !=null"> #{id}, </if> -->
			<if test="publisherId !=null">
				#{publisherId},
			</if>
			<if test="declarationId !=null">
				#{declarationId},
			</if>
			<if test="textbookId !=null">
				#{textbookId},
			</if>
			<if test="presetPosition !=null ">
				#{presetPosition},
			</if>
			<if test="isOnList !=null">
				#{isOnList},
			</if>
			<if test="chosenPosition !=null">
				#{chosenPosition},
			</if>
			<if test="rank !=null">
				#{rank},
			</if>
			<if test="syllabusId !=null and syllabusId !=''">
				#{syllabusId},
			</if>
			<if test="syllabusName !=null and syllabusName !=''">
				#{syllabusName},
			</if>
		</trim>
	</sql>

	<!-- 新增 -->
	<insert id="addDecPositionPublished" parameterType="DecPositionPublished">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dec_position_published(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 批量插入DecPositionPublished -->
	<insert id="batchInsertDecPositionPublished" useGeneratedKeys="true"
		keyProperty="id" parameterType="java.util.List">
		insert into dec_position_published
		(publisher_id,declaration_id,textbook_id,preset_position,
		chosen_position,rank,syllabus_id,syllabus_name)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.publisherId},#{item.declarationId},#{item.textbookId},
			#{item.presetPosition},#{item.chosenPosition},#{item.rank},#{item.syllabusId},#{item.syllabusName})
		</foreach>
	</insert>

	<!-- 根据id删除 -->
	<delete id="deleteDecPositionPublished" parameterType="java.lang.Long">
		delete
		from
		dec_position_published where
		id=#{id};
	</delete>

	<!-- 根据bookIds删除 -->
	<delete id="deleteDecPositionPublishedByBookIds">
		delete from dec_position_published where textbook_id in
		<foreach collection="bookIds" item="bookId" open="("
			separator="," close=")" index="index">
			#{bookId}
		</foreach>
	</delete>

	<!-- 更新 -->
	<update id="updateDecPositionPublished" parameterType="DecPositionPublished">
		update dec_position_published
		<set>
			<if test="publisherId !=null">
				publisher_id = #{publisherId},
			</if>
			<if test="declarationId !=null">
				declaration_id = #{declarationId},
			</if>
			<if test="textbookId !=null">
				textbook_id = #{textbookId},
			</if>
			<if test="presetPosition !=null ">
				preset_position = #{presetPosition},
			</if>
			<if test="isOnList !=null">
				is_on_list = #{isOnList},
			</if>
			<if test="chosenPosition !=null">
				chosen_position = #{chosenPosition},
			</if>
			<if test="rank !=null">
				rank = #{rank},
			</if>
			<if test="syllabusId !=null and syllabusId !=''">
				syllabus_id = #{syllabusId},
			</if>
			<if test="syllabusName !=null and syllabusName !=''">
				syllabus_name = #{syllabusName},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 按公布人id和申报表id删除 -->
	<delete id="deleteDecPositionPublishedByTextBookId"
		parameterType="java.lang.Long">
		DELETE FROM
		`dec_position_published`
		WHERE
		textbook_id= #{textbookId}
		<!--AND declaration_id IN <foreach collection="decPositionPublisheds" item="item" 
			open="(" close=")" separator=","> #{item.declarationId} </foreach> -->
	</delete>

	<!-- 根据id查询 -->
	<select id="getDecPositionPublishedById" parameterType="java.lang.Long"
		resultType="DecPositionPublished">
		select * from dec_position_published where id=#{id};
	</select>

	<!-- 根据declarationId查询 -->
	<select id="getDecPositionByDeclarationId" parameterType="java.util.Map"
		resultType="DecPositionPublished">
		select * from dec_position_published where
		declaration_id=#{declarationId} and textbook_id= #{textbookId};
	</select>

	<!-- 按照书籍查询 -->
	<select id="getDecPositionPublishedListByBookId" resultType="DecPositionPublished">
		select * from dec_position_published where textbook_id= #{textbookId}
		;
	</select>
	<!-- 按照书籍数组查询 -->
	<select id="getDecPositionPublishedListByBookIds" resultType="DecPositionPublished">
		select
		pp.*
		,d.user_id as writerUserId
		,t.textbook_name as textbookName
		from dec_position_published pp
		inner join declaration d on d.id = pp.declaration_id
		inner join textbook t on t.id = pp.textbook_id
		where pp.textbook_id in
		<foreach collection="list" item="bookId" open="("
			separator="," close=")" index="index">
			#{bookId}
		</foreach>
	</select>

	<!-- 按申报表id删除 -->
	<delete id="deletePublishedEditorByTextbookId" parameterType="java.lang.Long">
		DELETE
		a.*
		FROM
		`dec_position_published` a
		JOIN
		(SELECT
		t.`id`
		FROM
		`dec_position_published` t
		WHERE
		t.`chosen_position` IN (2, 4)
		AND
		t.`textbook_id` = #{textbookId}) tmp
		ON a.id = tmp.id
	</delete>

	<!-- 按申报表id删除 -->
	<delete id="deletePublishedEditorByTextbookId2" parameterType="java.lang.Long">
		DELETE
		a.*
		FROM
		`dec_position_published` a
		JOIN
		(SELECT
		t.`id`
		FROM
		`dec_position_published` t
		WHERE
		t.`chosen_position` IN (1, 2)
		AND
		t.`textbook_id` = #{textbookId}) tmp
		ON a.id = tmp.id
	</delete>
	
	<!-- 根据declarationId查询作家申报职位信息 -->
	<select id="listDecPositionDisplayOrPosition" parameterType="java.lang.Long"
		resultType="DecPositionPublishedVO">
		select * 
		from dec_position_published 
		where 
		declaration_id=#{declarationId};
	</select>

</mapper>
