<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.DecResearchDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id !=null">
				id,
			</if>
			<if test="declarationId !=null">
				declaration_id,
			</if>
			<if test="researchName !=null and researchName !=''">
				research_name,
			</if>
			<if test="approvalUnit !=null and approvalUnit !=''">
				approval_unit,
			</if>
			<if test="award !=null and award !=''">
				award,
			</if>
			<if test="note !=null and note !=''">
				note,
			</if>
			<if test="sort !=null">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="id !=null">
				#{id},
			</if>
			<if test="declarationId !=null">
				#{declarationId},
			</if>
			<if test="researchName !=null and researchName !=''">
				#{researchName},
			</if>
			<if test="approvalUnit !=null and approvalUnit !=''">
				#{approvalUnit},
			</if>
			<if test="award !=null and award !=''">
				#{award},
			</if>
			<if test="note !=null and note !=''">
				#{note},
			</if>
			<if test="sort !=null">
				#{sort},
			</if>
		</trim>
	</sql>

	<!-- 新增DecResearch -->
	<insert id="addDecResearch" parameterType="DecResearch">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dec_research(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 根据id删除作家科研情况信息 -->
	<delete id="deleteDecResearchById" parameterType="java.lang.Long">
		delete from
		dec_research where
		id=#{id};
	</delete>

	<!-- 更新作家科研情况信息 -->
	<update id="updateDecResearch" parameterType="DecResearch">
		update dec_research
		<set>
			<if test="declarationId !=null">
				declaration_id = #{declarationId},
			</if>
			<if test="researchName !=null and researchName !=''">
				research_name = #{researchName},
			</if>
			<if test="approvalUnit !=null and approvalUnit !=''">
				approval_unit = #{approvalUnit},
			</if>
			<if test="award !=null and award !=''">
				note = #{award},
			</if>
			<if test="note !=null and note !=''">
				note = #{note},
			</if>
			<if test="sort !=null">
				sort = #{sort},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询作家科研情况信息 -->
	<select id="getDecResearchById" parameterType="java.lang.Long"
		resultType="DecResearch">
		select * from dec_research where id=#{id};
	</select>

	<!-- 根据declarationId查询作家科研情况信息 -->
	<select id="getListDecResearchByDeclarationId" parameterType="java.lang.Long"
		resultType="DecResearch">
		select * from dec_research where
		declaration_id=#{declarationId};
	</select>

	<!-- 根据declarationId查询作家科研情况信息 -->
	<select id="getListDecResearchByDeclarationIds" resultType="DecResearch">
		select * from dec_research where
		declaration_id in
		<foreach collection="list" item="declarationId" open="("
			close=")" separator="," index="index">
			#{declarationId}
		</foreach>
	</select>

	<!-- 查询作家科研情况表的总记录数 -->
	<select id="getDecResearch" resultType="java.lang.Long">
		select count(*) from
		dec_research
	</select>
	<!-- 根据declarationId查询 -->
	<select id="getListDecSciExpByDeclarationIds" resultType="DecSci">
		select * from dec_sci where
		declaration_id in
		<foreach collection="list" item="declarationId" open="("
			close=")" separator="," index="index">
			#{declarationId}
		</foreach>
	</select>
</mapper>
