<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.DecTextbookDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id !=null">
				id,
			</if>
			<if test="declarationId !=null and declarationId !=''">
				declaration_id,
			</if>
			<if test="materialName !=null and materialName !=''">
				material_name,
			</if>
			<if test="rank !=null and rank !=''">
				rank,
			</if>
			<if test="position !=null and position !=''">
				position,
			</if>
			<if test="publisher !=null and publisher !=''">
				publisher,
			</if>
			<if test="publishDate !=null ">
				publish_date,
			</if>
			<if test="isbn !=null and isbn !=''">
				isbn,
			</if>
			<if test="note !=null and note !=''">
				note,
			</if>
			<if test="sort !=null and sort !=''">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="id !=null">
				#{id},
			</if>
			<if test="declarationId !=null and declarationId !=''">
				#{declarationId},
			</if>
			<if test="materialName !=null and materialName !=''">
				#{materialName},
			</if>
			<if test="rank !=null and rank !=''">
				#{rank},
			</if>
			<if test="position !=null and position !=''">
				#{position},
			</if>
			<if test="publisher !=null and publisher !=''">
				#{publisher},
			</if>
			<if test="publishDate !=null">
				#{publishDate},
			</if>
			<if test="isbn !=null and isbn !=''">
				#{isbn},
			</if>
			<if test="note !=null and note !=''">
				#{note},
			</if>
			<if test="sort !=null and sort !=''">
				#{sort},
			</if>
		</trim>
	</sql>

	<!-- 新增DecTextbook -->
	<insert id="addDecTextbook" parameterType="DecTextbook">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dec_textbook(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 根据id删除一个作家教材编写情况信息 -->
	<delete id="deleteDecTextbookById" parameterType="java.lang.Long">
		delete from
		dec_textbook where
		id=#{id};
	</delete>

	<!-- 更新作家教材编写情况信息 -->
	<update id="updateDecTextbook" parameterType="DecTextbook">
		update dec_textbook
		<set>
			<if test="declarationId !=null and declarationId !=''">
				declaration_id = #{declarationId},
			</if>
			<if test="materialName !=null and materialName !=''">
				material_name = #{materialName},
			</if>
			<if test="rank !=null and rank !=''">
				rank = #{rank},
			</if>
			<if test="position !=null and position !=''">
				position = #{position},
			</if>
			<if test="publisher !=null and publisher !=''">
				publisher = #{publisher},
			</if>
			<if test="publishDate !=null ">
				publish_date = #{publishDate},
			</if>
			<if test="isbn !=null and isbn !=''">
				isbn = #{isbn},
			</if>
			<if test="note !=null and note !=''">
				note = #{note},
			</if>
			<if test="sort !=null and sort !=''">
				sort = #{sort},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询一个作家教材编写情况信息 -->
	<select id="getDecTextbookById" parameterType="java.lang.Long"
		resultType="DecTextbook">
		select * from dec_textbook where id=#{id};
	</select>

	<!-- 根据declarationId查询作家教材编写情况信息 -->
	<select id="getListDecTextbookByDeclarationId" parameterType="java.lang.Long"
		resultType="DecTextbook">
		select * from dec_textbook where
		declaration_id=#{declarationId};
	</select>

	<!-- 查询作家教材编写情况表的总记录数 -->
	<select id="getDecTextbook" resultType="java.lang.Long">
		select count(*) from
		dec_textbook
	</select>
</mapper>
