<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.DecWorkExpDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id !=null">
				id,
			</if>
			<if test="declarationId !=null">
				declaration_id,
			</if>
			<if test="orgName !=null and orgName !=''">
				org_name,
			</if>
			<if test="position !=null and position !=''">
				position,
			</if>
			<if test="note !=null and note !=''">
				note,
			</if>
			<if test="dateBegin !=null and dateBegin !=''">
				date_begin,
			</if>
			<if test="dateEnd !=null and dateEnd !=''">
				date_end,
			</if>
			<if test="sort !=null">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="id !=null">
				#{id},
			</if>
			<if test="declarationId !=null">
				#{declarationId},
			</if>
			<if test="orgName !=null and orgName !=''">
				#{orgName},
			</if>
			<if test="position !=null and position !=''">
				#{position},
			</if>
			<if test="note !=null and note !=''">
				#{note},
			</if>
			<if test="dateBegin !=null and dateBegin !=''">
				#{dateBegin},
			</if>
			<if test="dateEnd !=null and dateEnd !=''">
				#{dateEnd},
			</if>
			<if test="sort !=null">
				#{sort},
			</if>
		</trim>
	</sql>

	<!-- 新增DecWorkExp -->
	<insert id="addDecWorkExp" parameterType="DecWorkExp">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into dec_work_exp(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 根据id删除一个作家工作经历信息 -->
	<delete id="deleteDecWorkExpById" parameterType="java.lang.Long">
		delete from
		dec_work_exp where
		id=#{id};
	</delete>

	<!-- 更新作家工作经历信息 -->
	<update id="updateDecWorkExp" parameterType="DecWorkExp">
		update dec_work_exp
		<set>
			<if test="declarationId !=null">
				declaration_id = #{declarationId},
			</if>
			<if test="orgName !=null and orgName !=''">
				org_name = #{orgName},
			</if>
			<if test="position !=null and position !=''">
				position = #{position},
			</if>
			<if test="note !=null and note !=''">
				note = #{note},
			</if>
			<if test="dateBegin !=null and dateBegin !=''">
				date_begin = #{dateBegin},
			</if>
			<if test="dateEnd !=null and dateEnd !=''">
				date_end = #{dateEnd},
			</if>
			<if test="sort !=null">
				sort = #{sort},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询一个作家工作经历信息 -->
	<select id="getDecWorkExpById" parameterType="java.lang.Long"
		resultType="DecWorkExp">
		select * from dec_work_exp where id=#{id};
	</select>

	<!-- 根据declarationId查询作家工作经历信息 -->
	<select id="getListDecWorkExpByDeclarationId" parameterType="java.lang.Long"
		resultType="DecWorkExp">
		select * from dec_work_exp where
		declaration_id=#{declarationId};
	</select>

	<!-- 根据declarationId查询作家工作经历信息 -->
	<select id="getListDecWorkExpByDeclarationIds" resultType="DecWorkExp">
		select * from dec_work_exp where
		declaration_id in
		<foreach collection="list" item="declarationId" open="("
			close=")" separator="," index="index">
			#{declarationId}
		</foreach>
	</select>

	<!-- 查询作家工作经历表的总记录数 -->
	<select id="getDecWorkExp" resultType="java.lang.Long">
		select count(*) from
		dec_work_exp
	</select>
</mapper>
