<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.pmpheep.back.dao.ExpertationDao">

    <resultMap id="expertationListMap" type="com.bc.pmpheep.back.vo.ExpertationVO">
        <id property="id" column="e_id"></id>
        <result property="product_name" column="product_name"></result>
        <result property="realname" column="realname"></result>
        <result property="username" column="username"></result>
        <result property="org_name" column="org_name"></result>
        <result property="position" column="position"></result>
        <result property="title" column="title"></result>
        <result property="email" column="email"></result>
        <result property="handphone" column="handphone"></result>
        <collection property="productSubjectTypeList" javaType="list" ofType="com.bc.pmpheep.back.vo.ProductType">
            <id property="id" column="pst_id"></id>
            <result property="type_name" column="type_name"></result>
        </collection>
        <collection property="productContentTypeList" javaType="list" ofType="com.bc.pmpheep.back.vo.ProductType">
            <id property="id" column="product_type_id"></id>
            <result property="type_name" column="name_path"></result>
        </collection>
    </resultMap>



    <select id="queryExpertation" parameterType="com.bc.pmpheep.back.plugin.PageParameter" resultMap="expertationListMap">
        select
        p.product_name
        ,e.id as e_id
        ,e.realname
        ,u.username
        ,e.org_name
        ,e.position
        ,e.title
        ,e.email
        ,e.handphone
        ,pst.id as pst_id
        ,pst.type_name
        ,pct.product_type_id
        ,pct.name_path
        from
        product p
        inner join expertation e on e.product_id = p.id
        <if test="parameter.auditor_id != null and parameter.auditor_id != '' ">
            inner join product_auditor pa on pa.product_id = p.id and pa.auditor_id = #{parameter.auditor_id}
        </if>
        left join writer_user u on u.id = e.user_id
        left join expertation_subject_type est on est.expertation_id = e.id left join product_subject_type pst on pst.id = est.product_subject_type_id
        left join expertation_content_type ect on ect.expertation_id = e.id left join product_content_type_detail pct on pct.product_type_id = ect.product_content_type_id
        where p.product_type = #{parameter.expert_type}
        <if test="parameter.username != null and parameter.username != '' ">
            and u.username like concat('%',#{parameter.username},'%')
        </if>
        <if test="parameter.realname != null and parameter.realname != '' ">
            and e.realname like concat('%',#{parameter.realname},'%')
        </if>
        <if test="parameter.position != null and parameter.position != '' ">
            and e.position like concat('%',#{parameter.position},'%')
        </if>
        <if test="parameter.title != null and parameter.title != '' ">
            and e.title like concat('%',#{parameter.title},'%')
        </if>
        -- GROUP  by e.id
        <if test="start != null">
            limit ${start} ,${pageSize}
        </if>


    </select>

    <select id="queryExpertationCount" parameterType="com.bc.pmpheep.back.plugin.PageParameter" resultType="int">
        select count(e.id)
        from
        product p
        inner join expertation e on e.product_id = p.id
        left join writer_user u on u.id = e.user_id
        <if test="parameter.auditor_id != null and parameter.auditor_id != '' ">
            inner join product_auditor pa on pa.product_id = p.id and pa.auditor_id = #{parameter.auditor_id}
        </if>
        where p.product_type = #{parameter.expert_type}
        <if test="parameter.username != null and parameter.username != '' ">
            and u.username like concat('%',#{parameter.username},'%')
        </if>
        <if test="parameter.realname != null and parameter.realname != '' ">
            and e.realname like concat('%',#{parameter.realname},'%')
        </if>
        <if test="parameter.position != null and parameter.position != '' ">
            and e.position like concat('%',#{parameter.position},'%')
        </if>
        <if test="parameter.title != null and parameter.title != '' ">
            and e.title like concat('%',#{parameter.title},'%')
        </if>
    </select>

    <!--按内容分类统计 列表-->
    <select id="getCountListGroupByContentType" parameterType="com.bc.pmpheep.back.plugin.PageParameter" resultType="com.bc.pmpheep.back.vo.ExpertationCountnessVO">
        select
            count(t1.eid) as count_submit,
            sum(t1.online_progress=3) as count_success,
            t1.type_name
        from
        (
            select
                e.id as eid,
                e.online_progress,
                ifNull(t.id,0) as tid,
                ifNull(t.name_path,'未选择分类') as type_name

            from (select * from expertation e where e.product_id = #{parameter.ptype} and e.online_progress >0) e
            left join expertation_content_type et on et.expertation_id = e.id
            left join product_content_type_detail t on t.product_type_id = et.product_content_type_id

            <where>
                <if test="parameter.type_name != null and parameter.type_name != '' ">
                    and t.name_path like concat('%',#{parameter.type_name},'%')
                </if>
            </where>

        )t1

        group by t1.tid
        <if test="start != null">
            limit #{start},#{pageSize}
        </if>

    </select>

    <!--按内容分类统计 列表总数-->
    <select id="getCountListGroupByContentTypeCount" parameterType="com.bc.pmpheep.back.plugin.PageParameter" resultType="int">
        select count(t2.tid)
        from(
            select
                t1.tid
            from
            (
                select
                    ifNull(t.id,0) as tid
                from (select * from expertation e where e.product_id = #{parameter.ptype} and e.online_progress >0) e
                left join expertation_content_type et on et.expertation_id = e.id
                left join product_content_type_detail t on t.product_type_id = et.product_content_type_id

                <where>
                    <if test="parameter.type_name != null and parameter.type_name != '' ">
                        and t.name_path like concat('%',#{parameter.type_name},'%')
                    </if>
                </where>

        )t1

            group by t1.tid
        )t2
    </select>

    <!--按学科分类统计 列表-->
    <select id="getCountListGroupBySubjectType" parameterType="com.bc.pmpheep.back.plugin.PageParameter" resultType="com.bc.pmpheep.back.vo.ExpertationCountnessVO">
        select
            count(t1.eid) as count_submit,
            sum(t1.online_progress=3) as count_success,
            t1.type_name
        from
        (
            select
                e.id as eid,
                e.online_progress,
                ifNull(t.id,0) as tid,
                ifNull(t.type_name,'未选择分类') as type_name

            from (select * from expertation e where e.product_id = #{parameter.ptype} and e.online_progress >0) e
            left join expertation_subject_type et on et.expertation_id = e.id
            left join product_subject_type t on t.id = et.product_subject_type_id

            <where>
                <if test="parameter.type_name != null and parameter.type_name != '' ">
                    and t.type_name like concat('%',#{parameter.type_name},'%')
                </if>
            </where>

        )t1

        group by t1.tid

        <if test="start != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <!--按学科分类统计 列表总数-->
    <select id="getCountListGroupBySubjectTypeCount"  parameterType="com.bc.pmpheep.back.plugin.PageParameter" resultType="int">
        SELECT count(t2.tid)
        FROM (
          select
                t1.tid
            from
            (
                select
                    ifNull(t.id,0) as tid
                from (select * from expertation e where e.product_id = #{parameter.ptype} and e.online_progress >0) e
                left join expertation_subject_type et on et.expertation_id = e.id
                left join product_subject_type t on t.id = et.product_subject_type_id

                <where>
                    <if test="parameter.type_name != null and parameter.type_name != '' ">
                        and t.type_name like concat('%',#{parameter.type_name},'%')
                    </if>
                </where>

            )t1

            group by t1.tid
        )t2
    </select>


</mapper>