<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.MaterialSurveyQuestionCategoryDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="categoryName != null and categoryName !=''">
				category_name,
			</if>
			<if test="sort != null">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="categoryName != null and categoryName !=''">
				#{categoryName},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
		</trim>
	</sql>
	<!-- 新增一个SurveyQuestionCategory -->
	<insert id="addSurveyQuestionCategory" parameterType="SurveyQuestionCategory">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into survey_question_category (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>
	<!-- 删除SurveyQuestionCategory通过主键id -->
	<delete id="deleteSurveyQuestionCategoryById" parameterType="java.lang.Long">
		delete from survey_question_category where id=#{id};
	</delete>
	<!-- 更新一个 SurveyQuestionCategory通过主键id -->
	<update id="updateSurveyQuestionCategory" parameterType="SurveyQuestionCategory">
		update survey_question_category
		<set>
			<if test="categoryName != null and categoryName !=''">
				category_name=#{categoryName},
			</if>
			<if test="sort != null">
				sort=#{sort},
			</if>
		</set>
		where
		id=#{id};
	</update>
	<!-- 查找SurveyQuestionCategory通过主键id -->
	<select id="getSurveyQuestionCategoryById" parameterType="java.lang.Long" resultType="SurveyQuestionCategory">
		select * from survey_question_category where id=#{id};
	</select>
	
</mapper>