<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.MaterialDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="materialName!=null">
				material_name,
			</if>
			<if test="materialRound != null">
				material_round,
			</if>
			<if test="materialType!=null">
				material_type,
			</if>
			<if test="deadline!=null">
				deadline,
			</if>
			<if test="actualDeadline!=null">
				actual_deadline,
			</if>
			<if test="ageDeadline!=null">
				age_deadline,
			</if>
			<if test="mailAddress!=null">
				mail_address,
			</if>
			<if test="departmentId!=null">
				department_id,
			</if>
			<if test="director!=null">
				director,
			</if>
			<if test="isMultiBooks!=null">
				is_multi_books,
			</if>
			<if test="isMultiPosition!=null">
				is_multi_position,
			</if>
			<if test="isEduExpUsed!=null">
				is_edu_exp_used,
			</if>
			<if test="isEduExpRequired!=null">
				is_edu_exp_required,
			</if>
			<if test="isWorkExpUsed!=null">
				is_work_exp_used,
			</if>
			<if test="isWorkExpRequired!=null">
				is_work_exp_required,
			</if>
			<if test="isTeachExpUsed!=null">
				is_teach_exp_used,
			</if>
			<if test="isTeachExpRequired!=null">
				is_teach_exp_required,
			</if>
			<if test="isAcadeUsed!=null">
				is_acade_used,
			</if>
			<if test="isAcadeRequired!=null">
				is_acade_required,
			</if>
			<if test="isLastPositionUsed!=null">
				is_last_position_used,
			</if>
			<if test="isLastPositionRequired!=null">
				is_last_position_required,
			</if>
			<if test="isCourseUsed!=null">
				is_course_used,
			</if>
			<if test="isCourseRequired!=null">
				is_course_required,
			</if>
			<if test="isNationalPlanUsed!=null">
				is_national_plan_used,
			</if>
			<if test="isNationalPlanRequired!=null">
				is_national_plan_required,
			</if>
			<if test="isTextbookUsed!=null">
				is_textbook_used,
			</if>
			<if test="isTextbookRequired!=null">
				is_textbook_required,
			</if>
			<if test="isPmphTextbookUsed!=null">
				is_pmph_textbook_used,
			</if>
			<if test="isPmphTextbookRequired!=null">
				is_pmph_textbook_required,
			</if>
			<if test="isResearchUsed!=null">
				is_research_used,
			</if>
			<if test="isResearchRequired!=null">
				is_research_required,
			</if>
			<if test="isPublished!=null">
				is_published,
			</if>
			<if test="isPublic!=null">
				is_public,
			</if>
			<if test="isAllTextbookPublished!=null">
				is_all_textbook_published,
			</if>
			<if test="isForceEnd!=null">
				is_force_end,
			</if>
			<if test="isDeleted!=null">
				is_deleted,
			</if>
			<if test="gmtCreate!=null">
				gmt_create,
			</if>
			<if test="founderId!= null">
				founder_id,
			</if>
			<if test="gmtUpdate!=null">
				gmt_update,
			</if>
			<if test="menderId!=null">
				mender_id,
			</if>
			<if test="projectPermission != null ">
				project_permission,
			</if>
			<if test="planPermission != null">
				plan_permission,
			</if>
			<if test="isAchievementUsed != null">
				is_achievement_used,
			</if>
			<if test="isAchievementRequired != null">
				is_achievement_required,
			</if>
			<if test="isDigitalEditorOptional != null">
				is_digital_editor_optional,
			</if>
			<if test="isMonographUsed != null">
				is_monograph_used,
			</if>
			<if test="isMonographRequired != null">
				is_monograph_required,
			</if>
			<if test="isPublishRewardUsed != null">
				is_publish_reward_used,
			</if>
			<if test="isPublishRewardRequired != null">
				is_publish_reward_required,
			</if>
			<if test="isSciUsed != null">
				is_sci_used,
			</if>
			<if test="isSciRequired != null">
				is_sci_required,
			</if>
			<if test="isClinicalRewardUsed != null">
				is_clinical_reward_used,
			</if>
			<if test="isClinicalRewardRequired != null">
				is_clinical_reward_required,
			</if>
			<if test="isAcadeRewardUsed != null">
				is_acade_reward_used,
			</if>
			<if test="isAcadeRewardRequired != null">
				is_acade_reward_required,
			</if>
			<if test="isMoocDigitalUsed != null">
				is_mooc_digital_used,
			</if>
			<if test="isMoocDigitalRequired != null">
				is_mooc_digital_required,
			</if>
			<if test="isIntentionUsed != null">
				is_intention_used,
			</if>
			<if test="isIntentionRequired != null">
				is_intention_required,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="materialName!=null">
				#{materialName},
			</if>
			<if test="materialRound !=null ">
				#{materialRound},
			</if>
			<if test="materialType!=null">
				#{materialType},
			</if>
			<if test="deadline!=null">
				#{deadline},
			</if>
			<if test="actualDeadline!=null">
				#{actualDeadline},
			</if>
			<if test="ageDeadline!=null">
				#{ageDeadline},
			</if>
			<if test="mailAddress!=null">
				#{mailAddress},
			</if>
			<if test="departmentId!=null">
				#{departmentId},
			</if>
			<if test="director!=null">
				#{director},
			</if>
			<if test="isMultiBooks!=null">
				#{isMultiBooks},
			</if>
			<if test="isMultiPosition!=null">
				#{isMultiPosition},
			</if>
			<if test="isEduExpUsed!=null">
				#{isEduExpUsed},
			</if>
			<if test="isEduExpRequired!=null">
				#{isEduExpRequired},
			</if>
			<if test="isWorkExpUsed!=null">
				#{isWorkExpUsed},
			</if>
			<if test="isWorkExpRequired!=null">
				#{isWorkExpRequired},
			</if>
			<if test="isTeachExpUsed!=null">
				#{isTeachExpUsed},
			</if>
			<if test="isTeachExpRequired!=null">
				#{isTeachExpRequired},
			</if>
			<if test="isAcadeUsed!=null">
				#{isAcadeUsed},
			</if>
			<if test="isAcadeRequired!=null">
				#{isAcadeRequired},
			</if>
			<if test="isLastPositionUsed!=null">
				#{isLastPositionUsed},
			</if>
			<if test="isLastPositionRequired!=null">
				#{isLastPositionRequired},
			</if>
			<if test="isCourseUsed!=null">
				#{isCourseUsed},
			</if>
			<if test="isCourseRequired!=null">
				#{isCourseRequired},
			</if>
			<if test="isNationalPlanUsed!=null">
				#{isNationalPlanUsed},
			</if>
			<if test="isNationalPlanRequired!=null">
				#{isNationalPlanRequired},
			</if>
			<if test="isTextbookUsed!=null">
				#{isTextbookUsed},
			</if>
			<if test="isTextbookRequired!=null">
				#{isTextbookRequired},
			</if>
			<if test="isPmphTextbookUsed!=null">
				#{isPmphTextbookUsed},
			</if>
			<if test="isPmphTextbookRequired!=null">
				#{isPmphTextbookRequired},
			</if>
			<if test="isResearchUsed!=null">
				#{isResearchUsed},
			</if>
			<if test="isResearchRequired!=null">
				#{isResearchRequired},
			</if>
			<if test="isPublished!=null">
				#{isPublished},
			</if>
			<if test="isPublic!=null">
				#{isPublic},
			</if>
			<if test="isAllTextbookPublished!=null">
				#{isAllTextbookPublished},
			</if>
			<if test="isForceEnd!=null">
				#{isForceEnd},
			</if>
			<if test="isDeleted!=null">
				#{isDeleted},
			</if>
			<if test="gmtCreate!=null">
				#{gmtCreate},
			</if>
			<if test="founderId != null">
				#{founderId},
			</if>
			<if test="gmtUpdate!=null">
				#{gmtUpdate},
			</if>
			<if test="menderId!=null">
				#{menderId},
			</if>
			<if test="projectPermission != null ">
				#{projectPermission},
			</if>
			<if test="planPermission != null">
				#{planPermission},
			</if>
			<if test="isAchievementUsed != null">
				#{isAchievementUsed},
			</if>
			<if test="isAchievementRequired != null">
				#{isAchievementRequired},
			</if>
			<if test="isDigitalEditorOptional != null">
				#{isDigitalEditorOptional},
			</if>
			<if test="isMonographUsed != null">
				#{isMonographUsed},
			</if>
			<if test="isMonographRequired != null">
				#{isMonographRequired},
			</if>
			<if test="isPublishRewardUsed != null">
				#{isPublishRewardUsed},
			</if>
			<if test="isPublishRewardRequired != null">
				#{isPublishRewardRequired},
			</if>
			<if test="isSciUsed != null">
				#{isSciUsed},
			</if>
			<if test="isSciRequired != null">
				#{isSciRequired},
			</if>
			<if test="isClinicalRewardUsed != null">
				#{isClinicalRewardUsed},
			</if>
			<if test="isClinicalRewardRequired != null">
				#{isClinicalRewardRequired},
			</if>
			<if test="isAcadeRewardUsed != null">
				#{isAcadeRewardUsed},
			</if>
			<if test="isAcadeRewardRequired != null">
				#{isAcadeRewardRequired},
			</if>
			<if test="isMoocDigitalUsed != null">
				#{isMoocDigitalUsed},
			</if>
			<if test="isMoocDigitalRequired != null">
				#{isMoocDigitalRequired},
			</if>
			<if test="isIntentionUsed != null">
				#{isIntentionUsed},
			</if>
			<if test="isIntentionRequired != null">
				#{isIntentionRequired},
			</if>
		</trim>
	</sql>

	<!-- 新增Material -->
	<insert id="addMaterial" parameterType="Material">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		<!-- sql片段对应字段名,id属性值任意 -->
		INSERT INTO material
		(
		<include refid="key" />
		)
		VALUES
		(
		<include refid="value" />
		);
	</insert>

	<!-- 更新Material -->
	<update id="updateMaterial" parameterType="Material">
		update material
		<set>
			<if test="materialName !=null and materialName !=''">
				material_name=#{materialName},
			</if>
			<if test="materialRound !=null ">
				material_round=#{materialRound},
			</if>
			<if test="materialType !=null ">
				material_type=#{materialType},
			</if>
			<if test="deadline !=null ">
				deadline=#{deadline},
			</if>
			<if test="actualDeadline !=null ">
				actual_deadline=#{actualDeadline},
			</if>
			<if test="ageDeadline !=null ">
				age_deadline=#{ageDeadline},
			</if>
			<if test="mailAddress !=null and mailAddress !=''">
				mail_address=#{mailAddress},
			</if>
			<if test="departmentId !=null ">
				department_id=#{departmentId},
			</if>
			<if test="director !=null  ">
				director=#{director},
			</if>
			<if test="isMultiBooks !=null ">
				is_multi_books=#{isMultiBooks},
			</if>
			<if test="isMultiPosition !=null  ">
				is_multi_position=#{isMultiPosition},
			</if>
			<if test="isEduExpUsed !=null  ">
				is_edu_exp_used=#{isEduExpUsed},
			</if>
			<if test="isEduExpRequired !=null  ">
				is_edu_exp_required=#{isEduExpRequired},
			</if>
			<if test="isWorkExpUsed !=null ">
				is_work_exp_used=#{isWorkExpUsed},
			</if>
			<if test="isWorkExpRequired !=null  ">
				is_work_exp_required=#{isWorkExpRequired},
			</if>
			<if test="isTeachExpUsed !=null  ">
				is_teach_exp_used=#{isTeachExpUsed},
			</if>
			<if test="isTeachExpRequired !=null  ">
				is_teach_exp_required=#{isTeachExpRequired},
			</if>
			<if test="isAcadeUsed !=null  ">
				is_acade_used=#{isAcadeUsed},
			</if>
			<if test="isAcadeRequired !=null ">
				is_acade_required=#{isAcadeRequired},
			</if>
			<if test="isLastPositionUsed !=null ">
				is_last_position_used=#{isLastPositionUsed},
			</if>
			<if test="isLastPositionRequired !=null ">
				is_last_position_required=#{isLastPositionRequired},
			</if>
			<if test="isCourseUsed !=null  ">
				is_course_used=#{isCourseUsed},
			</if>
			<if test="isCourseRequired !=null  ">
				is_course_required=#{isCourseRequired},
			</if>
			<if test="isNationalPlanUsed !=null  ">
				is_national_plan_used=#{isNationalPlanUsed},
			</if>
			<if test="isNationalPlanRequired !=null  ">
				is_national_plan_required=#{isNationalPlanRequired},
			</if>
			<if test="isTextbookUsed !=null  ">
				is_Textbook_Used=#{isTextbookUsed},
			</if>
			<if test="isTextbookRequired !=null  ">
				is_Textbook_Required=#{isTextbookRequired},
			</if>
			<if test="isPmphTextbookUsed !=null  ">
				is_pmph_textbook_used=#{isPmphTextbookUsed},
			</if>
			<if test="isPmphTextbookRequired !=null  ">
				is_pmph_textbook_required=#{isPmphTextbookRequired},
			</if>
			<if test="isResearchUsed !=null ">
				is_research_used=#{isResearchUsed},
			</if>
			<if test="isResearchRequired !=null ">
				is_research_required=#{isResearchRequired},
			</if>
			<if test="isPublished !=null  ">
				is_published=#{isPublished},
			</if>
			<if test="isPublic !=null">
				is_public=#{isPublic},
			</if>
			<if test="isAllTextbookPublished !=null">
				is_all_textbook_published=#{isAllTextbookPublished},
			</if>
			<if test="isForceEnd !=null">
				is_force_end=#{isForceEnd},
			</if>
			<if test="isDeleted !=null  ">
				is_deleted=#{isDeleted},
			</if>
			<if test="founderId != null">
				founder_id=#{founderId},
			</if>
			<if test="menderId !=null  ">
				mender_id=#{menderId},
			</if>
			<if test="projectPermission != null ">
				project_permission = #{projectPermission} ,
			</if>
			<if test="planPermission != null">
				plan_permission = #{planPermission} ,
			</if>
			<if test="isAchievementUsed != null">
				is_achievement_used = #{isAchievementUsed},
			</if>
			<if test="isAchievementRequired != null">
				is_achievement_required = #{isAchievementRequired},
			</if>
			<if test="isDigitalEditorOptional != null">
				is_digital_editor_optional = #{isDigitalEditorOptional},
			</if>
			<if test="isMonographUsed != null">
				is_monograph_used = #{isMonographUsed},
			</if>
			<if test="isMonographRequired != null">
				is_monograph_required = #{isMonographRequired},
			</if>
			<if test="isPublishRewardUsed != null">
				is_publish_reward_used = #{isPublishRewardUsed},
			</if>
			<if test="isPublishRewardRequired != null">
				is_publish_reward_required = #{isPublishRewardRequired},
			</if>
			<if test="isSciUsed != null">
				is_sci_used = #{isSciUsed},
			</if>
			<if test="isSciRequired != null">
				is_sci_required = #{isSciRequired},
			</if>
			<if test="isClinicalRewardUsed != null">
				is_clinical_reward_used = #{isClinicalRewardUsed},
			</if>
			<if test="isClinicalRewardRequired != null">
				is_clinical_reward_required =
				#{isClinicalRewardRequired},
			</if>
			<if test="isAcadeRewardUsed != null">
				is_acade_reward_used = #{isAcadeRewardUsed},
			</if>
			<if test="isAcadeRewardRequired != null">
				is_acade_reward_required = #{isAcadeRewardRequired},
			</if>
			<if test="isMoocDigitalUsed != null">
				is_mooc_digital_used = #{isMoocDigitalUsed},
			</if>
			<if test="isMoocDigitalRequired != null">
				is_mooc_digital_required = #{isMoocDigitalRequired},
			</if>
			<if test="isIntentionUsed != null">
				is_intention_used = #{isIntentionUsed},
			</if>
			<if test="isIntentionRequired != null">
				is_intention_required = #{isIntentionRequired},
			</if>
		</set>
		where
		id=#{id} ;
	</update>

	<!-- 根据id查询一个Material -->
	<select id="getMaterialById" parameterType="java.lang.Long"
		resultType="Material">
		select * from material where id=#{id} ;
	</select>

	<!-- 根据id查询 教材名字 -->
	<select id="getMaterialNameById" parameterType="java.lang.Long"
		resultType="java.lang.String">
		select material_name from material where id=#{id} ;
	</select>

	<!-- 查询表单的数据总数 -->
	<select id="getMaterialCount" resultType="Long">
		select
		count(*)
		from
		material
	</select>

	<!--获取教材集合 -->
	<select id="getListMaterial" resultType="Material">
		select
		ma.*
		from
		`material` ma
		<where>
			ma.`is_deleted` = FALSE
			<if test="materialName !=null and materialName !=''">
				AND
				ma.`material_name` LIKE
				CONCAT(CONCAT('%',#{materialName},'%'))
			</if>
		</where>
		ORDER BY ma.`id` desc;
	</select>


	<!--获取用户在该教材是几本书的策划编辑 -->
	<select id="getPlanningEditorSum" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select
		count(*)
		from
		textbook
		where
		material_id =
		#{materialId}
		and planning_editor = #{pmphUserId}
	</select>

	<!-- 根据id删除一个 -->
	<delete id="deleteMaterialById" parameterType="java.lang.Long">
		delete from
		material where
		id=#{id} ;
	</delete>


	<select id="listMaterialTotal" parameterType="PageParameter"
		resultType="java.lang.Integer">
		SELECT count(*) FROM
		(SELECT DISTINCT
		m.id,
		m.material_name,
		m.deadline,
		m.actual_deadline,
		m.director,
		m.is_force_end,
		m.is_all_textbook_published,
		m.is_deleted,
		m.is_published,
		m.founder_id,
		m.project_permission,
		m.plan_permission
		FROM
		material m
		LEFT JOIN
		material_contact c ON m.id = c.material_id
		LEFT JOIN
		material_project_editor p ON p.material_id = m.id
		LEFT JOIN
		textbook e
		ON e.material_id = m.id
		LEFT JOIN pmph_user u ON m.founder_id
		= u.id
		left join pmph_department pdu on pdu.id = u.department_id
		left join (select t1.* from (select t1.gmt_create,t1.material_id from cms_content t1
		where t1.category_id = 3
		group by t1.material_id) t1 GROUP BY t1.material_id) t1 on t1.material_id = m.id
		WHERE
		m.is_deleted = FALSE
		<if test="parameter.isMy != null">
			AND (m.director = #{parameter.userId} OR p.editor_id =
			#{parameter.userId}
			OR e.planning_editor = #{parameter.userId} OR
			m.founder_id = #{parameter.userId})
		</if>
		<if test="parameter.materialName != null and parameter.materialName != ''">
			AND m.material_name LIKE
			concat('%',#{parameter.materialName},'%')
		</if>
		<if
			test="parameter.contactUserName != null and parameter.contactUserName !=''">
			AND c.contact_user_name LIKE
			concat('%',#{parameter.contactUserName},'%')
		</if>
		<if test="parameter.state != null and parameter.state != ''">
			AND m.is_all_textbook_published =
			#{parameter.isAllTextbookPublished}
			AND m.is_force_end =
			#{parameter.isForceEnd}
			<if test="parameter.isPublished != null"> AND m.is_published = #{parameter.isPublished}
				<if test="parameter.isPublished">And DATE_FORMAT(m.actual_deadline,'%Y-%m-%d')&gt;=curdate() </if>
			</if>
		</if>
		ORDER BY
		m.actual_deadline DESC,
		m.gmt_create DESC) t
	</select>

	<select id="listMaterial" parameterType="PageParameter"
		resultType="MaterialListVO">
		SELECT DISTINCT
		m.id,
		m.material_name,
		m.deadline,
		m.actual_deadline,
		m.director,
		m.is_force_end,
		m.is_all_textbook_published,
		m.is_deleted,
		m.is_published,
		m.founder_id,
		m.project_permission,
		m.plan_permission,
		if((!m.is_all_textbook_published) and (!m.is_force_end) and (!m.is_published),'',t1.gmt_create) as gmt_create ,
		pdu.dp_name
		FROM
		material m
		LEFT JOIN material_contact c
		ON m.id = c.material_id
		LEFT
		JOIN material_project_editor p ON
		p.material_id = m.id
		LEFT JOIN
		textbook e ON e.material_id = m.id
		LEFT
		JOIN pmph_user u ON m.founder_id =
		u.id
		left join pmph_department pdu on pdu.id = u.department_id
		left join (select t1.* from (select t1.gmt_create,t1.material_id from cms_content t1
		where t1.category_id = 3
		group by t1.material_id) t1 GROUP BY t1.material_id) t1 on t1.material_id = m.id
		WHERE m.is_deleted = FALSE
		<if test="parameter.isMy != null">
			AND (m.director = #{parameter.userId} OR p.editor_id =
			#{parameter.userId}
			OR e.planning_editor = #{parameter.userId} OR
			m.founder_id = #{parameter.userId})
		</if>
		<if test="parameter.materialName != null and parameter.materialName != ''">
			AND m.material_name LIKE
			concat('%',#{parameter.materialName},'%')
		</if>
		<if
			test="parameter.contactUserName != null and parameter.contactUserName !=''">
			AND c.contact_user_name LIKE
			concat('%',#{parameter.contactUserName},'%')
		</if>
		<if test="parameter.state != null and parameter.state != ''">
			AND m.is_all_textbook_published =
			#{parameter.isAllTextbookPublished}
			AND m.is_force_end =
			#{parameter.isForceEnd}
			<if test="parameter.isPublished != null">
				AND m.is_published = #{parameter.isPublished}
				<if test="parameter.isPublished">And DATE_FORMAT(m.actual_deadline,'%Y-%m-%d')&gt;=curdate() </if>
			</if>

		</if>
		ORDER BY
		t1.gmt_create DESC,
		m.actual_deadline DESC
		<if test="start !=null and pageSize != null">
			LIMIT #{start} , #{pageSize}
		</if>
	</select>

	<select id="listMaterialEndTotal" parameterType="PageParameter"
		resultType="java.lang.Integer">
		SELECT count(*) FROM
		(SELECT DISTINCT
		m.id,
		m.material_name,
		m.deadline,
		m.actual_deadline,
		m.director,
		m.is_force_end,
		m.is_all_textbook_published,
		m.is_deleted,
		m.is_published,
		m.founder_id,
		m.project_permission,
		m.plan_permission
		FROM
		material m
		LEFT JOIN
		material_contact c ON m.id = c.material_id
		LEFT JOIN
		material_project_editor p ON p.material_id = m.id
		LEFT JOIN
		textbook e
		ON e.material_id = m.id
		LEFT JOIN pmph_user u ON m.founder_id
		= u.id
		left join pmph_department pdu on pdu.id = u.department_id
		left join (select t1.* from (select t1.gmt_create,t1.material_id from cms_content t1
		where t1.category_id = 3
		group by t1.material_id) t1 GROUP BY t1.material_id) t1 on t1.material_id = m.id
		WHERE
		m.is_deleted = FALSE
		<if test="parameter.isMy != null">
			AND (m.director = #{parameter.userId} OR p.editor_id =
			#{parameter.userId}
			OR e.planning_editor = #{parameter.userId} OR
			m.founder_id = #{parameter.userId})
		</if>
		<if test="parameter.materialName != null and parameter.materialName != ''">
			AND m.material_name LIKE
			concat('%',#{parameter.materialName},'%')
		</if>
		<if
			test="parameter.contactUserName != null and parameter.contactUserName !=''">
			AND c.contact_user_name LIKE
			concat('%',#{parameter.contactUserName},'%')
		</if>
		<if test="parameter.state != null and parameter.state != ''">
			AND (m.is_all_textbook_published =
			#{parameter.isAllTextbookPublished}
			OR m.is_force_end =
			#{parameter.isForceEnd})
			AND m.is_published = #{parameter.isPublished}
		</if>
		ORDER BY
		m.actual_deadline DESC,
		m.gmt_create DESC) t
	</select>


	<select id="listMaterialEnd" parameterType="PageParameter"
		resultType="MaterialListVO">
		SELECT DISTINCT
		m.id,
		m.material_name,
		m.deadline,
		m.actual_deadline,
		m.director,
		m.is_force_end,
		m.is_all_textbook_published,
		m.is_deleted,
		m.is_published,
		m.founder_id,
		m.project_permission,
		m.plan_permission,
		t1.gmt_create,
		pdu.dp_name
		FROM
		material m
		LEFT JOIN material_contact c
		ON m.id = c.material_id
		LEFT
		JOIN material_project_editor p ON
		p.material_id = m.id
		LEFT JOIN
		textbook e ON e.material_id = m.id
		LEFT
		JOIN pmph_user u ON m.founder_id =
		u.id
		left join pmph_department pdu on pdu.id = u.department_id
		left join (select t1.* from (select t1.gmt_create,t1.material_id from cms_content t1
		where t1.category_id = 3
		group by t1.material_id) t1 GROUP BY t1.material_id) t1 on t1.material_id = m.id
		WHERE m.is_deleted = FALSE
		<if test="parameter.isMy != null">
			AND (m.director = #{parameter.userId} OR p.editor_id =
			#{parameter.userId}
			OR e.planning_editor = #{parameter.userId} OR
			m.founder_id = #{parameter.userId})
		</if>
		<if test="parameter.materialName != null and parameter.materialName != ''">
			AND m.material_name LIKE
			concat('%',#{parameter.materialName},'%')
		</if>
		<if
			test="parameter.contactUserName != null and parameter.contactUserName !=''">
			AND c.contact_user_name LIKE
			concat('%',#{parameter.contactUserName},'%')
		</if>
		<if test="parameter.state != null and parameter.state != ''">
			AND (m.is_all_textbook_published =
			#{parameter.isAllTextbookPublished}
			OR m.is_force_end =
			#{parameter.isForceEnd})
			AND m.is_published = #{parameter.isPublished}
		</if>
		ORDER BY
		t1.gmt_create DESC,
		m.actual_deadline DESC
		<if test="start != null and pageSize != null">
			LIMIT #{start} , #{pageSize}
		</if>
	</select>
	<!-- 批量结果公布 -->
	<update id="updateMaterialPublished" parameterType="Material">
		update
		material
		set is_all_textbook_published= true
		where id = #{id}
	</update>
	<!-- 通过教材id查询该教材全部书籍 -->
	<select id="getMaterialAndTextbook" resultType="Textbook">
		select * from
		textbook tk
		left join material m on m.id=tk.material_id
		where m.id=#{id}
	</select>

	<select id="listMaterialSignUpEndTotal" parameterType="PageParameter"
			resultType="java.lang.Integer">
		SELECT count(*) FROM
		(SELECT DISTINCT m.id,
		m.material_name,
		m.deadline,
		m.actual_deadline,
		m.director,
		m.is_force_end,
		m.is_all_textbook_published,
		m.is_deleted,
		m.is_published,
		m.founder_id,
		m.project_permission,
		m.plan_permission,
		t1.gmt_create,
		pdu.dp_name
		FROM
		material m
		LEFT JOIN
		material_contact c ON m.id = c.material_id
		LEFT JOIN
		material_project_editor p ON p.material_id = m.id
		LEFT JOIN
		textbook e
		ON e.material_id = m.id
		LEFT JOIN pmph_user u ON m.founder_id
		= u.id
		left join pmph_department pdu on pdu.id = u.department_id
		left join (select t1.* from (select t1.gmt_create,t1.material_id from cms_content t1
		where t1.category_id = 3
		group by t1.material_id) t1 GROUP BY t1.material_id) t1 on t1.material_id = m.id
		WHERE
		m.is_deleted = FALSE
		<if test="parameter.isMy != null">
			AND (m.director = #{parameter.userId} OR p.editor_id =
			#{parameter.userId}
			OR e.planning_editor = #{parameter.userId} OR
			m.founder_id = #{parameter.userId})
		</if>
		<if test="parameter.materialName != null and parameter.materialName != ''">
			AND m.material_name LIKE
			concat('%',#{parameter.materialName},'%')
		</if>
		<if
				test="parameter.contactUserName != null and parameter.contactUserName !=''">
			AND c.contact_user_name LIKE
			concat('%',#{parameter.contactUserName},'%')
		</if>
		<if test="parameter.state != null and parameter.state != ''">
			AND m.is_published = #{parameter.isPublished}
			AND ((m.is_all_textbook_published =
			#{parameter.isAllTextbookPublished}
			and m.is_force_end =
			#{parameter.isForceEnd}))
			And m.actual_deadline &lt; curdate()

		</if>
		ORDER BY
		t1.gmt_create DESC,
		m.gmt_create DESC) t
	</select>
	<select id="listMaterialSignUpEnd" parameterType="PageParameter"
			resultType="MaterialListVO">
		SELECT DISTINCT m.id,
		m.material_name,
		m.deadline,
		m.actual_deadline,
		m.director,
		m.is_force_end,
		m.is_all_textbook_published,
		m.is_deleted,
		m.is_published,
		m.founder_id,
		m.project_permission,
		m.plan_permission,
		t1.gmt_create,
		pdu.dp_name
		FROM
		material m
		LEFT JOIN
		material_contact c ON m.id = c.material_id
		LEFT JOIN
		material_project_editor p ON p.material_id = m.id
		LEFT JOIN
		textbook e
		ON e.material_id = m.id
		LEFT JOIN pmph_user u ON m.founder_id
		= u.id
		left join pmph_department pdu on pdu.id = u.department_id
		left join (select t1.* from (select t1.gmt_create,t1.material_id from cms_content t1
		where t1.category_id = 3
		group by t1.material_id) t1 GROUP BY t1.material_id) t1 on t1.material_id = m.id
		WHERE
		m.is_deleted = FALSE
		<if test="parameter.isMy != null">
			AND (m.director = #{parameter.userId} OR p.editor_id =
			#{parameter.userId}
			OR e.planning_editor = #{parameter.userId} OR
			m.founder_id = #{parameter.userId})
		</if>
		<if test="parameter.materialName != null and parameter.materialName != ''">
			AND m.material_name LIKE
			concat('%',#{parameter.materialName},'%')
		</if>
		<if
				test="parameter.contactUserName != null and parameter.contactUserName !=''">
			AND c.contact_user_name LIKE
			concat('%',#{parameter.contactUserName},'%')
		</if>
		<if test="parameter.state != null and parameter.state != ''">
			AND m.is_published = #{parameter.isPublished}
			AND ((m.is_all_textbook_published =
			#{parameter.isAllTextbookPublished}
			and m.is_force_end =
			#{parameter.isForceEnd}))
			And m.actual_deadline &lt; curdate()

		</if>
		ORDER BY
		t1.gmt_create DESC,
		m.gmt_create DESC
		<if test="start != null and pageSize != null">
			LIMIT #{start} , #{pageSize}
		</if>
	</select>
	<!-- 通过书籍id获取教材信息 -->
	<select id="getMaterialByName" resultType="Material">
		select * from material m
		left join textbook t on t.material_id=m.id
		where t.id in
		<foreach collection="array" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
		GROUP BY m.id
	</select>

	<select id="listBook" parameterType="java.lang.String"
		resultType="Material">
		SELECT
		id,
		material_name
		FROM
		material
		WHERE
		1 = 1
		AND (
		is_all_textbook_published = TRUE
		OR is_force_end = TRUE
		)
		<if test="materialName != null">
			AND CONCAT('%',#{materialName},'%')
		</if>
	</select>

	<!-- 获取已经发布教材信息 -->
	<select id="listPublishedMaterial" resultType="Material">
		SELECT
		m.`id`,
		m.`material_name`
		FROM
		`material` m
		WHERE
		m.`is_published` = TRUE
		AND
		m.`is_deleted` = FALSE
		AND
		m.`is_force_end` = FALSE
	</select>
		<!--已结束-->
	<select id="listMaterialOrEndSignUpEnd" parameterType="PageParameter"
			resultType="MaterialListVO">
		SELECT DISTINCT m.id,
		m.material_name,
		m.deadline,
		m.actual_deadline,
		m.director,
		m.is_force_end,
		m.is_all_textbook_published,
		m.is_deleted,
		m.is_published,
		m.founder_id,
		m.project_permission,
		m.plan_permission,
		t1.gmt_create,
		pdu.dp_name
		FROM
		material m
		LEFT JOIN
		material_contact c ON m.id = c.material_id
		LEFT JOIN
		material_project_editor p ON p.material_id = m.id
		LEFT JOIN
		textbook e
		ON e.material_id = m.id
		LEFT JOIN pmph_user u ON m.director
		= u.id
		left join pmph_department pdu on pdu.id = u.department_id
		left join (select t1.* from (select t1.gmt_create,t1.material_id from cms_content t1
		where t1.category_id = 3
		group by t1.material_id) t1 GROUP BY t1.material_id) t1 on t1.material_id = m.id
		WHERE
		m.is_deleted = FALSE
		<if test="parameter.isMy != null">
			AND (m.director = #{parameter.userId} OR p.editor_id =
			#{parameter.userId}
			OR e.planning_editor = #{parameter.userId} OR
			m.founder_id = #{parameter.userId})
		</if>
		<if test="parameter.materialName != null and parameter.materialName != ''">
			AND m.material_name LIKE
			concat('%',#{parameter.materialName},'%')
		</if>
		<if
				test="parameter.contactUserName != null and parameter.contactUserName !=''">
			AND c.contact_user_name LIKE
			concat('%',#{parameter.contactUserName},'%')
		</if>
		<if test="parameter.state != null and parameter.state = '已结束'">
			AND (
			((m.is_all_textbook_published = 0 and m.is_force_end =0) AND m.is_published = 1 And m.actual_deadline &lt; curdate())
			OR
			((m.is_all_textbook_published =1 OR m.is_force_end = 1) AND m.is_published = 1)
			)
		</if>
		ORDER BY
		t1.gmt_create DESC,
		m.gmt_create DESC
		<if test="start != null and pageSize != null">
			LIMIT #{start} , #{pageSize}
		</if>
	</select>

	<select id="listMaterialOrEndSignUpEndTotal" parameterType="PageParameter"
			resultType="java.lang.Integer">
		select COUNT(*) from (
		SELECT DISTINCT m.id,
		m.material_name,
		m.deadline,
		m.actual_deadline,
		m.director,
		m.is_force_end,
		m.is_all_textbook_published,
		m.is_deleted,
		m.is_published,
		m.founder_id,
		m.project_permission,
		m.plan_permission,
		t1.gmt_create,
		pdu.dp_name
		FROM
		material m
		LEFT JOIN
		material_contact c ON m.id = c.material_id
		LEFT JOIN
		material_project_editor p ON p.material_id = m.id
		LEFT JOIN
		textbook e
		ON e.material_id = m.id
		LEFT JOIN pmph_user u ON m.director
		= u.id
		left join pmph_department pdu on pdu.id = u.department_id
		left join (select t1.* from (select t1.gmt_create,t1.material_id from cms_content t1
		where t1.category_id = 3
		group by t1.material_id) t1 GROUP BY t1.material_id) t1 on t1.material_id = m.id
		WHERE
		m.is_deleted = FALSE
		<if test="parameter.isMy != null">
			AND (m.director = #{parameter.userId} OR p.editor_id =
			#{parameter.userId}
			OR e.planning_editor = #{parameter.userId} OR
			m.founder_id = #{parameter.userId})
		</if>
		<if test="parameter.materialName != null and parameter.materialName != ''">
			AND m.material_name LIKE
			concat('%',#{parameter.materialName},'%')
		</if>
		<if
				test="parameter.contactUserName != null and parameter.contactUserName !=''">
			AND c.contact_user_name LIKE
			concat('%',#{parameter.contactUserName},'%')
		</if>
		<if test="parameter.state != null and parameter.state = '已结束'">
			AND (
					((m.is_all_textbook_published = 0 and m.is_force_end =0) AND m.is_published = 1 And m.actual_deadline &lt; curdate())
						OR
					((m.is_all_textbook_published =1 OR m.is_force_end = 1) AND m.is_published = 1)
				)
		</if>
		) tt
	</select>
</mapper>
