<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.OrgDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="parentId != null and parentId !=''">
				parent_id,
			</if>
			<if test="orgName != null and orgName !=''">
				org_name,
			</if>
			<if test="orgTypeId != null and orgTypeId !=''">
				org_type_id,
			</if>
			<if test="areaId != null and areaId !=''">
				area_id,
			</if>
			<if test="countactPerson != null and countactPerson !=''">
				contact_person,
			</if>
			<if test="countactPhone != null and countactPhone !=''">
				contact_phone,
			</if>
			<if test="note != null and note !=''">
				note,
			</if>
			<if test="sort != null and sort !=''">
				sort,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="parentId !=null and parentId !=''">
				#{parentId},
			</if>
			<if test="orgName !=null and orgName !=''">
				#{orgName},
			</if>
			<if test="orgTypeId !=null and orgTypeId !=''">
				#{orgTypeId},
			</if>
			<if test="areaId !=null and areaId !=''">
				#{areaId},
			</if>
			<if test="countactPerson !=null and countactPerson !=''">
				#{countactPerson},
			</if>
			<if test="countactPhone !=null and countactPhone !=''">
				#{countactPhone},
			</if>
			<if test="note !=null and note !=''">
				#{note},
			</if>
			<if test="sort !=null and sort !=''">
				#{sort},
			</if>
			<if test="isDeleted !=null">
				#{isDeleted},
			</if>
		</trim>
	</sql>

	<!-- 新增Org -->
	<insert id="addOrg" parameterType="Org">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into org (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>


	<!-- 根据id删除一个Org -->
	<delete id="deleteOrgById" parameterType="java.lang.Long">
		delete from org where
		id=#{id} ;
	</delete>

	<!-- 更新Org -->
	<update id="updateOrg" parameterType="Org">
		update org
		<set>
			<if test="parentId != null and parentId !=''">
				parent_id = #{parentId},
			</if>
			<if test="orgName != null and orgName !='' ">
				org_name = #{orgName},
			</if>
			<if test=" orgTypeId != null and orgTypeId !=''">
				org_type_id= #{orgTypeId},
			</if>
			<if test=" areaId != null and areaId !=''">
				area_id= #{areaId},
			</if>
			<if test=" countactPerson != null and countactPerson !=''">
				contact_person = #{countactPerson},
			</if>
			<if test="countactPhone != null and countactPhone !='' ">
				contact_phone = #{countactPhone},
			</if>
			<if test=" note != null and note !=''">
				note= #{note},
			</if>
			<if test=" sort != null and sort !=''">
				sort= #{sort},
			</if>
			<if test=" isDeleted != null ">
				is_deleted = #{isDeleted},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询一个Org -->
	<select id="getOrgById" parameterType="java.lang.Long"
		resultType="Org">
		select * from org where id=#{id} ;
	</select>
	<!-- 根据orgName模糊查询Org -->
	<select id="getListOrgByOrgName" parameterType="java.lang.String"
		resultType="Org">
		select * from org where 1=1
		<if test="orgName !=null">
			and org_name like #{orgName}
		</if>
	</select>

	<!-- 查询表单的数据总数 -->
	<select id="getOrgCount" resultType="Long">
		select
		count(*)
		from
		org
	</select>
</mapper>