<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.OrgDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="parentId != null and parentId !=''">
				parent_id,
			</if>
			<if test="orgName != null and orgName !=''">
				org_name,
			</if>
			<if test="orgTypeId != null and orgTypeId !=''">
				org_type_id,
			</if>
			<if test="areaId != null and areaId !=''">
				area_id,
			</if>
			<if test="contactPerson != null and contactPerson !=''">
				contact_person,
			</if>
			<if test="contactPhone != null and contactPhone !=''">
				contact_phone,
			</if>
			<if test="note != null and note !=''">
				note,
			</if>
			<if test="sort != null and sort !=''">
				sort,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id !=null ">
				#{id},
			</if>
			<if test="parentId !=null and parentId !=''">
				#{parentId},
			</if>
			<if test="orgName !=null and orgName !=''">
				#{orgName},
			</if>
			<if test="orgTypeId !=null and orgTypeId !=''">
				#{orgTypeId},
			</if>
			<if test="areaId !=null and areaId !=''">
				#{areaId},
			</if>
			<if test="contactPerson !=null and contactPerson !=''">
				#{contactPerson},
			</if>
			<if test="contactPhone !=null and contactPhone !=''">
				#{contactPhone},
			</if>
			<if test="note !=null and note !=''">
				#{note},
			</if>
			<if test="sort !=null and sort !=''">
				#{sort},
			</if>
			<if test="isDeleted !=null">
				#{isDeleted},
			</if>
		</trim>
	</sql>

	<!-- 新增Org -->
	<insert id="addOrg" parameterType="Org">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into org (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>

	<!-- 根据id查询一个Org -->
	<select id="getOrgById" parameterType="java.lang.Long"
		resultType="Org">
		select * from org where id=#{id} ;
	</select>

	<!-- 根据机构名称机构代码查询一个Org -->
	<select id="getOrgByNameAndUserName" resultType="Org">
		select DISTINCT
		a.*
		from org a
		LEFT JOIN org_user b on b.org_id = a.id
		where
		!a.is_deleted and !b.is_deleted and !b.is_disabled
		and a.org_name =
		#{name} and b.username = #{username} ;
	</select>

	<!--获取学校管理员审核列表 -->
	<select id="getSchoolAdminCheckList" parameterType="PageParameter"
		resultType="OrgVO">
		SELECT
		ou.`id`,o.`org_name`,ou.`username`,ou.`realname`,ou.`handphone`,
		ou.`email`,ou.`position`,ou.`title`,ou.`address`,
		ou.`postcode`,ou.`proxy`,ou.`progress`,t.count
		FROM
		`org` o
		LEFT JOIN
		`org_user` ou
		ON
		o.`id`=ou.`org_id`,
		(
		select
		count(*) count
		from
		org o
		left
		join
		`org_user` ou
		ON
		o.`id`=ou.`org_id`
		where
		ou.is_deleted = 0 and
		ou.is_proxy_upload=1
		<if test="parameter !=null ">
			<!-- 学校名称 -->
			<if test="parameter.orgName !=null and  parameter.orgName != '' ">
				and o.org_name like
				concat(concat('%',#{parameter.orgName}),'%')
			</if>
			<!-- 机构代码 -->
			<if test="parameter.username != null and parameter.username !='' ">
				and ou.username like
				concat(concat('%',#{parameter.username}),'%')
			</if>
			<!-- 管理员姓名 -->
			<if test="parameter.realname != null and parameter.realname !='' ">
				and (
				ou.`realname` like
				concat(concat('%',#{parameter.realname}),'%')
				OR
				ou.username LIKE
				CONCAT(CONCAT('%',#{parameter.realname}),'%')
				)
			</if>
			<!-- 审核状态 -->
			<if test="parameter.progress != null">
				and ou.progress = #{parameter.progress}
			</if>
		</if>
		)t
		where
		ou.is_deleted = 0 and ou.is_proxy_upload=1
		<if test="parameter !=null ">
			<!-- 学校名称 -->
			<if test="parameter.orgName !=null and  parameter.orgName != '' ">
				and o.org_name like
				concat(concat('%',#{parameter.orgName}),'%')
			</if>
			<!-- 机构代码 -->
			<if test="parameter.username != null and parameter.username !='' ">
				and ou.username like
				concat(concat('%',#{parameter.username}),'%')
			</if>
			<!-- 管理员姓名 -->
			<if test="parameter.realname != null and parameter.realname !='' ">
				and (
				ou.`realname` like
				concat(concat('%',#{parameter.realname}),'%')
				OR
				ou.username LIKE
				CONCAT(CONCAT('%',#{parameter.realname}),'%')
				)
			</if>
			<!-- 审核状态 -->
			<if test="parameter.progress != null">
				and ou.progress = #{parameter.progress}
			</if>
		</if>
		order by
		ou.sort
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<!--导出管理员信息 -->
	<select id="exportOrgUser" parameterType="OrgVO"
			resultType="OrgVO">
		SELECT
		ou.`id`,o.`org_name`,ou.`username`,ou.`realname`,ou.`handphone`,
		ou.`email`,ou.`position`,ou.`title`,ou.`address`,
		ou.`postcode`,ou.`proxy`,ou.`progress`
		FROM
		`org` o
		LEFT JOIN
		`org_user` ou
		ON
		o.`id`=ou.`org_id`
		where
		ou.is_deleted = 0 and ou.is_proxy_upload=1

			<!-- 学校名称 -->
			<if test="orgName !=null and  orgName != '' ">
				and o.org_name like
				concat(concat('%',#{orgName}),'%')
			</if>
			<!-- 机构代码 -->
			<if test="username != null and username !='' ">
				and ou.username like
				concat(concat('%',#{username}),'%')
			</if>
			<!-- 管理员姓名 -->
			<if test="realname != null and realname !='' ">
				and (
				ou.`realname` like
				concat(concat('%',#{realname}),'%')
				OR
				ou.username LIKE
				CONCAT(CONCAT('%',#{realname}),'%')
				)
			</if>
			<!-- 审核状态 -->
			<if test="progress != null">
				and ou.progress = #{progress}
			</if>

		order by
		ou.sort

	</select>

	<!--orgNmae模糊查询获取列表 -->
	<select id="listOrg" parameterType="PageParameter" resultType="OrgVO">
		select
		a.id,a.org_name,c.type_name orgTypeName,a.org_type_id,b.id
		areaId,a.parent_id,a.gmt_create
		,b.area_name,a.contact_person,a.contact_phone,a.sort,a.note,t.count
		from org a
		left join area b on a.area_id =b.id
		left join org_type c on
		a.org_type_id=c.id,
		(
		select count(*) count from org a
		left join area b
		on a.area_id =b.id
		left join org_type c on a.org_type_id=c.id
		where
		a.is_deleted = 0
		<if test="parameter !=null ">
			<if test="parameter.orgName !=null and  parameter.orgName != '' ">
				and a.org_name like
				concat(concat('%',#{parameter.orgName}),'%')
			</if>
			<if test="parameter.orgTypeId != null and parameter.orgTypeId != '' ">
				and c.id = #{parameter.orgTypeId}
			</if>
			<if test="parameter.areaId != null and parameter.areaId != '' ">
				and b.id = #{parameter.areaId}
			</if>
		</if>
		)t
		where a.is_deleted = 0
		<if test="parameter !=null ">
			<if test="parameter.orgName !=null and  parameter.orgName != '' ">
				and a.org_name like
				concat(concat('%',#{parameter.orgName}),'%')
			</if>
			<if test="parameter.orgTypeId != null and parameter.orgTypeId != ''">
				and c.id = #{parameter.orgTypeId}
			</if>
			<if test="parameter.areaId != null and parameter.areaId != '' ">
				and b.id = #{parameter.areaId}
			</if>
		</if>
		order by a.sort
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<!-- 系统消息——发送新消息——发送对象（学校管理员、所有人） -->
	<select id="listSendToSchoolAdminOrAllUser" parameterType="map"
		resultType="OrgVO">
		SET SESSION group_concat_max_len=102400; /*group_concat默认长度1024，部分学校名称被截断，故加长*/
		SELECT
		GROUP_CONCAT(o.`id`) id,
		GROUP_CONCAT(o.`org_name`)org_name,
		o.`area_id`,
		o.`parent_id`,
		GROUP_CONCAT(o.`org_type_id`)org_type_id,
		ar.`area_name`
		FROM
		<if test="materialId !=null ">
			`material_org` mo
			LEFT JOIN
			`org` o
			ON
			mo.`org_id` = o.`id`
		</if>
		<if test="materialId ==null ">
			`org` o
		</if>
		LEFT JOIN
		`org_type` ot
		ON
		o.`org_type_id` =
		ot.`id`
		LEFT JOIN
		`area` ar ON
		o.`area_id` = ar.`id`
		WHERE
		1=1
		<if test="orgName !=null and orgName != '' ">
			and o.`org_name` LIKE CONCAT(CONCAT('%',#{orgName},'%'))
		</if>
		<if test="materialId !=null ">
			AND mo.`material_id`= #{materialId}
		</if>
		GROUP BY
		o.`area_id`
		ORDER BY
		o.`area_id`,o.`id` ASC;
	</select>


	<!-- 系统消息——发送新消息——发送对象（学校管理员、所有人） -->
	<select id="listSendClinicalToSchoolAdminOrAllUser" parameterType="map"
			resultType="OrgVO">
		SET SESSION group_concat_max_len=102400; /*group_concat默认长度1024，部分学校名称被截断，故加长*/
		SELECT
		GROUP_CONCAT(o.`id`) id,
		GROUP_CONCAT(o.`org_name`)org_name,
		o.`area_id`,
		o.`parent_id`,
		GROUP_CONCAT(o.`org_type_id`)org_type_id,
		ar.`area_name`
		FROM
		<if test="productId !=null ">
			`product_org` mo
			LEFT JOIN
			`org` o
			ON
			mo.`org_id` = o.`id`
		</if>
		<if test="productId ==null ">
			`org` o
		</if>
		LEFT JOIN
		`org_type` ot
		ON
		o.`org_type_id` =
		ot.`id`
		LEFT JOIN
		`area` ar ON
		o.`area_id` = ar.`id`
		WHERE
		1=1
		<if test="orgName !=null and orgName != '' ">
			and o.`org_name` LIKE CONCAT(CONCAT('%',#{orgName},'%'))
		</if>
		<if test="productId !=null ">
			AND mo.`product_id`= #{productId}
		</if>
		GROUP BY
		o.`area_id`
		ORDER BY
		o.`area_id`,o.`id` ASC;
	</select>

	<!-- 新增用户或者修改用户是加载的机构 -->
	<select id="listOrgByOrgName" parameterType="String" resultType="OrgVO">
		select id,org_name from org where org_name like #{orgName};
	</select>

	<!-- 查询表单的数据总数 -->
	<select id="getOrgCount" resultType="Long">
		select
		count(*)
		from
		org
	</select>

	<!-- 更新Org -->
	<update id="updateOrg" parameterType="Org">
		update org
		<set>
			<if test="parentId != null and parentId !=''">
				parent_id = #{parentId},
			</if>
			<if test="orgName != null and orgName !='' ">
				org_name = #{orgName},
			</if>
			<if test=" orgTypeId != null and orgTypeId !=''">
				org_type_id= #{orgTypeId},
			</if>
			<if test=" areaId != null and areaId !=''">
				area_id= #{areaId},
			</if>
			<if test=" contactPerson != null and contactPerson !=''">
				contact_person = #{contactPerson},
			</if>
			<if test="contactPhone != null and contactPhone !='' ">
				contact_phone = #{contactPhone},
			</if>
			<if test=" note != null and note !=''">
				note= #{note},
			</if>
			<if test=" sort != null and sort !=''">
				sort= #{sort},
			</if>
			<if test=" isDeleted != null ">
				is_deleted = #{isDeleted},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id删除一个Org -->
	<delete id="deleteOrgById" parameterType="java.lang.Long">
		delete from
		org
		where
		id=#{id} ;
	</delete>

	<!-- 根据orgName查询Org -->
	<select id="getOrgByOrgName" parameterType="java.lang.String"
		resultType="Org">
		select * from org where org_name=#{orgName} ;
	</select>
	<!-- 根据typeId查询Org -->
	<select id="listOrgByOrgType" parameterType="java.lang.Long"
		resultType="Org">
		select * from org where org_type_id=#{typeId} ;
	</select>
	<!-- 根据orgName查询id -->
	<select id="getOrgid" parameterType="String" resultType="Long">
		select
		id from org where org_name=#{orgName} ;
	</select>

	<!-- 根据书籍获取当选了该书籍的人员所属机构 -->
	<select id="listBeElectedOrgByBookIds" parameterType="list"
		resultType="Org">
		select DISTINCT DISTINCT a.*
		from org a
		LEFT JOIN declaration b on
		b.org_id = a.id
		LEFT JOIN dec_position c on c.declaration_id=b.id
		LEFT
		JOIN textbook d on d.id = c.textbook_id
		where
		b.is_staging =false and
		b.online_progress != 2
		and c.chosen_position in (1, 2,4,8,9,10,12) and
		d.is_published = true
		and b.id is not null and c.id is not null and
		d.id is not null
		and d.id in
		<foreach item="bookId" collection="list" open="(" separator=","
			close=")">
			#{bookId}
		</foreach>
	</select>

	<!-- 根据书籍获取当选了该书籍的人员所属机构 修改-->
	<select id="listBeElectedOrgByBookIds_up1" parameterType="list"
			resultType="Org">
		SELECT
		a.*
		FROM
		org a
		left join writer_user  wu on wu.org_id = a.id
		LEFT JOIN declaration b ON b.user_id = wu.id
		LEFT JOIN dec_position c ON c.declaration_id = b.id
		LEFT JOIN textbook d ON d.id = c.textbook_id
		where
		b.is_staging =false and
		b.online_progress != 2
		and c.chosen_position in (1, 2,4,8,9,10,12)
		and b.id is not null and c.id is not null and
		d.id is not null
		and d.id in
		<foreach item="bookId" collection="list" open="(" separator=","
				 close=")">
			#{bookId}
		</foreach>
	</select>

	<!-- 所有学校导出 -->
	<select id="listAllOrgToExcel" resultType="OrgExclVO">
		SELECT
		o.`org_name`,
		ou.`username`,
		ar.`area_name`
		FROM
		`org` o
		LEFT JOIN
		`org_user` ou
		ON
		o.`id`
		= ou.`org_id`
		JOIN
		`area` ar
		ON
		o.`area_id` = ar.`id`
		where 1=1

			<if test="chooseOrg != null and chooseOrg != ''  ">
				and o.id in
				<foreach collection="chooseOrg " item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>

		ORDER BY
		o.`area_id`,o.`id` ASC ;
	</select>

</mapper>
