<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.OrgUserDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="username != null and username !=''">
				username,
			</if>
			<if test="password != null and password !=''">
				password,
			</if>
			<if test="isDisabled != null">
				is_disabled,
			</if>
			<if test="orgId != null and orgId !=''">
				org_id,
			</if>
			<if test="email != null and email != '' ">
				email,
			</if>
			<if test="realname != null ">
				realname,
			</if>
			<if test="sex != null and sex !=''">
				sex,
			</if>
			<if test="position != null and position !=''">
				position,
			</if>
			<if test="title != null and title !=''">
				title,
			</if>
			<if test="fax != null and fax !=''">
				fax,
			</if>
			<if test="handphone != null and handphone !=''">
				handphone,
			</if>
			<if test="telephone != null and telephone !=''">
				telephone,
			</if>
			<if test="idcard != null and idcard !=''">
				idcard,
			</if>
			<if test="address != null and address !=''">
				address,
			</if>
			<if test="postcode != null and postcode !=''">
				postcode,
			</if>
			<if test="avatar !=null and avatar !=''">
				avatar,
			</if>
			<if test="isProxyUpload != null and isProxyUpload !=''">
				is_proxy_upload,
			</if>
			<if test="proxy != null and proxy !=''">
				proxy,
			</if>
			<if test="progress != null and progress !=''">
				progress,
			</if>
			<if test="reviewDate != null ">
				review_date,
			</if>
			<if test="note != null and note !=''">
				note,
			</if>
			<if test="sort != null and sort !=''">
				sort,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="username != null and username !=''">
				#{username},
			</if>
			<if test="password != null and password !=''">
				#{password},
			</if>
			<if test="isDisabled != null">
				#{isDisabled},
			</if>
			<if test="orgId != null and orgId !=''">
				#{orgId},
			</if>
			<if test="email != null and email != ''">
				#{email},
			</if>
			<if test="realname != null ">
				#{realname},
			</if>
			<if test="sex != null and sex !=''">
				#{sex},
			</if>
			<if test="position != null and position !=''">
				#{position},
			</if>
			<if test="title != null and title !=''">
				#{title},
			</if>
			<if test="fax != null and fax !=''">
				#{fax},
			</if>
			<if test="handphone != null and handphone !=''">
				#{handphone},
			</if>
			<if test="telephone != null and telephone !=''">
				#{telephone},
			</if>
			<if test="idcard != null and idcard !=''">
				#{idcard},
			</if>
			<if test="address != null and address !=''">
				#{address},
			</if>
			<if test="postcode != null and postcode !=''">
				#{postcode},
			</if>
			<if test="avatar !=null and avatar !=''">
				#{avatar},
			</if>
			<if test="isProxyUpload != null and isProxyUpload !=''">
				#{isProxyUpload},
			</if>
			<if test="proxy != null and proxy !=''">
				#{proxy},
			</if>
			<if test="progress != null and progress !=''">
				#{progress},
			</if>
			<if test="reviewDate != null ">
				#{reviewDate},
			</if>
			<if test="note != null and note !=''">
				#{note},
			</if>
			<if test="sort != null and sort !=''">
				#{sort},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
		</trim>
	</sql>
	<!-- 新增OrgUser -->
	<insert id="addOrgUser" parameterType="OrgUser">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into org_user (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>

	<!-- 根据id删除一个OrgUser -->
	<delete id="deleteOrgUserById" parameterType="java.lang.Long">
		delete from
		org_user where id=#{id} ;
	</delete>

	<!-- 更新OrgUser -->
	<update id="updateOrgUser" parameterType="OrgUser">
		update
		org_user
		<set>
			<if test="username != null and username !=''">
				username = #{username},
			</if>
			<if test="password != null and password !='' ">
				password = #{password},
			</if>
			<if test=" isDisabled != null ">
				is_disabled= #{isDisabled},
			</if>
			<if test=" orgId != null and orgId !=''">
				org_id= #{orgId},
			</if>
			<if test=" email != null ">
				email= #{email},
			</if>
			<if test=" realname != null ">
				realname = #{realname},
			</if>
			<if test="sex != null and sex !=''">
				sex = #{sex},
			</if>
			<if test="position != null and position !='' ">
				position = #{position},
			</if>
			<if test=" title != null and title !=''">
				title= #{title},
			</if>
			<if test=" fax != null and fax !=''">
				fax= #{fax},
			</if>
			<if test=" handphone != null ">
				handphone = #{handphone},
			</if>

			<if test="telephone != null and telephone !=''">
				telephone = #{telephone},
			</if>
			<if test="idcard != null and idcard !='' ">
				idcard = #{idcard},
			</if>
			<if test=" address != null and address !=''">
				address= #{address},
			</if>
			<if test=" postcode != null and postcode !=''">
				postcode= #{postcode},
			</if>
			<if test="avatar !=null and avatar !=''">
				avatar = #{avatar},
			</if>
			<if test=" isProxyUpload != null and isProxyUpload !=''">
				is_proxy_upload = #{isProxyUpload},
			</if>
			<if test=" proxy != null and proxy !=''">
				proxy = #{proxy},
			</if>
			<if test=" progress != null and progress !=''">
				progress = #{progress},
			</if>
			<if test=" reviewDate != null ">
				review_date = #{reviewDate},
			</if>
			<if test=" note != null and note !=''">
				note = #{note},
			</if>
			<if test="sort != null and sort !=''">
				sort = #{sort},
			</if>
			<if test="isDeleted != null  ">
				is_deleted = #{isDeleted},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 学校管理员审核(按Id更新审核状态) -->
	<update id="updateOrgUserProgressById" parameterType="java.util.List">
		<foreach item="item" collection="list" index="index" open=""
			separator=";">
			update
			org_user
			<set>
				progress = #{item.progress}
				<if test="item.backReason !=null and item.backReason != '' ">
					,backReason =   #{item.backReason}
				</if>
			</set>
			where
			id=#{item.id}
		</foreach>
	</update>

	<!-- 根据id集合查询一个OrgUser -->
	<select id="getOrgUserByIds" parameterType="list" resultType="OrgUser">
		select
		*
		from
		org_user
		where
		id
		in
		<foreach item="item" collection="list" separator="," open="("
			close=")" index="">
			#{item}
		</foreach>
	</select>

	<!-- 根据id查询一个OrgUser -->
	<select id="getOrgUserById" parameterType="java.lang.Long"
		resultType="OrgUser">
		select * from org_user where id=#{id} ;
	</select>

	<!-- 根据机构id集查询用户 -->
	<select id="getOrgUserListByOrgIds" resultType="OrgUser"
		parameterType="list">
		select
		*
		from
		org_user
		where
		<!-- is_disabled =0 and -->
		is_deleted =0
		and
		org_id
		in
		<foreach item="item" collection="list" separator="," open="("
			close=")" index="">
			#{item}
		</foreach>
	</select>

	<!-- 分页查询 -->
	<select id="getListOrgUserTotal" parameterType="PageParameter"
		resultType="java.lang.Integer">
		select count(*) from org o left join org_user u on o.id = u.org_id
		left join org_type ot on ot.id=o.org_type_id
		where 1=1
		<if test="parameter.name !=null and parameter.name !='' ">
			and (u.username like concat('%',#{parameter.name},'%' )
			or
			u.realname
			like
			concat('%',#{parameter.name},'%' ) )
		</if>

		<if test="parameter.orgName !=null and parameter.orgName !=''">
			and o.org_name like concat('%',#{parameter.orgName},'%')
		</if>
		<if test="parameter.isHospital == 1">
			and ot.type_name="医院"
		</if>
		<if test="parameter.isHospital == 2">
			and ot.type_name!="医院"
		</if>
		<if test="parameter.orgTypeName !=null and parameter.orgTypeName !=''">
			and ot.type_name=#{parameter.orgTypeName}
		</if> <!-- <if test="parameter.school !=null and parameter.school !='' "> and ot.type_name!=#{parameter.school} 
			</if> <if test="parameter.hospital !=null and parameter.hospital !='' "> 
			and ot.type_name =#{parameter.hospital} </if> -->
	</select>
	<select id="getListOrgUser" parameterType="PageParameter"
		resultType="OrgAndOrgUserVO">
		select
		ou.id,o.org_name,ou.username,ou.realname,ou.handphone,ou.email,ou.address,o.area_id,ou.postcode,
		ou.is_disabled isDisabled,ot.type_name
		orgTypeName,ou.position,ou.title,ou.note,
		ou.org_id,ot.id orgTypeId
		from org o
		left join org_user ou on ou.org_id=o.id
		left join org_type ot
		on ot.id=o.org_type_id
		where 1=1
		<if test="parameter.name !=null and parameter.name !='' ">
			and (ou.username like concat('%',#{parameter.name},'%' )
			or
			ou.realname like
			concat('%',#{parameter.name},'%' ) )
		</if>
		<if test="parameter.orgName !=null and parameter.orgName !=''">
			and o.org_name like concat('%',#{parameter.orgName},'%')
		</if>
		<if test="parameter.isHospital == 1">
			and ot.type_name="医院"
		</if>
		<if test="parameter.isHospital == 2">
			and ot.type_name!="医院"
		</if>
		<if test="parameter.orgTypeName !=null and parameter.orgTypeName !=''">
			and ot.type_name=#{parameter.orgTypeName}
		</if><!-- <if test="parameter.school !=null and parameter.school !='' "> 
			and ot.type_name!=#{parameter.school} </if> <if test="parameter.hospital 
			!=null and parameter.hospital !='' "> and ot.type_name =#{parameter.hospital} 
			</if> -->
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<!-- 查询表单的数据总数 -->
	<select id="getOrgUserCount" resultType="Long">
		select
		count(*)
		from
		org_user
	</select>

	<!-- 根据机构id查询OrgUser -->
	<select id="listOrgUserByOrgId" parameterType="java.lang.Long"
		resultType="OrgUser">
		select * from org_user where org_id=#{orgId} ;
	</select>

	<!-- 根据机构username查询OrgUser -->
	<select id="getOrgUsername" parameterType="java.lang.String"
		resultType="OrgUser">
		select * from org_user where username=#{username} ;
	</select>
	<!-- 机构认证总数量 -->
	<select id="geCount" resultType="java.lang.Integer">
		select
		count(*) count
		from
		org o
		left
		join
		`org_user` ou
		ON
		o.`id`=ou.`org_id`
		where
		ou.is_deleted = 0 and
		ou.is_proxy_upload=1
		and ou.progress =0
	</select>

	<!-- 根据机构id查询机构管理员 -->
	<select id="getOrgUserByOrgId" resultType="OrgUser"
		parameterType="java.lang.Long">
		select
		*
		from
		org_user
		where
		org_id =
		#{orgId}
	</select>

	<select id="getListAllOrgUser" parameterType="PageParameter"
		resultType="OrgAndOrgUserVO">
		select
		ou.id,o.org_name,ou.username,ou.realname,ou.handphone,ou.email,ou.address,o.area_id,
		ou.is_disabled isDisabled,ot.type_name
		orgTypeName,ou.position,ou.title,ou.note,
		ou.org_id,ot.id
		orgTypeId,t.count
		from org o
		left join org_user ou on ou.org_id=o.id
		left join org_type ot
		on ot.id=o.org_type_id,(
		select
		count(*) `count`
		from
		org o
		left join
		org_user ou on ou.org_id=o.id
		left join
		org_type ot
		on
		ot.id=o.org_type_id
		where 1=1
		<if test="parameter.name !=null and parameter.name !='' ">
			and (
			ou.username like concat('%',#{parameter.name},'%')
			or
			ou.realname like concat('%',#{parameter.name},'%')
			)
		</if>
		<if test="parameter.orgName !=null and parameter.orgName !=''">
			and o.org_name like concat('%',#{parameter.orgName},'%')
		</if>
		)t
		where 1=1
		<if test="parameter.name !=null and parameter.name !='' ">
			and (ou.username like concat('%',#{parameter.name},'%' )
			or
			ou.realname like
			concat('%',#{parameter.name},'%' ) )
		</if>
		<if test="parameter.orgName !=null and parameter.orgName !=''">
			and o.org_name like concat('%',#{parameter.orgName},'%')
		</if>
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
</mapper>
