<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.OrgUserMessageDao">

	<!-- 新增 OrgUserMessage -->
    <insert id="addOrgUserMessage"  parameterType="OrgUserMessage"  useGeneratedKeys="true" keyProperty="id"  >
        insert  into  org_user_message (msg_id ,user_id,is_read,is_deleted) 
                     	     values(#{msgId},#{userId},#{isRead},#{isDeleted}) ;
    </insert>
    
   <!-- 根据id删除一个 OrgUserMessage -->
	<delete id="deleteOrgUserMessageById" parameterType="OrgUserMessage"   >
		delete from  org_user_message where where id=#{id} ;
	</delete>
	
	<!-- 更新 OrgUserMessage -->
	<update id="updateOrgUserMessageById"   parameterType="OrgUserMessage"  >
		update org_user_message  
		    set msg_id=#{msgId} ,user_id=#{userId},is_read=#{isRead},is_deleted =#{isDeleted} 
	    where id=#{id} ;
	</update>
	
	<!-- 根据id查询一个 OrgUserMessage -->
	<select  id="getOrgUserMessageById" parameterType="OrgUserMessage"  resultType="OrgUserMessage" >
		select * from org_user_message where id=#{id} ;
	</select>
	
</mapper>