<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.PmphPermissionDao">
	<sql id="key">
        <!-- 去掉最后一个, -->
        <trim suffixOverrides=",">
            <if test="parentId!=null">
                parent_id,
            </if>
            <if test="path!=null">
                path,
            </if>
            <if test="peermissionName!=null">
                permission_name,
            </if>
             <if test="menuName!=null">
                menu_name,
            </if>
             <if test="url!=null">
                url,
            </if>
             <if test="isDeleted!=null">
                is_disabled,
            </if>
             <if test="note!=null">
                note,
            </if>
             <if test="sort!=null">
                sort,
            </if>
             <if test="gmtCreate!=null">
                gmt_create,
            </if> 
            <if test="gmtUpdate!=null">
                gmt_update,
            </if>
        </trim>
    </sql>
    <!-- sql片段对应?,id属性值任意 -->
    <sql id="value">
        <!-- 去掉最后一个, -->
        <trim suffixOverrides=",">
            <if test="parentId!=null">
                #{parentId},
            </if>
            <if test="path!=null">
               #{path},
            </if>
            <if test="peermissionName!=null">
               #{peermissionName},
            </if>
             <if test="menuName!=null">
                #{menuName},
            </if>
             <if test="url!=null">
                #{url},
            </if>
             <if test="isDeleted!=null">
              #{isDeleted},
            </if>
             <if test="note!=null">
                #{note},
            </if>
             <if test="sort!=null">
                #{sort},
            </if>
             <if test="gmtCreate!=null">
               #{gmtCreate},
            </if> 
            <if test="gmtUpdate!=null">
                #{gmtUpdate},
            </if>
        </trim>
    </sql>
	<!-- 新增 PmphPermission -->
    <insert id="addPmphPermission"  parameterType="PmphPermission"  useGeneratedKeys="true" keyProperty="id"  >
    	 INSERT INTO pmph_permission
        	(<include refid="key"/>)
        VALUES
        	(<include refid="value"/>);
    </insert>
    
   <!-- 根据id删除一个 -->
	<delete id="deletePmphPermissionById" parameterType="PmphPermission"   >
		delete from  pmph_permission where where id=#{id} ;
	</delete>
	
	<!-- 更新PmphPermission -->
	<update id="updatePmphPermissionById"   parameterType="PmphPermission"  >
		update pmph_permission  
		  set   permission_name=#{peermissionName},is_disabled=#{idDeleted},note=#{note},sort=#{sort} where id=#{id} ;
	</update>
	
	<!-- 根据id查询一个PmphPermission -->
	<select  id="getPmphPermissionById" parameterType="PmphPermission"  resultType="PmphPermission" >
		select * from pmph_permission where id=#{id} ;
	</select>
	
	<select id="getListResource" resultType="PmphPermission">
        SELECT
             `id`,
            `parent_id`,
            `path`,
            `permission_name`,
            `menu_name`,
            `url`
        FROM
          `pmph_permission`
    </select>
    
    <delete id="delete" parameterType="int">
        DELETE FROM pmph_permission
        WHERE id = #{id}
    </delete>

    <select id="get" parameterType="int" resultType="PmphPermission">
        SELECT
            `id`,
            `parent_id`,
            `path`,
            `permission_name`,
            `menu_name`,
            `url`
        FROM
          `pmph_permission`
        WHERE id = #{id}
    </select>
</mapper>