<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.PmphRolePermissionDao">
	<sql id="key">
        <!-- 去掉最后一个, -->
        <trim suffixOverrides=",">
            <if test="roleId!=null">
                role_id,
            </if>
            <if test="permissionId!=null">
                permission_id,
            </if>
        </trim>
    </sql>
    <!-- sql片段对应?,id属性值任意 -->
    <sql id="value">
        <!-- 去掉最后一个, -->
        <trim suffixOverrides=",">
            <if test="roleId!=null">
                #{roleId},
            </if>
            <if test="permissionId!=null">
               #{permissionId},
            </if>
        </trim>
    </sql>
	<!-- 新增 PmphRolePermission -->
    <insert id="addPmphRolePermission"  parameterType="PmphRolePermission"  useGeneratedKeys="true" keyProperty="id"  >
         insert  into  pmph_role_permission
         	 (<include refid="key"/>)
         VALUES
        	(<include refid="value"/>);
    </insert>
    
   <!-- 根据id删除一个 PmphRolePermission -->
	<delete id="deletePmphRolePermissionById" parameterType="PmphRolePermission"   >
		delete from  pmph_role_permission where where id=#{id} ;
	</delete>
	
	<!-- 更新 PmphRolePermission -->
	<update id="updatePmphRolePermissionById"   parameterType="PmphRolePermission"  >
		update pmph_role_permission  set role_id=#{roleId},permission_id= #{permissionId}   where id=#{id} ;
	</update>
	
	<!-- 根据id查询一个 PmphRolePermission -->
	<select  id="getPmphRolePermissionById" parameterType="PmphRolePermission"  resultType="PmphRolePermission" >
		select * from pmph_role_permission where id=#{id} ;
	</select>
	
</mapper>