<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.PmphGroupDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="groupName != null and groupName !=''">
				group_name,
			</if>
			<if test="groupImage != null and groupImage !=''">
				group_image,
			</if>
			<if test="founderId != null">
				founder_id,
			</if>
			<if test="bookId != null">
				book_id,
			</if>
			<if test="note != null and note !=''">
				note,
			</if>
			<if test="gmtLastMessage !=null ">
				gmt_last_message,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="groupName !=null and groupName !=''">
				#{groupName},
			</if>
			<if test="groupImage !=null and groupImage !=''">
				#{groupImage},
			</if>
			<if test="founderId !=null">
				#{founderId},
			</if>
			<if test="bookId !=null">
				#{bookId},
			</if>
			<if test="note !=null and note !=''">
				#{note},
			</if>
			<if test="gmtLastMessage !=null ">
				#{gmtLastMessage},
			</if>
		</trim>
	</sql>

	<!-- 新增 PmphGroup -->
	<insert id="addPmphGroup" parameterType="PmphGroup">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pmph_group
		(
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>

	<!-- 根据id删除一个 PmphGroup -->
	<delete id="deletePmphGroupById" parameterType="java.lang.Long">
		delete from
		pmph_group where id=#{id} ;
	</delete>

	<!-- 更新 PmphGroup -->
	<update id="updatePmphGroup" parameterType="PmphGroup">
		update
		pmph_group
		<set>
			<if test="groupName != null and groupName !=''">
				group_name = #{groupName},
			</if>
			<if test="groupImage != null and groupImage !='' ">
				group_image = #{groupImage},
			</if>
			<if test=" founderId != null and founderId !=''">
				founder_id= #{founderId},
			</if>
			<if test=" bookId != null and bookId !=''">
				book_id= #{bookId},
			</if>
			<if test=" note != null and note !=''">
				note = #{note},
			</if>
			<if test="gmtLastMessage !=null ">
				gmt_Last_Message = #{gmtLastMessage},
			</if>
		</set>
		where id=#{id} ;
	</update>
	<!-- 根据id获取PmphGroup -->
	<select id="getPmphGroupById" parameterType="java.lang.Long"
		resultType="PmphGroup">
		select * from pmph_group where id = #{id} ;
	</select>

	<!-- 根据id获取PmphGroup -->
	<select id="getPmphGroupByTextbookId" parameterType="java.lang.Long"
		resultType="PmphGroup">
		select * from pmph_group where book_id = #{textbookId} ;
	</select>

	<!-- 查当前用户的小组列表 -->
	<select id="getList" parameterType="PmphGroup" resultType="PmphGroupListVO">
		select
		g.id,
		g.group_name,
		g.group_image,
		g.gmt_last_message
		gmtLastMessage,
		g.book_id,
		t.textbook_name bookName,
		(select CONCAT(pge.display_name,':',pgm.msg_content)msg_content
		from pmph_group_message pgm LEFT JOIN  pmph_group_member  pge on pgm.member_id=pge.id
		where pgm.group_id=g.id and pgm.member_id >0 ORDER BY pgm.gmt_create desc LIMIT 0,1) as msg_content,
		if(g.gmt_create>IFNULL(g.gmt_last_message,0) ,g.gmt_create,gmt_last_message)as gmtOrder
		from
		pmph_group g
		LEFT
		JOIN textbook t ON g.book_id = t.id
		where
		g.id
		in (
		select DISTINCT
		group_id from pmph_group_member where user_id = #{id} and
		is_writer =
		false AND is_deleted = FALSE
		)
		<if test="pmphGroup.groupName != null and pmphGroup.groupName !=''">
			and g.group_name like
			concat(concat('%',#{pmphGroup.groupName}),'%')
		</if>
		GROUP BY
		g.id
		order by
		gmtOrder desc
	</select>

	<!-- 查当前用户的小组列表总数 -->
	<select id="getPmphGroupCount" resultType="Long">
		select
		count(*)
		from
		pmph_group
	</select>

	<!-- 查当前用户的小组列表 -->
	<select id="listPmphGroup" parameterType="java.lang.String"
		resultType="PmphGroupListVO">
		SELECT
		g.id,
		g.group_name,
		g.group_image,
		g.gmt_last_message
		gmtLastMessage,
		g.book_id,
		t.textbook_name bookName,
		(select CONCAT(pge.display_name,':',pgm.msg_content) msg_content
		from pmph_group_message pgm LEFT JOIN  pmph_group_member  pge on pgm.member_id=pge.id
		where pgm.group_id=g.id and pgm.member_id >0 ORDER BY pgm.gmt_create desc LIMIT 0,1) as msg_content,
		if(g.gmt_create>IFNULL(g.gmt_last_message,0) ,g.gmt_create,gmt_last_message)as gmtOrder,
		COUNT(f.id) files
		FROM
		pmph_group g
		LEFT JOIN textbook t ON g.book_id = t.id
		LEFT JOIN
		pmph_group_file f ON f.group_id = g.id
		where
		1=1
		<if test="_parameter != null and _parameter !=''">
			and g.group_name like
			concat('%',#{groupName},'%')
		</if>
		GROUP BY g.id
		order by
		gmtOrder desc
	</select>

	<!-- 根据小组名称获取PmphGroup -->
	<select id="getPmphGroupByGroupName" parameterType="java.lang.String"
		resultType="PmphGroup">
		select * from pmph_group where group_name = #{groupName} ;
	</select>
	<!--分页查询小组 -->
	<select id="getListPmphGroup" parameterType="PageParameter" resultType="PmphGroupListVO"> 
		select
		g.id,g.group_name,g.group_image,g.gmt_last_message gmtLastMessage,
		g.book_id,t.textbook_name bookName
		from pmph_group g
		LEFT JOIN textbook t ON g.book_id = t.id
		where g.id in (
			select DISTINCT
				group_id from pmph_group_member where 1=1
				<if test="parameter.id != null">
				and user_id = #{parameter.id}
				</if>
				and is_writer =false AND is_deleted = FALSE)
		<if test="parameter.groupName != null and parameter.groupName !=''">
			and g.group_name like
			concat(concat('%',#{parameter.groupName}),'%')
		</if>
		GROUP BY g.id
		order by gmt_last_message desc , group_name 
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!--admin分页查询小组 -->
	<select id="getPmphGroupList" parameterType="PageParameter" resultType="PmphGroupListVO">
		SELECT
		g.id,g.group_name,g.group_image,g.gmt_last_message gmtLastMessage,
		g.book_id,t.textbook_name bookName, COUNT(f.id) files
		FROM pmph_group g
		LEFT JOIN textbook t ON g.book_id = t.id
		LEFT JOIN pmph_group_file f ON f.group_id = g.id
		where 1=1
		<if test="parameter.groupName != null and parameter.groupName !=''">
			and g.group_name like
			concat('%',#{parameter.groupName},'%')
		</if>
		GROUP BY g.id
		order by gmt_last_message desc , group_Name 
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- admin查询小组总条数 -->
	<select id="getAdminCount" resultType="java.lang.Integer">
		select count(*) from pmph_group;
	</select>
	<!-- 查询小组总条数 -->
	<select id="getPmphGroupTotal"   resultType="java.lang.Integer" parameterType="PageParameter">
		select
		count(*)
		from pmph_group g
		LEFT JOIN textbook t ON g.book_id = t.id
		where g.id in (select DISTINCT
				group_id from pmph_group_member where 1=1
				<if test="parameter.id != null">
				and user_id = #{parameter.id}
				</if>
				and is_writer =false AND is_deleted = FALSE)
	</select>
</mapper>
