<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.PmphUserDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="username!=null and username != '' ">
				username,
			</if>
			<if test="password!=null and password != '' ">
				password,
			</if>
			<if test="isDisabled!=null ">
				is_disabled,
			</if>
			<if test="realname!=null and realname != '' ">
				realname,
			</if>
			<if test="departmentId!=null ">
				department_id,
			</if>
			<if test="handphone!=null and handphone != '' ">
				handphone,
			</if>
			<if test="email!=null and email != '' ">
				email,
			</if>
			<if test="avatar!=null and avatar != '' ">
				avatar,
			</if>
			<if test="note!=null and note != '' ">
				note,
			</if>
			<if test="sort!=null ">
				sort,
			</if>
			<if test="isDeleted!=null">
				is_deleted,
			</if>
			<if test="isDirector != null">
				is_director,
			</if>
			<if test="gmtCreate!=null">
				gmt_create,
			</if>
			<if test="gmtUpdate!=null">
				gmt_update,
			</if>
			<if test="openid!=null">
				openid,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="username!=null and username != ''">
				#{username},
			</if>
			<if test="password!=null and password != ''">
				#{password},
			</if>
			<if test="isDisabled!=null">
				#{isDisabled},
			</if>
			<if test="realname!=null and realname != ''">
				#{realname},
			</if>
			<if test="departmentId!=null ">
				#{departmentId},
			</if>
			<if test="handphone!=null and handphone != ''">
				#{handphone},
			</if>
			<if test="email!=null and email != ''">
				#{email},
			</if>
			<if test="avatar!=null and avatar != ''">
				#{avatar},
			</if>
			<if test="note!=null and note != ''">
				#{note},
			</if>
			<if test="sort!=null ">
				#{sort},
			</if>
			<if test="isDeleted!=null">
				#{isDeleted},
			</if>
			<if test="isDirector!=null">
				#{isDirector},
			</if>
			<if test="gmtCreate!=null">
				#{gmtCreate},
			</if>
			<if test="gmtUpdate!=null">
				#{gmtUpdate},
			</if>
			<if test="openid!=null">
				#{openid},
			</if>
		</trim>
	</sql>
	<insert id="add" parameterType="PmphUser" useGeneratedKeys="true"
		keyProperty="id">
		<!-- sql片段对应字段名,id属性值任意 -->
		INSERT INTO pmph_user
		(
		<include refid="key" />
		)
		VALUES
		(
		<include refid="value" />
		);
	</insert>

	<!-- 动态更新对象的写法 -->
	<update id="update" parameterType="PmphUser">
		UPDATE pmph_user
		<set>
			<!-- 写这个的目的是保证一个 id不为空的空对象来不会报错 ：update pmph_user set id =1 where id =1 -->
			<if test="id != null ">
				id = #{id},
			</if>
			<if test="username != null and username!=''">
				username = #{username},
			</if>
			<if test="password != null and password!='' ">
				`password` = #{password},
			</if>
			<if test=" isDisabled!= null ">
				is_disabled= #{isDisabled},
			</if>
			<if test=" realname!= null and realname !=''">
				realname= #{realname},
			</if>
			<if test=" departmentId!= null">
				department_id = #{departmentId},
			</if>
			<if test=" handphone!= null and handphone !=''">
				handphone = #{handphone},
			</if>
			<if test=" email!= null and email !=''">
				email= #{email},
			</if>
			<if test="avatar!=null and avatar != ''">
				avatar = #{avatar},
			</if>
			<if test=" note!= null and  note!=''">
				note = #{note},
			</if>
			<if test=" sort!= null and  sort!=''">
				sort = #{sort},
			</if>
			<if test=" isDeleted!= null ">
				is_deleted= #{isDeleted},
			</if>
			<if test="isDirector!=null">
				is_director = #{isDirector},
			</if>
			<if test="openid!=null">
				openid = #{openid},
			</if>
		</set>
		WHERE
		id = #{id}
	</update>

	<delete id="delete" parameterType="Long">
		DELETE FROM
		pmph_user
		where
		id =
		#{id}
	</delete>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="list">
		DELETE FROM
		pmph_user
		where
		id
		in
		<foreach collection="ids" item="id" open="(" close=")"
			separator=",">
			#{id}
		</foreach>
	</delete>

	<!-- 根据主键 获取用户要更新的信息 -->
	<select id="getInfo" parameterType="Long" resultType="PmphUser">
		SELECT
		id,
		username,
		realname,
		handphone,
		email,
		avatar
		FROM
		pmph_user
		WHERE
		id = #{id}
		and is_deleted =0 and is_disabled = 0
	</select>

	<!--根据id和原密码修改密码 -->
	<update id="updatePassword">
		update pmph_user set password =
		#{newPassword} where
		id = #{id} and password = #{oldPassword}
	</update>

	<select id="get" parameterType="Long" resultType="PmphUser">
		SELECT
		id,
		username,
		is_disabled,
		realname,
		department_id,
		handphone,
		email,
		note,
		sort,
		avatar,
		is_deleted,
		openid
		FROM
		pmph_user
		WHERE
		id = #{id}
	</select>

	<select id="getListUser" resultType="PmphUser">
		SELECT
		username,
		is_disabled,
		realname,
		department_id,
		handphone,
		email,
		note,
		sort,
		is_deleted,
		openid
		FROM
		pmph_user
		where
		is_disabled=0
	</select>

	<select id="getListByUsernameAndRealname" resultType="PmphUser"
		parameterType="map">
		SELECT
		*
		FROM
		pmph_user
		<if test=" name!= null and name !=''">
			WHERE
			username LIKE CONCAT(CONCAT('%',#{name},'%'))
			AND
			realname LIKE CONCAT(CONCAT('%',#{name},'%'))
		</if>
		LIMIT #{start},#{size}
	</select>

	<!-- 根据username查询PmphUser对象 -->
	<select id="getPmphUserByUsername" resultType="PmphUser"
		parameterType="map">
		SELECT * FROM pmph_user WHERE
		1=1
		<if test="username != null and username != '' "> and username = #{username}</if>
		<if test="id != null and id != '' "> and id = #{id}</if>

	</select>

	<select id="getByUsernameAndPassword" resultType="PmphUser"
		parameterType="map">
		SELECT
		id,
		username,
		is_disabled,
		realname,
		department_id,
		note,
		avatar,
		is_deleted,
		is_director
		FROM
		pmph_user
		WHERE
		1=1
		<if test=" username!= null and username !=''">
			and username = #{username}
		</if>
		<if test=" password!= null and password !=''">
			and password = #{password}
		</if>
	</select>

	<select id="getByOpenid" resultType="PmphUser"
			parameterType="map">
		SELECT
		id,
		username,
		is_disabled,
		realname,
		department_id,
		note,
		avatar,
		is_deleted,
		is_director
		FROM
		pmph_user
		WHERE
		openid = #{openid}

	</select>

	<update id="updateUserOpenid" parameterType="map">
		update pmph_user set openid=NULL where openid=#{openid};
		update pmph_user set openid=#{openid} where username=#{username};
	</update>



	<select id="getListByRole" parameterType="Long" resultType="PmphUser">
		SELECT
		tu.id,
		tu.username,
		tu.`password`,
		tu.realname,
		tu.`is_disabled`,
		tu.openid
		FROM
		pmph_user tu
		LEFT JOIN
		pmph_user_role tur ON tu.id = tur.user_id
		LEFT JOIN
		pmph_role tr ON tur.role_id = tr.id
		WHERE
		tr.id =#{rid}
	</select>

	<!-- 根据用户 id 查询这个用户拥有的所有资源（这里的资源就代表权限） -->
	<select id="getListAllResources" resultType="PmphPermission"
		parameterType="Long">
		SELECT
		tr.`id`,
		tr.`parent_id`,
		tr.`path`,
		tr.`permission_name`,
		tr.menu_name,
		tr.url
		FROM
		`pmph_permission` tr
		LEFT
		JOIN
		`pmph_role_permission` trr
		ON
		tr.`id` = trr.`permission_id`
		LEFT JOIN
		`pmph_user_role` tur
		ON
		trr.`role_id` = tur.role_id
		WHERE
		tur.user_id =
		#{uid}
	</select>

	<!-- 根据用户 id 查询用户所具有的角色字符串表示 -->
	<select id="getListRoleSnByUser" parameterType="Long"
		resultType="String">
		SELECT
		tr.role_name
		FROM
		`pmph_role` tr
		LEFT JOIN
		`pmph_user_role` tur
		ON
		tr.`id` = tur.role_id
		LEFT JOIN
		`pmph_user` tu
		ON
		tur.`user_id` = tu.id
		WHERE
		tu.`id` = #{uid}
	</select>

	<!-- 根据用户 id 查询用户所具有的角色对象表示 -->
	<select id="getListUserRole" parameterType="Long" resultType="PmphRole">
		SELECT
		tr.`id`,
		tr.`role_name`
		FROM
		`pmph_role` tr
		LEFT JOIN
		`pmph_user_role` tur
		ON
		tr.`id` = tur.role_id
		LEFT JOIN
		`pmph_user` tu
		ON
		tur.`user_id` = tu.id
		WHERE
		tu.`id` = #{uid}
	</select>

	<!-- 查询表单的数据总数 -->
	<select id="getPmphUserCount" resultType="Long">
		select
		count(*)
		from
		pmph_user
	</select>

	<select id="getListPmphUserTotal" parameterType="PageParameter"
		resultType="int">
		SELECT
		count(*)
		FROM
		(SELECT
		u.*,d.dp_name departmentName,d.path
		FROM
		pmph_user u
		LEFT JOIN
		pmph_department d
		ON
		u.department_id = d.id
		WHERE
		1 =
		1
		<if test="parameter.name !=null and parameter.name !='' ">
			and (u.username like concat('%',#{parameter.name},'%') or
			u.realname like
			concat('%',#{parameter.name},'%'))
		</if>
		<if
			test="parameter.path !=null and parameter.path !='' and parameter.departmentId !=null">
			and (d.path like concat(#{parameter.path},'%') or
			d.id=#{parameter.departmentId} or d.parent_id
			=#{parameter.departmentId} )
		</if>
		<if test="parameter.groupId !=null">
			and not EXISTS (
			SELECT
			id
			FROM
			pmph_group_member t1
			WHERE
			t1.user_id = u.id  and t1.is_deleted=0
			and t1.is_writer = false and t1.group_id = #{parameter.groupId}
			)
		</if>
		) t
	</select>

	<select id="getListPmphUser" parameterType="PageParameter"
		resultType="PmphUserManagerVO">
		SELECT
		u.*,d.dp_name departmentName,d.path
		FROM
		pmph_user u
		LEFT JOIN
		pmph_department d
		ON
		u.department_id = d.id
		WHERE
		1 = 1
		<if test="parameter.name !=null and parameter.name !='' ">
			and (u.username like concat('%',#{parameter.name},'%') or
			u.realname like
			concat('%',#{parameter.name},'%'))
		</if>
		<if
			test="parameter.path !=null and parameter.path !='' and parameter.departmentId != null">
			and (d.path like concat(#{parameter.path},'%') or
			d.id=#{parameter.departmentId} or d.parent_id
			=#{parameter.departmentId})
		</if>
		<if test="parameter.groupId !=null ">
			and not EXISTS (
			SELECT
			id
			FROM
			pmph_group_member t1
			WHERE
			t1.user_id = u.id  and t1.is_deleted=0
			and t1.is_writer = false and t1.group_id = #{parameter.groupId}
			)
		</if>
		<if test="start !=null and pageNumber != null">
			LIMIT #{start},#{pageSize}
		</if>
	</select>
	<!-- 根据用户id获取用户对应的权限 -->
	<select id="getPmphUserPermissionByUserId" parameterType="Long"
		resultType="Long">
		SELECT
		prp.`permission_id`
		FROM
		`pmph_user` pu
		LEFT JOIN
		`pmph_user_role` pur
		ON
		pu.`id` = pur.`user_id`
		LEFT JOIN
		`pmph_role_permission` prp
		ON
		pur.`role_id` = prp.`role_id`
		LEFT JOIN
		`pmph_role` pr ON pur.`role_id`=pr.`id`
		WHERE
		pr.`is_disabled` = 0
		AND
		pu.`id` = #{userId}
		GROUP BY
		prp.`permission_id`
	</select>

	<select id="getMaterialPermissionByUserId" parameterType="Long"
		resultType="Integer">
		SELECT m.permission FROM pmph_user u LEFT JOIN
		pmph_user_role r ON u.id = r.user_id
		LEFT JOIN pmph_role_material m ON
		m.role_id = r.role_id WHERE u.id = #{userId}

	</select>

	<!-- 动态更新对象的写法 -->
	<update id="updatePmphUserOfBack" parameterType="PmphUserManagerVO">
		UPDATE pmph_user
		<set>
			<if test="username != null and username!=''">
				username = #{username},
			</if>
			<if test=" isDisabled!= null ">
				is_disabled= #{isDisabled},
			</if>
			<if test=" realname!= null and realname !=''">
				realname= #{realname},
			</if>
			<if test=" departmentId!= null and departmentId !=''">
				department_id = #{departmentId},
			</if>
			<if test=" handphone!= null ">
				handphone = #{handphone},
			</if>
			<if test=" email!= null ">
				email= #{email},
			</if>
			<if test=" note!= null and  note!=''">
				note = #{note},
			</if>
			<if test=" sort!= null and  sort!=''">
				sort = #{sort},
			</if>
			<if test=" isDirector!= null ">
				is_director= #{isDirector},
			</if>
		</set>
		WHERE
		id = #{id}
	</update>

	<select id="getPmphUserByDepartmentId" parameterType="PageParameter"
		resultType="PmphUser">
		SELECT
		*
		FROM
		pmph_user u
		where
		u.department_id =
		#{departmentId}
	</select>

	<!-- 统计部门下的编辑数量 -->
	<select id="totalEditors" resultType="java.lang.Integer">
		SELECT count(*)
		FROM pmph_user a
		LEFT JOIN pmph_department b ON
		a.department_id = b.id
		WHERE
		(b.path LIKE concat(#{path},'%')
		OR b.id
		=#{departmentId}
		OR b.parent_id =#{departmentId})
		<if test="realName !=null and realName !=''">
			AND a.realname like concat('%',#{realName},'%')
		</if>
		;
	</select>

	<!-- 选题申报部门主任获取部门编辑列表 -->
	<select id="listEditors" resultType="PmphEditorVO">
		SELECT a.id,a.department_id,a.realname,a.handphone,b.dp_name
		departmentName,a.openid
		FROM pmph_user a
		LEFT JOIN pmph_department b ON
		a.department_id = b.id
		WHERE
		(b.path LIKE concat(#{path},'%')
		OR b.id
		=#{departmentId}
		OR b.parent_id =#{departmentId})
		<if test="realName !=null and realName !=''">
			AND a.realname like concat('%',#{realName},'%')
		</if>
		LIMIT
		#{start},#{pageSize};
	</select>

	<!-- 根据用户名获取用户 -->
	<select id="getPmphUser" resultType="PmphUser">
		select * from pmph_user
		where username = #{username}
	</select>

	<!-- 根据部门ID查询用户列表 -->
	<select id="listPmphUserByDepartmentId" parameterType="java.lang.Long"
		resultType="PmphUser">
		select * from pmph_user where department_id =
		#{departmentId}
	</select>

	<select id="isOpts" parameterType="java.lang.Long" resultType="PmphUser">
		SELECT
		u.*
		FROM
		pmph_user u
		LEFT JOIN pmph_user_role p ON p.user_id = u.id
		LEFT JOIN pmph_role r ON p.role_id = r.id,
		topic t
		WHERE
		r.id =
		t.opts_role_id
		AND u.id = #{id} AND t.auth_progress = 0
	</select>

	<select id="isEditor" parameterType="java.lang.Long" resultType="PmphUser">
		SELECT
		u.*
		FROM
		pmph_user u,
		topic t
		WHERE
		t.editor_id = u.id
		AND u.id =
		#{id} AND t.auth_progress = 1 AND t.is_editor_handling = 1
	</select>

	<!-- 根据某人id查出其 本部门及上级各部门的某角色的用户-->
	<select id="getSomebodyParentDeptsPmphUserOfSomeRole" resultType="PmphUser">
		select u.id
		,u.realname realname
		,u.department_id departmentId
		,u.is_director isDirector
		,u.openid
		from pmph_user u
		inner join
		(select concat(d.path,'-',d.id) as fullPath
		from pmph_user u
		join pmph_department d on u.department_id = d.id
		where u.id = #{userId} /*某人user_id*/) preg
		join pmph_user_role ur on ur.user_id = u.id
		join pmph_role r on ur.role_id = r.id
		<if test="role_id != null and role_id != ''">
			and r.id = #{role_id}
		</if>
		<if test="role_name != null and role_name != ''">
			and r.role_name = #{role_name}
		</if>
		where preg.fullPath Regexp concat('-',u.department_id,'(-[0-9]+)*$')
		group by u.id
	</select>

	<!-- 根据某人id查出其 本部门及上级各部门的部门主任（is_director=1）-->
	<select id="getSomebodyParentDeptsDirectorPmphUser" parameterType="Long" resultType="PmphUser">
		select u.id
		,u.realname realname
		,u.department_id departmentId
		,u.is_director isDirector
		,u.openid
		from pmph_user u
		inner join
		(select concat(d.path,'-',d.id) as fullPath
		from pmph_user u
		join pmph_department d on u.department_id = d.id
		where u.id = #{userId} /*某人user_id*/) preg
		where u.is_director =1 and preg.fullPath Regexp concat('-',u.department_id,'(-[0-9]+)*$')
		group by u.id
	</select>

	<select id="getPmphUserByOpenid" parameterType="String" resultType="PmphUser">
		select * from pmph_user
		where openid=#{wechatUserId}

	</select>

</mapper>
