<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.PmphGroupMemberDao">

	<!-- 新增 PmphGroupMember -->
    <insert id="addPmphGroupMember"  parameterType="PmphGroupMember"   >
    	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句  BEFORE 或 AFTER -->
          SELECT LAST_INSERT_ID() 
        </selectKey>
     	insert  into  pmph_group_member 
     	        (group_id,
     	        member_id,
     	        is_writer,   
     	        is_founder,
     	        is_admin,
     	        display_name) 
        values( #{gruopId},
        	    #{memberId},
        	    #{isWriter},
        	    #{isFounder},
        	    #{isAdmin},
        	    #{displayName}) ;
    </insert>
    
   <!-- 根据id删除一个 PmphGroupMember -->
	<delete id="deletePmphGroupMemberById" parameterType="java.lang.Long"   >
		delete from  pmph_group_member  where id=#{id} ;
	</delete>
	
	<!-- 更新 PmphGroupMember -->
	<update id="updatePmphGroupMember"   parameterType="PmphGroupMember"  >
		update pmph_group_member  
		  set  group_id=#{gruopId},member_id=#{memberId},is_writer=#{isWriter},
		       is_founder=#{isFounder},is_admin=#{isAdmin},display_name= #{displayName}
        where id=#{id} ;
	</update>
	
	<!-- 根据id查询一个 PmphGroupMember -->
	<select  id="getPmphGroupMemberById" parameterType="java.lang.Long"  resultType="PmphGroupMember" >
		select * from pmph_group_member where id=#{id} ;
	</select>
	
</mapper>