<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.PmphGroupFileDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="groupId != null and groupId !=''">
				group_id,
			</if>
			<if test="memberId != null and memberId !=''">
				member_id,
			</if>
			<if test="fileId != null and fileId !=''">
				file_id,
			</if>
			<if test="fileName != null and fileName !=''">
				file_name,
			</if>
			<if test="download != null and download !=''">
				download,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="groupId !=null and groupId !=''">
				#{groupId},
			</if>
			<if test="memberId !=null and memberId !=''">
				#{memberId},
			</if>
			<if test="fileId !=null and fileId !=''">
				#{fileId},
			</if>
			<if test="fileName !=null and fileName !=''">
				#{fileName},
			</if>
			<if test="download !=null and download !=''">
				#{download},
			</if>
		</trim>
	</sql>

	<!-- 新增 PmphGroupFile -->
	<insert id="addPmphGroupFile" parameterType="PmphGroupFile">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pmph_group_file (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>

	<!-- 根据id删除一个 PmphGroupFile -->
	<delete id="deletePmphGroupFileById" parameterType="java.lang.Long">
		delete from
		pmph_group_file where id = #{id};
	</delete>

	<!-- 更新 PmphGroupFile -->
	<update id="updatePmphGroupFile" parameterType="PmphGroupFile">
		update
		pmph_group_file
		<set>
			<if test="groupId != null and groupId !=''">
				group_id = #{groupId},
			</if>
			<if test="memberId != null and memberId !='' ">
				member_id = #{memberId},
			</if>
			<if test=" fileId != null and fileId !=''">
				file_id= #{fileId},
			</if>
			<if test=" fileName != null and fileName !=''">
				file_name= #{fileName},
			</if>
			<if test=" download != null and download !=''">
				download = #{download},
			</if>
		</set>
		where id=#{id} ;
	</update>

	<!-- 根据id查询一个 PmphGroupFile -->
	<select id="getPmphGroupFileById" parameterType="java.lang.Long"
		resultType="PmphGroupFile">
		select * from pmph_group_file where
		id=#{id} ;
	</select>

	<!-- 查询到的小组文件数量 -->
	<select id="getGroupFileTotal" parameterType="PageParameter"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM( SELECT
		a.id,
		a.group_id,
		a.file_id,
		a.file_name,
		a.gmt_create,
		a.member_id,
		b.display_name memberName,
		(
		SELECT
		COUNT(*)
		FROM
		pmph_group_file c
		WHERE
		a.member_id = c.member_id
		AND a.file_id =
		c.file_id
		) AS group_count,
		a.download
		FROM
		pmph_group_file a
		LEFT JOIN
		pmph_group_member b ON a.group_id = b.group_id
		WHERE
		b.group_id =
		#{parameter.groupId}
		<if test="parameter.fileName != null and parameter.fileName != ''">
			and a.file_name like concat('%',#{parameter.fileName},'%')
		</if>
		GROUP BY a.file_id)t ;
	</select>

	<!-- 获取小组文件列表 -->
	<select id="listGroupFile" parameterType="PageParameter"
		resultType="PmphGroupFileVO">
		SELECT
		a.id,
		a.group_id,
		a.file_id,
		a.file_name,
		a.gmt_create,
		a.member_id,
		b.display_name memberName,
		(
		SELECT
		COUNT(*)
		FROM
		pmph_group_file c
		WHERE
		a.member_id = c.member_id
		AND a.file_id = c.file_id
		) AS group_count,
		a.download
		FROM
		pmph_group_file a
		LEFT JOIN pmph_group_member b ON
		a.group_id = b.group_id
		WHERE
		b.group_id = #{parameter.groupId}
		<if test="parameter.fileName !=null and parameter.fileName !=''">
			and a.file_name like concat('%',#{parameter.fileName},'%')
		</if>
		GROUP BY a.file_id
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<!-- 查询表单的数据总数 -->
	<select id="getPmphGroupFileCount" resultType="Long">
		select
		count(*)
		from
		pmph_group_file
	</select>

	<!-- 根据小组id查询 PmphGroupFile -->
	<select id="listPmphGroupFileByGroupId" parameterType="java.lang.Long"
		resultType="PmphGroupFile">
		select * from pmph_group_file where
		group_id=#{groupId} ;
	</select>

	<!-- 根据文件id查询文件所在小组数量 -->
	<select id="getPmphGroupFileTotalByFileId" parameterType="java.lang.String"
		resultType="Integer">
		select count(*) from pmph_group_file where
		file_id=#{fileId} ;
	</select>
</mapper>