<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.SurveyQuestionDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="categoryId != null">
				category_id,
			</if>
			<if test="title != null and title !=''">
				title,
			</if>
			<if test="type != null and type !=''">
				type,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="direction != null and direction !=''">
				direction,
			</if>
			<if test="isAnswer != null">
				is_answer,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="categoryId != null">
				#{categoryId},
			</if>
			<if test="title != null and title !=''">
				#{title},
			</if>
			<if test="type != null and type !=''">
				#{type},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
			<if test="direction != null and direction !=''">
				#{direction},
			</if>
			<if test="isAnswer != null">
				#{isAnswer},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
		</trim>
	</sql>
	<!-- 新增一个SurveyQuestion -->
	<insert id="addSurveyQuestion" parameterType="SurveyQuestion">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into survey_question (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>
	<!-- 逻辑删除SurveyQuestion通过主键id -->
	<update id="deleteSurveyQuestionById" parameterType="java.lang.Long">
		update survey_question set is_deleted = true where id=#{id};
	</update>
	<!-- 更新一个 SurveyQuestion通过主键id -->
	<update id="updateSurveyQuestion" parameterType="SurveyQuestion">
		update survey_question
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="categoryId != null">
				category_id=#{categoryId},
			</if>
			<if test="title != null and title !=''">
				title=#{title},
			</if>
			<if test="type != null and type !=''">
				type=#{type},
			</if>
			<if test="sort != null">
				sort=#{sort},
			</if>
			<if test="direction != null and direction !=''">
				direction=#{direction},
			</if>
			<if test="isAnswer != null">
				is_answer=#{isAnswer},
			</if>
			<if test="isDeleted != null">
				is_deleted=#{isDeleted},
			</if>
		</set>
		where
		id=#{id};
	</update>
	<!-- 查找SurveyQuestion通过主键id -->
	<select id="getSurveyQuestionById" parameterType="java.lang.Long" resultType="SurveyQuestion">
		select * from survey_question where id=#{id};
	</select>
	
	<!-- 根据问题id/问题类型Id查询问题选项-->
	<select id="getQuestionOptionByQuestionIdOrCategoryId" parameterType="java.util.Map" resultType="SurveyQuestionOptionCategoryVO">
		SELECT 
			sq.`id` questionId,
			sq.`title`,
			GROUP_CONCAT(sqo.`id`) optionIdString,
			GROUP_CONCAT(sqo.`option_content`) optionContent 
		FROM 
			`survey_question` sq 
		LEFT JOIN 
			`survey_question_option` sqo 
  		ON 
  			sq.`id` = sqo.`question_id` 
  		WHERE 
  			sq.`is_deleted` = FALSE 
  			<if test="questionId !=null ">
				AND 
					sq.`id` =#{questionId}
			</if>
			<if test="categoryId !=null ">
				AND 
					sq.`category_id` =#{categoryId}
			</if>
	</select>
	
</mapper>