<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.SurveyQuestionClassifyDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="classifyId != null">
				classify_id,
			</if>
			<if test="questionId != null">
				question_id,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="classifyId != null">
				#{classifyId},
			</if>
			<if test="questionId != null">
				#{questionId},
			</if>
		</trim>
	</sql>
	<!-- 新增一个SurveyQuestionClassify -->
	<insert id="addSurveyQuestionClassify" parameterType="SurveyQuestionClassify">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into survey_question_classify (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>
	<!-- 删除SurveyQuestionClassify通过主键id -->
	<delete id="deleteSurveyQuestionClassifyById" parameterType="java.lang.Long">
		delete from survey_question_classify where id=#{id};
	</delete>

	<!-- 更新一个 SurveyQuestionClassify通过主键id -->
	<update id="updateSurveyQuestionClassify" parameterType="SurveyQuestionClassify">
		update survey_question_classify
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="classifyId != null">
				classify_id=#{classifyId},
			</if>
			<if test="questionId != null">
				question_id=#{questionId},
			</if>
		</set>
		where
		id=#{id};
	</update>
	<!-- 查找SurveyQuestionClassify通过主键id -->
	<select id="selectSurveyQuestionClassifyById" parameterType="java.lang.Long" resultType="SurveyQuestionClassify">
		select * from survey_question_classify where id=#{id};
	</select>
	
</mapper>