<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.SurveyQuestionnaireDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null and title !=''">
				title,
			</if>
			<if test="subhead != null and subhead !=''">
				subhead,
			</if>
			<if test="intro != null and intro !=''">
				intro,
			</if>
			<if test="templateId != null">
				template_id,
			</if>
			<if test="surveyId != null">
				survey_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="createrType != null">
				creater_type,
			</if>
			<if test="gmtCreate != null and gmtCreate !=''">
				gmt_create,
			</if>
			<if test="gmtUpdate != null and gmtUpdate !=''">
				gmt_update,
			</if>
			<if test="questionnaireStartDate != null and questionnaireStartDate !=''">
				questionnaire_start_date,
			</if>
			<if test="questionnaireEndDate != null and questionnaireEndDate !=''">
				questionnaire_end_date,
			</if>
			<if test="sort != null">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="title != null and title !=''">
				#{title},
			</if>
			<if test="subhead != null and subhead !=''">
				#{subhead},
			</if>
			<if test="intro != null and intro !=''">
				#{intro},
			</if>
			<if test="templateId != null">
				#{templateId},
			</if>
			<if test="surveyId != null">
				#{surveyId},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="createrType != null">
				#{createrType},
			</if>
			<if test="gmtCreate != null and gmtCreate !=''">
				#{gmtCreate},
			</if>
			<if test="gmtUpdate != null and gmtUpdate !=''">
				#{gmtUpdate},
			</if>
			<if test="questionnaireStartDate != null and questionnaireStartDate !=''">
				#{questionnaireStartDate},
			</if>
			<if test="questionnaireEndDate != null and questionnaireEndDate !=''">
				#{questionnaireEndDate},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
		</trim>
	</sql>
	<!-- 新增一个SurveyQuestionnaire -->
	<insert id="addSurveyQuestionnaire" parameterType="SurveyQuestionnaire">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into survey_questionnaire (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>
	<!-- 删除SurveyQuestionnaire通过主键id -->
	<delete id="deleteSurveyQuestionnaireById" parameterType="java.lang.Long">
		delete from survey_questionnaire where id=#{id};
	</delete>
	<!-- 更新一个 SurveyQuestionnaire通过主键id -->
	<update id="updateSurveyQuestionnaire" parameterType="SurveyQuestionnaire">
		update survey_questionnaire
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="title != null and title !=''">
				title=#{title},
			</if>
			<if test="subhead != null and subhead !=''">
				subhead=#{subhead},
			</if>
			<if test="intro != null and intro !=''">
				intro=#{intro},
			</if>
			<if test="templateId != null">
				template_id=#{templateId},
			</if>
			<if test="surveyId != null">
				survey_id=#{surveyId},
			</if>
			<if test="userId != null">
				user_id=#{userId},
			</if>
			<if test="createrType != null">
				creater_type=#{createrType},
			</if>
			<if test="gmtCreate != null and gmtCreate !=''">
				gmt_create=#{gmtCreate},
			</if>
			<if test="gmtUpdate != null and gmtUpdate !=''">
				gmt_update=#{gmtUpdate},
			</if>
			<if test="questionnaireStartDate != null and questionnaireStartDate !=''">
				questionnaire_start_date=#{questionnaireStartDate},
			</if>
			<if test="questionnaireEndDate != null and questionnaireEndDate !=''">
				questionnaire_end_date=#{questionnaireEndDate},
			</if>
			<if test="sort != null">
				sort=#{sort},
			</if>
		</set>
		where
		id=#{id};
	</update>
	<!-- 查找SurveyQuestionnaire通过主键id -->
	<select id="selectSurveyQuestionnaireById" parameterType="java.lang.Long" resultType="SurveyQuestionnaire">
		select * from survey_questionnaire where id=#{id};
	</select>
</mapper>