<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.SurveyTemplateDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="templateName != null and templateName != ''">
				template_name,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="templateName != null and templateName != ''">
				#{templateName},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
		</trim>
	</sql>
	<!-- 新增一个SurveyTemplate -->
	<insert id="addSurveyTemplate" parameterType="SurveyTemplate">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into survey_template (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>
	<!-- 逻辑删除SurveyTemplate通过主键id -->
	<update id="deleteSurveyTemplateById" parameterType="java.lang.Long">
		update survey_template set is_deleted = true where id=#{id};
	</update>
	<!-- 更新一个 SurveyTemplate通过主键id -->
	<update id="updateSurveyTemplate" parameterType="SurveyTemplate">
		update survey_template
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="templateName != null and templateName != ''">
				template_name=#{templateName},
			</if>
			<if test="sort != null">
				sort=#{sort},
			</if>
			<if test="userId != null">
				user_id=#{userId},
			</if>
			<if test="isDeleted != null">
				is_deleted=#{isDeleted},
			</if>
		</set>
		where
		id=#{id} ;
	</update>
	<!-- 查找SurveyTemplate通过主键id -->
	<select id="selectSurveyTemplateById" parameterType="java.lang.Long" 
	resultType="SurveyTemplate">
		select * from survey_template where id=#{id};
	</select>
	
	<!-- 根据模版Id查询下面的所有问题 -->
	<select id="getSurveyTemplateQuestionByTemplateId" parameterType="java.lang.Long" resultType="SurveyQuestionOptionCategoryVO">
		SELECT 
			sq.`id`,sq.`title`,
			GROUP_CONCAT(sqo.`id`) optionIdString,
			GROUP_CONCAT(sqo.`option_content`) optionContent
		FROM 
			`survey_template` st 
		LEFT JOIN 
			`survey_template_question` stq 
		ON 
			st.`id` = stq.`template_id`
		LEFT JOIN 
			`survey_question` sq 
		ON 
			sq.`id`= stq.`question_id`
		LEFT JOIN 
			`survey_question_option`sqo 
		ON 
			sqo.`question_id`= sq.`id`
		WHERE 
			st.`is_deleted` =FALSE
			<if test="templateId != null">
				AND 
					st.`id`=#{templateId}
			</if>
	</select>
	
	<!-- 根据模版id获取问卷表标题和简介 -->
	<select id="selectSurveyTemplateGetVOById" parameterType="java.lang.Long" 
	resultType="SurveyTemplateGetVO">
		select s.title,s.subhead,s.intro from survey_template st 
		left join survey s on s.template_id = st.id 
		where id = #{id};
	</select>
	
</mapper>