<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.SurveyAnswerDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="questionId != null">
				question_id,
			</if>
			<if test="optionsId != null">
				options_id,
			</if>
			<if test="optionContent != null and optionContent !=''">
				option_content,
			</if>
			<if test="attachment != null and attachment !=''">
				attachment,
			</if>
			<if test="gmtCreate != null and gmtCreate !=''">
				gmt_create,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="questionId != null">
				#{questionId},
			</if>
			<if test="optionsId != null">
				#{optionsId},
			</if>
			<if test="optionContent != null and optionContent !=''">
				#{optionContent},
			</if>
			<if test="attachment != null and attachment !=''">
				#{attachment},
			</if>
			<if test="gmtCreate != null and gmtCreate !=''">
				#{gmtCreate},
			</if>
		</trim>
	</sql>
	<!-- 新增一个SurveyAnswer -->
	<insert id="addSurveyAnswer" parameterType="SurveyAnswer">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into survey_answer (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>
	<!-- 删除SurveyAnswer通过主键id -->
	<delete id="deleteSurveyAnswerById" parameterType="java.lang.Long">
		delete from survey_answer where id=#{id};
	</delete>
	<!-- 更新一个 SurveyAnswer通过主键id -->
	<update id="updateSurveyAnswer" parameterType="SurveyAnswer">
		update survey_answer
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="userId != null">
				user_id=#{userId},
			</if>
			<if test="questionId != null">
				question_id=#{questionId},
			</if>
			<if test="optionsId != null">
				options_id=#{optionsId},
			</if>
			<if test="optionContent != null and optionContent !=''">
				option_content=#{optionContent},
			</if>
			<if test="attachment != null and attachment !=''">
				attachment=#{attachment},
			</if>
			<if test="gmtCreate != null and gmtCreate !=''">
				gmt_create=#{gmtCreate},
			</if>
		</set>
		where
		id=#{id};
	</update>
	<!-- 查找SurveyAnswer通过主键id -->
	<select id="selectSurveyAnswerById" parameterType="java.lang.Long" resultType="SurveyAnswer">
		select * from survey_answer where id=#{id};
	</select>
	
</mapper>