<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.SurveyQuestionOptionDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="questionId != null">
				question_id,
			</if>
			<if test="optionContent != null and optionContent !=''">
				option_content,
			</if>
			<if test="isOther != null">
				is_other,
			</if>
			<if test="remark != null and remark !=''">
				remark,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="questionId != null">
				#{questionId},
			</if>
			<if test="optionContent != null and optionContent !=''">
				#{optionContent},
			</if>
			<if test="isOther != null">
				#{isOther},
			</if>
			<if test="remark != null and remark !=''">
				#{remark},
			</if>
		</trim>
	</sql>
	<!-- 新增一个SurveyQuestionOption -->
	<insert id="addSurveyQuestionOption" parameterType="SurveyQuestionOption">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into survey_question_option (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>
	<!-- 删除SurveyQuestionOption通过主键id -->
	<delete id="deleteSurveyQuestionOptionById" parameterType="java.lang.Long">
		delete from survey_question_option where id=#{id};
	</delete>
	<!-- 更新一个 SurveyOptions通过主键id -->
	<update id="updateSurveyQuestionOption" parameterType="SurveyQuestionOption">
		update survey_question_option
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="questionId != null">
				question_id=#{questionId},
			</if>
			<if test="optionContent != null and optionContent !=''">
				option_content=#{optionContent},
			</if>
			<if test="isOther != null">
				is_other=#{isOther},
			</if>
			<if test="remark != null and remark !=''">
				remark=#{remark},
			</if>
		</set>
		where
		id=#{id} ;
	</update>
	<!-- 查找SurveyQuestionOption通过主键id -->
	<select id="selectSurveyQuestionOptionById" parameterType="java.lang.Long" resultType="SurveyQuestionOption">
		select * from survey_question_option where id=#{id};
	</select>
	
</mapper>