<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.SurveyClassifyDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="classifyName != null and classifyName !=''">
				classify_name,
			</if>
			<if test="sort != null">
				sort,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="classifyName != null and classifyName !=''">
				#{classifyName},
			</if>
			<if test="sort != null">
				#{sort},
			</if>
		</trim>
	</sql>
	<!-- 新增一个SurveyClassify -->
	<insert id="addSurveyClassify" parameterType="SurveyClassify">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into survey_classify (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>
	<!-- 删除SurveyClassify通过主键id -->
	<delete id="deleteSurveyClassifyById" parameterType="java.lang.Long">
		delete from survey_classify where id=#{id};
	</delete>
	<!-- 更新一个 SurveyClassify通过主键id -->
	<update id="updateSurveyClassify" parameterType="SurveyClassify">
		update survey_classify
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="classifyName != null and classifyName !=''">
				classify_name=#{classifyName},
			</if>
			<if test="sort != null">
				sort=#{sort},
			</if>
		</set>
		where
		id=#{id};
	</update>
	<!-- 查找SurveyClassify通过主键id -->
	<select id="selectSurveyClassifyById" parameterType="java.lang.Long" resultType="SurveyClassify">
		select * from survey_classify where id=#{id};
	</select>
	
</mapper>