<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.TextbookDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="materialId != null">
				material_id,
			</if>
			<if test="textbookName != null and textbookName !='' ">
				textbook_name,
			</if>
			<if test="textbookRound != null ">
				textbook_round,
			</if>
			<if test="planningEditor != null">
				planning_editor,
			</if>
			<if test="isChiefChosen != null ">
				is_chief_chosen,
			</if>
			<if test="isChiefPublished != null ">
				is_chief_published,
			</if>
			<if test="isListSelected != null ">
				is_list_selected,
			</if>
			<if test="isPlanningEditorConfirm != null ">
				is_planning_editor_confirm,
			</if>
			<if test="isProjectEditorConfirm != null ">
				is_project_editor_confirm,
			</if>
			<if test="isLocked != null   ">
				is_locked,
			</if>
			<if test="isPublished !=null">
				is_published,
			</if>
			<if test="gmtPublished != null">
				gmt_published,
			</if>
			<if test="revisionTimes != null ">
				revision_times,
			</if>
			<if test="republishTimes != null ">
				republish_times,
			</if>
			<if test="isbn != null and isbn !='' ">
				isbn,
			</if>
			<if test="sort != null ">
				sort,
			</if>
			<if test="topicNumber !=null and topicNumber !=''">
			    topic_number,
			</if>
			<if test="founderId != null ">
				founder_id,
			</if>
			<if test="gmtCreate != null ">
				gmt_create,
			</if>
			<if test="gmtUpdate != null ">
				gmt_update
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="materialId != null">
				#{materialId},
			</if>
			<if test="textbookName != null and textbookName !=''  ">
				#{textbookName},
			</if>
			<if test="textbookRound != null">
				#{textbookRound},
			</if>
			<if test="planningEditor != null">
				#{planningEditor},
			</if>
			<if test="isChiefChosen != null ">
				#{isChiefChosen},
			</if>
			<if test="isChiefPublished != null ">
				#{isChiefPublished},
			</if>
			<if test="isListSelected != null ">
				#{isListSelected},
			</if>
			<if test="isPlanningEditorConfirm != null ">
				#{isPlanningEditorConfirm},
			</if>
			<if test="isProjectEditorConfirm != null ">
				#{isProjectEditorConfirm},
			</if>
			<if test="isLocked != null  ">
				#{isLocked},
			</if>
			<if test="isPublished != null">
				#{isPublished},
			</if>
			<if test="gmtPublished != null">
				#{gmtPublished},
			</if>
			<if test="revisionTimes != null ">
				#{revisionTimes},
			</if>
			<if test="republishTimes != null ">
				#{republishTimes},
			</if>
			<if test="isbn != null and isbn !='' ">
				#{isbn},
			</if>
			<if test="sort != null ">
				#{sort},
			</if>
			<if test="topicNumber !=null and topicNumber !=''">
			    #{topicNumber},
			</if>
			<if test="founderId != null">
				#{founderId},
			</if>
			<if test="gmtCreate != null ">
				#{gmtCreate},
			</if>
			<if test="gmtUpdate != null ">
				#{gmtUpdate}
			</if>
		</trim>
	</sql>

	<!-- 新增Textbook -->
	<insert id="addTextbook" parameterType="Textbook">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		<!-- sql片段对应字段名,id属性值任意 -->
		INSERT INTO textbook
		(
		<include refid="key" />
		)
		VALUES
		(
		<include refid="value" />
		);
	</insert>


	<!-- 根据id删除一个 -->
	<delete id="deleteTextbookById" parameterType="java.lang.Long">
		delete from
		textbook where
		id=#{id} ;
	</delete>

	<!-- 更新Textbook -->
	<update id="updateTextbook" parameterType="Textbook">
		update textbook
		<set>
			<if test="materialId != null">
				material_id = #{materialId},
			</if>
			<if test="textbookName != null and textbookName !='' ">
				textbook_name = #{textbookName},
			</if>
			<if test=" textbookRound != null">
				textbook_round= #{textbookRound},
			</if>
			<if test="planningEditor != null">
				planning_editor = #{planningEditor},
			</if>
			<if test="isChiefChosen != null ">
				is_chief_chosen = #{isChiefChosen},
			</if>
			<if test="isChiefPublished != null ">
				is_chief_published = #{isChiefPublished},
			</if>
			<if test="isListSelected != null ">
				is_list_selected = #{isListSelected},
			</if>
			<if test="isPlanningEditorConfirm != null ">
				is_planning_editor_confirm = #{isPlanningEditorConfirm},
			</if>
			<if test="isProjectEditorConfirm != null ">
				is_project_editor_confirm = #{isProjectEditorConfirm},
			</if>
			<if test=" isLocked != null">
				is_locked= #{isLocked},
			</if>
			<if test=" isPublished != null">
				is_published = #{isPublished},
			</if>
			<if test=" gmtPublished != null">
				gmt_published = #{gmtPublished},
			</if>
			<if test="revisionTimes != null ">
				revision_times = #{revisionTimes},
			</if>
			<if test="republishTimes != null ">
				republish_times = #{republishTimes},
			</if>
			<if test=" isbn != null and  isbn != '' ">
				isbn= #{isbn},
			</if>
			<if test=" sort != null">
				sort = #{sort},
			</if>
			<if test="topicNumber !=null and topicNumber !=''">
			    topic_number = #{topicNumber},
			</if>
		</set>
		where
		id=#{id} ;
	</update>

	<!-- 根据id查询一个Textbook -->
	<select id="getTextbookById" parameterType="java.lang.Long"
		resultType="Textbook">
		select t1.*,if(ISNULL(t2.realname),t2.username,t2.realname)as realname from textbook t1 left join pmph_user t2 on t1.planning_editor = t2.id where t1.id=#{id} ;
	</select>

	<!-- 通过用户id与教材id查询书籍集合 -->
	<select id="getTextbookByMaterialIdAndUserId" resultType="Textbook">
		select
		* from textbook
		where material_id = #{materialId} and planning_editor =
		#{userId};
	</select>

	<!-- 查询表单的数据总数 -->
	<select id="getTextbookCount" resultType="Long">
		select count(*)
		from
		textbook
	</select>

	<!-- 根据教材Id查询对应的书籍 -->
	<select id="getTextbookByMaterialId" parameterType="map"
		resultType="Textbook">
		select
		tb.*,ifnull(c.surveyNum,0) as surveyNum
		from
		textbook tb
		left join
		(
			select textbook_id,count(id) as surveyNum
			from material_survey_chain
			group by textbook_id
		) c on c.textbook_id = tb.id

		where
		tb.`material_id`=#{materialId}
		order by tb.sort asc;
	</select>

	<!-- 根据教材Id查询对应的书籍 -->
	<select id="getTextbookByMaterialIdAndSurveyId" parameterType="map"
			resultType="Textbook">
		select
		tb.*,ifnull(c.surveyNum,0) as surveyNum
		from
		textbook tb
		left join
		(
		select textbook_id,count(id) as surveyNum
		from material_survey_chain
		<if test="materialSurveyId != null">
			where material_survey_id = #{materialSurveyId}
		</if>
		group by textbook_id
		) c on c.textbook_id = tb.id

		where
		tb.`material_id`=#{materialId}
		order by tb.sort asc;
	</select>



	<!-- 职位遴选界面书籍总条数 -->
	<select id="listBookPositionTotal" parameterType="PageParameter"
		resultType="java.lang.Integer">
		select count(*) from (
			select
			a.id
			from textbook a
			LEFT JOIN dec_position b on
			b.textbook_id=a.id
			LEFT JOIN (select * from declaration where
			is_deleted = 0 and is_staging =
			0 and online_progress !=0 ) c on c.id =
			b.declaration_id
			LEFT JOIN material d on d.id = a.material_id
			LEFT JOIN
			(select * from pmph_user where is_deleted =0 and is_disabled =0)
			planningEditor on planningEditor.id = a.planning_editor
			LEFT JOIN pmph_group e on e.book_id = a.id
			where
			d.is_deleted =0 and d.is_published =1
			and d.id =
			#{parameter.materialId}
			<if test="parameter.power == 4 and parameter.pmphUserId !=null ">
				and a.planning_editor = #{parameter.pmphUserId}
			</if>
			<if test="parameter.state !=null ">
				<if test="parameter.state == 1 ">
					and a.is_locked = 0
				</if>
				<if test="parameter.state == 2 ">
					and a.is_locked = 1
				</if>
				<if test="parameter.state == 3 ">
					and a.is_published =1
				</if>
				<if test="parameter.state == 4 ">
					and d.is_force_end =1
				</if>
			</if>
			<if test="parameter.list !=null and  parameter.list.size() > 0 ">
				and a.id in
				<foreach collection="parameter.list" item="item" index="index"
					open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="parameter.bookName !=null ">
				and a.textbook_name like concat ('%',#{parameter.bookName},'%')
			</if>
			GROUP BY a.id
		)temp
	</select>



	<!-- 职位遴选界面书籍分页列表 -->
	<select id="listBookPosition" parameterType="PageParameter"
		resultType="BookPositionVO">
		select
		e.book_id bookId,
		a.revision_times,
		a.republish_times,
		a.is_locked,
		a.is_published,
		d.id materialId,
		d.is_all_textbook_published
		isAllTextbookPublished,
		d.is_force_end isForceEnd,
		a.id textBookId,
		a.sort sort,
		a.textbook_name,
		a.textbook_round textbookRound,
		a.is_chief_published,
		sum(IF(b.id is not null ,1,0))
		applyNum,
		a.planning_editor planningEditor,
		planningEditor.realname
		planningEditorName ,
		GROUP_CONCAT(
		IF(
		b.chosen_position in (2,3,4,5,6,7,10,11,12,13,14,15),
		IF(g.allres like CONCAT('%,',b.textbook_id,'_',b.declaration_id,'_',b.preset_position,'_',b.chosen_position,'_',IFNULL(b.rank,0),',%')
		or a.is_published or a.is_chief_published,
		CONCAT('&lt;font color="#2828ca" style="font-weight: 700;"&gt;',c.realname,'&lt;/font&gt;'), CONCAT('&lt;font color="black"&gt;',c.realname,'&lt;/font&gt;')),
		null
		) ORDER BY if(b.chosen_position>8,b.chosen_position-8,b.chosen_position) desc,b.rank asc) editorsAndAssociateEditors,
		sum(IF(b.chosen_position in (2,3,4,5,6,7,10,11,12,13,14,15),1,0))
		editorsAndAssociateEditorsNum,
		GROUP_CONCAT(
		IF(
		b.chosen_position in (1,9),<!-- baohanshuzibainwei  1,3,5,7,8,9,10,11,12,13,14,15 -->
		IF(g.allres like CONCAT('%,',b.textbook_id,'_',b.declaration_id,'_',b.preset_position,'_',b.chosen_position,'_',IFNULL(b.rank,0),',%'),
		CONCAT('&lt;font color="black"&gt;',c.realname,'&lt;/font&gt;'),CONCAT('&lt;font color="black"&gt;',c.realname,'&lt;/font&gt;')),
		null
		) ORDER BY b.chosen_position desc,b.rank asc) bianWeis,
		sum(IF(b.chosen_position in (1,3,5,7) ,1,0)) bianWeisNum ,
		e.id groupId,
		IF(!a.is_published,null,f.repub) repub
		from textbook a
		LEFT
		JOIN dec_position b on b.textbook_id=a.id
		LEFT JOIN (select * from
		declaration where is_deleted = 0 and is_staging =
		0 and online_progress
		!=0) c on c.id = b.declaration_id
		LEFT JOIN material d on d.id =
		a.material_id
		LEFT JOIN (select * from pmph_user where is_deleted =0
		and is_disabled =0)
		planningEditor on planningEditor.id =
		a.planning_editor
		LEFT JOIN pmph_group e on e.book_id = a.id
		<!-- 下面f是连接发布结果后是否可以再发布的 -->
		LEFT JOIN (
		SELECT textbook_id,IF(GROUP_CONCAT(PUB ORDER BY PUB ASC ) != GROUP_CONCAT(RES ORDER BY PUB ASC ),true,false) repub  FROM (
		select A.textbook_id,IFNULL(a.PUB,'')PUB ,IFNULL(b.RES,'')RES from (
		SELECT  textbook_id,declaration_id, CONCAT(textbook_id,'_',declaration_id,'_',preset_position,'_',chosen_position,'_',IFNULL(rank,0)) PUB
		from dec_position_published
		) a left  JOIN (
		SELECT  textbook_id,declaration_id, CONCAT(textbook_id,'_',declaration_id,'_',preset_position,'_',chosen_position,'_',IFNULL(rank,0)) RES
		from dec_position WHERE chosen_position !=0
		) b  on b.textbook_id = a.textbook_id and a.declaration_id = b.declaration_id
		UNION
		select B.textbook_id,IFNULL(a.PUB,'')PUB ,IFNULL(b.RES,'')RES from (
		SELECT  textbook_id,declaration_id, CONCAT(textbook_id,'_',declaration_id,'_',preset_position,'_',chosen_position,'_',IFNULL(rank,0)) PUB
		from dec_position_published
		) a RIGHT  JOIN (
		SELECT textbook_id,declaration_id, CONCAT(textbook_id,'_',declaration_id,'_',preset_position,'_',chosen_position,'_',IFNULL(rank,0)) RES
		from dec_position WHERE chosen_position !=0
		) b on b.textbook_id = a.textbook_id and a.declaration_id = b.declaration_id
		) T GROUP BY textbook_ID
		)f on f.textbook_id = a.id
		LEFT JOIN (SELECT textbook_id ,CONCAT(',',GROUP_CONCAT(CONCAT(textbook_id,'_',declaration_id,'_',preset_position,'_',chosen_position,'_',IFNULL(rank,0))),',') allres
		from dec_position_published GROUP BY textbook_id ) g on g.textbook_id = a.id
		where d.is_deleted =0 and d.is_published =1
		and d.id =
		#{parameter.materialId}
		<if test="parameter.power == 4 and parameter.pmphUserId !=null ">
			and a.planning_editor = #{parameter.pmphUserId}
		</if>
		<if test="parameter.state !=null ">
			<if test="parameter.state == 1 ">
				and a.is_locked = 0
			</if>
			<if test="parameter.state == 2 ">
				and a.is_locked = 1
			</if>
			<if test="parameter.state == 3 ">
				and a.is_published =1
			</if>
			<if test="parameter.state == 4 ">
				and d.is_force_end =1
			</if>
		</if>
		<if test="parameter.list !=null and  parameter.list.size() > 0 ">
			and a.id in
			<foreach collection="parameter.list" item="item" index="index"
					 open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="parameter.bookName !=null ">
			and a.textbook_name like concat ('%',#{parameter.bookName},'%')
		</if>
		GROUP BY a.id ORDER BY a.sort
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<!-- 职位遴选界面书籍分页列表 -->
	<select id="listBookPosition_up1" parameterType="PageParameter"
			resultType="BookPositionVO">
		select
		e.book_id bookId,
		a.revision_times,
		a.republish_times,
		a.is_locked,
		a.is_published,
		d.id materialId,
		d.is_all_textbook_published
		isAllTextbookPublished,
		d.is_force_end isForceEnd,
		a.id textBookId,
		a.sort sort,
		a.textbook_name,
		a.textbook_round textbookRound,
		a.is_chief_published,
		/*sum(IF(b.id is not null ,1,0))*/
		app.applyNum,
		a.planning_editor planningEditor,
		planningEditor.realname
		planningEditorName ,


		IF(a.is_chief_published,
		concat(
		'&lt;span class="editors_sql_label" &gt;主编：',
		ifnull(
		(GROUP_CONCAT(
		IF(
		g.chosen_position &amp; 4 &gt;0,
		IF(g.id
		or a.is_published or a.is_chief_published,
		CONCAT('&lt;font color="#2828ca" style="font-weight: 700;"&gt;',g.realname,'&lt;/font&gt;'),NULL ),
		null
		) ORDER BY if(g.chosen_position>8,g.chosen_position-8,g.chosen_position) desc,g.rank asc)),'待遴选')
		,'&lt;/span &gt;'
		,
		'&lt;span class="editors_sql_label" &gt;副主编：',
		ifnull(
		(GROUP_CONCAT(
		IF(
		g.chosen_position&amp;2 &gt;0,
		IF(g.id
		or a.is_published or a.is_chief_published,
		CONCAT('&lt;font color="#2828ca" style="font-weight: 700;"&gt;',g.realname,'&lt;/font&gt;'),NULL ),
		null
		) ORDER BY if(g.chosen_position>8,g.chosen_position-8,g.chosen_position) desc,g.rank asc)),'待遴选')
		,'&lt;/span&gt;'
		)
		,
		concat(
		'&lt;span class="editors_sql_label" &gt;主编：',
		ifnull(
		(GROUP_CONCAT(
		IF(
		b.chosen_position&amp;4&gt;0,

		CONCAT('&lt;font color="black"&gt;',b.realname,'&lt;/font&gt;'),
		null
		) ORDER BY if(b.chosen_position>8,b.chosen_position-8,b.chosen_position) desc,b.rank asc)),'待遴选')
		,'&lt;/span&gt;'
		,
		'&lt;span class="editors_sql_label" &gt;副主编：',
		ifnull(
		(GROUP_CONCAT(
		IF(
		b.chosen_position&amp;2&gt;0,

		CONCAT('&lt;font color="black"&gt;',b.realname,'&lt;/font&gt;'),
		null
		) ORDER BY if(b.chosen_position>8,b.chosen_position-8,b.chosen_position) desc,b.rank asc)),'待遴选')
		,'&lt;/span&gt;'
		)
		) editorsAndAssociateEditors,
		/*IF(a.is_chief_published,
		(GROUP_CONCAT(
		IF(
		g.chosen_position in (2,3,4,5,6,7,10,11,12,13,14,15),
		IF(g.id
		or a.is_published or a.is_chief_published,
		CONCAT('&lt;font color="#2828ca" style="font-weight: 700;"&gt;',g.realname,'&lt;/font&gt;'),NULL ),
		null
		) ORDER BY if(g.chosen_position>8,g.chosen_position-8,g.chosen_position) desc,g.rank asc))
		,
		(GROUP_CONCAT(
		IF(
		b.chosen_position in (2,3,4,5,6,7,10,11,12,13,14,15),

		CONCAT('&lt;font color="black"&gt;',b.realname,'&lt;/font&gt;'),
		null
		) ORDER BY if(b.chosen_position>8,b.chosen_position-8,b.chosen_position) desc,b.rank asc))

		) editorsAndAssociateEditors,*/
		sum(IF(g.chosen_position in (2,3,4,5,6,7,10,11,12,13,14,15),1,0))
		editorsAndAssociateEditorsNum,
		(select cname from (select GROUP_CONCAT(	CONCAT('&lt;font color="black"&gt;',c.realname,'&lt;/font&gt;')) as cname,b1.textbook_id from
		textbook a
		LEFT JOIN dec_position b1 ON a.id = b1.textbook_id
		LEFT JOIN (select * from
		declaration where is_deleted = 0 and is_staging =
		0 and online_progress
		!=0) c on c.id = b1.declaration_id and b1.chosen_position in(1,9) group by a.id 	) t where   t.textbook_id = a.id)
		bianWeis,
		sum(IF(g.chosen_position in (1,3,5,7) ,1,0)) bianWeisNum ,
		e.id groupId,
		/*IF(!a.is_published,null,f.repub) */
		f.repub
		from textbook a

		LEFT JOIN material d on d.id =
		a.material_id
		LEFT JOIN (select * from pmph_user where is_deleted =0
		and is_disabled =0)
		planningEditor on planningEditor.id =
		a.planning_editor
		LEFT JOIN pmph_group e on e.book_id = a.id
		LEFT JOIN (
		SELECT textbook_id,IF(GROUP_CONCAT(PUB ORDER BY PUB ASC ) != GROUP_CONCAT(RES ORDER BY PUB ASC ),true,false) repub  FROM (
		select A.textbook_id,IFNULL(a.PUB,'')PUB ,IFNULL(b.RES,'')RES from (
		SELECT  textbook_id,declaration_id, CONCAT(textbook_id,'_',declaration_id,'_',preset_position,'_',chosen_position,'_',IFNULL(rank,0)) PUB
		from dec_position_published
		) a left  JOIN (
		SELECT  textbook_id,declaration_id, CONCAT(textbook_id,'_',declaration_id,'_',preset_position,'_',chosen_position,'_',IFNULL(rank,0)) RES
		from dec_position WHERE chosen_position !=0
		) b  on b.textbook_id = a.textbook_id and a.declaration_id = b.declaration_id
		UNION
		select B.textbook_id,IFNULL(a.PUB,'')PUB ,IFNULL(b.RES,'')RES from (
		SELECT  textbook_id,declaration_id, CONCAT(textbook_id,'_',declaration_id,'_',preset_position,'_',chosen_position,'_',IFNULL(rank,0)) PUB
		from dec_position_published
		) a RIGHT  JOIN (
		SELECT textbook_id,declaration_id, CONCAT(textbook_id,'_',declaration_id,'_',preset_position,'_',chosen_position,'_',IFNULL(rank,0)) RES
		from dec_position WHERE chosen_position !=0
		) b on b.textbook_id = a.textbook_id and a.declaration_id = b.declaration_id
		) T GROUP BY textbook_ID
		)f on f.textbook_id = a.id
		LEFT JOIN  (select g1.* , c.realname from dec_position_published g1  LEFT JOIN (select * from
		declaration where is_deleted = 0 and is_staging =
		0 and online_progress
		!=0) c on c.id = g1.declaration_id) g on g.textbook_id = a.id and (a.is_published=true or a.is_chief_published =true)
		left join
		(select b1.* , c.realname from dec_position b1  LEFT JOIN (select * from
		declaration where is_deleted = 0 and is_staging =
		0 and online_progress
		!=0) c on c.id = b1.declaration_id) b on b.textbook_id = a.id and (a.is_published=false and a.is_chief_published=false)

		left join
		(select dp.textbook_id ,count(dp.id) applyNum
		from dec_position dp left join declaration d on dp.declaration_id = d.id
		where d.online_progress !=0
		group by dp.textbook_id)app
		on app.textbook_id = a.id

		where d.is_deleted =0 and d.is_published =1
		and d.id =
		#{parameter.materialId}
		<if test="parameter.power == 4 and parameter.pmphUserId !=null ">
			and a.planning_editor = #{parameter.pmphUserId}
		</if>
		<if test="parameter.state !=null ">
			<if test="parameter.state == 1 ">
				and a.is_locked = 0
			</if>
			<if test="parameter.state == 2 ">
				and a.is_locked = 1
			</if>
			<if test="parameter.state == 3 ">
				and a.is_published =1
			</if>
			<if test="parameter.state == 4 ">
				and d.is_force_end =1
			</if>
		</if>
		<if test="parameter.list !=null and  parameter.list.size() > 0 ">
			and a.id in
			<foreach collection="parameter.list" item="item" index="index"
					 open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="parameter.bookName !=null ">
			and a.textbook_name like concat ('%',#{parameter.bookName},'%')
		</if>
		GROUP BY a.id ORDER BY a.sort
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 职位遴选界面书籍分页列表 不分页 仅查id -->
	<select id="listBookPosition_up1_ids" parameterType="PageParameter"
			resultType="Map">
		select
		a.id textBookId
		,a.planning_editor planningEditor
		,a.is_locked isLocked
		,a.is_published isPublished
		from textbook a
		LEFT JOIN material d on d.id =
		a.material_id
		where d.is_deleted =0 and d.is_published =1
		and d.id =
			#{parameter.materialId}
		<if test="parameter.power == 4 and parameter.pmphUserId !=null ">
		and a.planning_editor = #{parameter.pmphUserId}
	</if>
		<if test="parameter.state !=null ">
			<if test="parameter.state == 1 ">
				and a.is_locked = 0
			</if>
			<if test="parameter.state == 2 ">
				and a.is_locked = 1
			</if>
			<if test="parameter.state == 3 ">
				and a.is_published =1
			</if>
			<if test="parameter.state == 4 ">
				and d.is_force_end =1
			</if>
		</if>
		<if test="parameter.list !=null and  parameter.list.size() > 0 ">
			and a.id in
			<foreach collection="parameter.list" item="item" index="index"
					 open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="parameter.bookName !=null ">
			and a.textbook_name like concat ('%',#{parameter.bookName},'%')
		</if>
		GROUP BY a.id ORDER BY a.sort
	</select>

	<!-- 根据书籍id查询textbook -->
	<select id="getTextbooks" resultType="Textbook">
		select * from textbook
		where id in
		<foreach collection="array" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>

	<!-- 根据id进行名单确认 -->
	<update id="updateTextbooks" parameterType="list">
		update textbook
		set is_locked= true
		where id in
		<foreach item="item" collection="list" open="(" separator=","
			close=")">
			#{item.id}
		</foreach>
	</update>
	<!-- 根据id进行结果公布 -->
	<update id="updateBookPublished" parameterType="list">
		update textbook
		<set>
			<if test="isPublished !=null">
				is_published=#{isPublished},
			</if>
			<if test="republishTimes != null ">
				republish_times=#{republishTimes},
			</if>
		</set>
			where id in
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</update>
	<!-- 获取设置选题号页面教材书籍列表 -->
	<select id="listTopicNumber" parameterType="java.lang.Long"
	    resultType="Textbook">
	   SELECT * FROM textbook t 
	   WHERE t.material_id = #{materialId} ORDER BY t.sort;
	</select>
	<!-- 根据书籍id查询已通过的主编和编委数 -->
	<select id="getTextbookDecTotal" parameterType="PageParameter" 
		resultType="java.lang.Integer">
			SELECT 
    			count(*)
			FROM `dec_position` dp 
			LEFT JOIN `declaration` dc ON dp.`declaration_id` = dc.`id`
			LEFT JOIN `org` org ON dc.`org_id`= org.`id`
			LEFT JOIN `writer_user` wu ON wu.`id`= dc.`user_id`
			WHERE
				dc.is_staging=false 
				and dp.chosen_position!=0
		<if test="parameter.textBookId !=null  ">
			and dp.`textbook_id` =#{parameter.textBookId}
		</if>
	</select>
	<!-- 根据书籍id查询已通过的主编和编委 -->
	<select id="getTextbookDecVOList" parameterType="PageParameter"
		resultType="TextbookDecVO">
	 	SELECT 
			dc.`org_name`,dp.`preset_position`,dp.`chosen_position`,
			wu.`rank`,dp.`textbook_id`,wu.`id` userId,wu.`realname`,
			wu.`is_writer`,org.`org_name` declarationUnit
		FROM `dec_position` dp 
		LEFT JOIN `declaration` dc ON dp.`declaration_id` = dc.`id`
		LEFT JOIN `org` org ON dc.`org_id`= org.`id`
		LEFT JOIN `writer_user` wu ON wu.`id`= dc.`user_id`
		WHERE
			dc.is_staging=false 
			and dp.chosen_position!=0
		<if test="parameter.textBookId !=null  ">
			and dp.`textbook_id` =#{parameter.textBookId}
		</if>
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 职位遴选页面名单导出 -->
	<select id="getExcelDecAndTextbooks"  resultType="ExcelDecAndTextbookVO">
		SELECT
		t.textbook_name,t.textbook_round,t.sort,dp.chosen_position,wu.realname,wu.username,org.org_name unitName,
			dc.org_name,dc.position,dp.rank,dc.title,dc.address,dc.email,
			dc.handphone,dc.idtype,dc.idcard,dc.online_progress,dc.offline_progress,
			m.material_name,dc.postcode,dc.birthday,pu.realname as editorName
		FROM `dec_position` dp 
		LEFT JOIN `declaration` dc ON dp.`declaration_id` = dc.`id`
		LEFT JOIN `org` org ON dc.`org_id`= org.`id`
		LEFT JOIN `writer_user` wu ON wu.`id`= dc.`user_id`
		LEFT JOIN `textbook` t ON t.`id`= dp.`textbook_id`
		LEFT JOIN `material` m ON m.`id`= t.`material_id`
		LEFT JOIN pmph_user pu ON pu.id = t.planning_editor
		WHERE
			dc.is_staging=false and dc.online_progress!=0 and dp.chosen_position !=0
			and dp.`textbook_id` in
		<foreach collection="array" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
		ORDER BY t.sort asc ,convert(t.textbook_name using gbk)  asc,dp.chosen_position desc,dp.rank asc
	</select>
	<!-- 角色遴选页面批量导出主编/副主编 -->
	<select id="getExcelDecByMaterialId" resultType="com.bc.pmpheep.back.bo.DecPositionBO">
		select 	tk.textbook_name,tk.textbook_round,tk.sort, 
          			CONCAT('[',GROUP_CONCAT(CONCAT('{realname:"',dc.realname,'",',
					'chosenOrgName:"',if(dc.org_id >0,org.org_name,'人民卫生出版社'),'",','chosenPosition:',dp.chosen_position,',',
					'rank:',if(dp.rank is not null,dp.rank,0),'}') ORDER BY if(dp.chosen_position>8,dp.chosen_position-8,dp.chosen_position) desc ,dp.rank asc),']') writers 
					from dec_position dp
					left join declaration dc on dp.declaration_id=dc.id 
					left join org org on dc.org_id=org.id 
					left join writer_user wu on wu.id =dc.user_id 
					left join textbook tk on tk.id =dp.textbook_id
					left join material m on m.id=tk.material_id
					WHERE dc.is_staging=false and dc.online_progress!=0
				and dp.chosen_position in(12,4,10,2)
				and dp.`textbook_id` in
		<foreach collection="array" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
			GROUP BY dp.`textbook_id`
	</select>
	
	<!-- 遴选编委后修改 再次修改次数-->
	<update id="updatRevisionTimesByTextBookId" parameterType="java.util.Map">
		UPDATE textbook SET revision_times=revision_times+(#{number}) WHERE id = #{textBookId};
	</update>
	
</mapper>
