<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.TopicDao">

	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="bookname != null and bookname !='' ">
				bookname,
			</if>
			<if test="reader != null ">
				reader,
			</if>
			<if test="deadline != null ">
				deadline,
			</if>
			<if test="source != null">
				source,
			</if>
			<if test="wordNumber != null">
				word_number,
			</if>
			<if test="pictureNumber != null">
				picture_number,
			</if>
			<if test="subject != null and subject !='' ">
				subject,
			</if>
			<if test="rank != null">
				rank,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="bankAccountId != null">
				bank_account_id,
			</if>
			<if test="readerQuantity != null and readerQuantity !=''">
			    reader_quantity,
			</if>
			<if test="purchase != null">
				purchase,
			</if>
			<if test="campaign !=null and campaign !=''">
			    campaign,
			</if>
			<if test="salesChannel !=null and salesChannel !=''">
			    sales_channel,
			</if>
			<if test="lifecycle !=null and lifecycle !=''">
			    lifecycle,
			</if>
			<if test="sponsorship != null">
				sponsorship,
			</if>
			<if test="printAdvise != null and printAdvise !=''">
			    print_advise,
			</if>
			<if test="priceAdvise !=null and priceAdvise !=''">
			    price_advise,
			</if>
			<if test="printNumber !=null and printNumber !=''">
			    print_number,
			</if>
			<if test="cost !=null and cost !=''">
			    cost,
			</if>
			<if test="minPrintNumber !=null and minPrintNumber !=''">
			    min_print_number,
			</if>
			<if test="benefit != null and benefit !=''">
			    benefit,
			</if>
			<if test="isRevision !=null">
			    is_revision,
			</if>
			<if test="revisionBookname != null and revisionBookname !=''">
			    revision_bookname,
			</if>
			<if test="revisionAuthor !=null and revisionAuthor !=''">
			    revision_author,
			</if>
			<if test="revisionPublishDate !=null">
			    revision_publish_date,
			</if>
			<if test="revisionPrint !=null">
			    revision_print,
			</if>
			<if test="revisionStock !=null">
			    revision_stock,
			</if>
			<if test="isTranslation != null">
				is_translation,
			</if>
			<if test="originalBookname != null and originalBookname !='' ">
				original_bookname,
			</if>
			<if test="originalAuthor != null and originalAuthor !='' ">
				original_author,
			</if>
			<if test="originalPublisher !=null and originalPublisher !=''">
			    original_publisher,
			</if>
			<if test="nation != null and nation !='' ">
				nation,
			</if>
			<if test="edition != null and edition !='' ">
				edition,
			</if>
			<if test="realname != null and realname !=''">
			    realname,
			</if>
			<if test="sex !=null">
			    sex,
			</if>
			<if test="price !=null">
			    price,
			</if>
			<if test="position !=null and position !=''">
			    position,
			</if>
			<if test="positionProfession !=null">
			    position_profession,
			</if>
			<if test="degree !=null">
			    degree,
			</if>
			<if test="workplace !=null and workplace !=''">
			    workplace,
			</if>
			<if test="phone !=null and phone !=''">
			    phone,
			</if>
			<if test="address !=null and address !=''">
			    address,
			</if>
			<if test="postcode !=null and postcode !=''">
			    postcode,
			</if>
			<if test="email !=null and email !=''">
			    email,
			</if>
			<if test="authProgress != null">
				auth_progress,
			</if>
			<if test="authFeedback != null and authFeedback !='' ">
				auth_feedback,
			</if>
			<if test="authDate != null">
				auth_date,
			</if>
			<if test="isOptsHandling != null">
				is_opts_handling,
			</if>
			<if test="optsRoleId != null">
				opts_role_id,
			</if>
			<if test="isRejectedByDirector != null">
				is_rejected_by_director,
			</if>
			<if test="reasonDirector != null and reasonDirector !='' ">
				reason_director,
			</if>
			<if test="isDirectorHandling != null">
				is_director_handling,
			</if>
			<if test="departmentId != null">
				department_id,
			</if>
			<if test="isRejectedByEditor != null">
				is_rejected_by_editor,
			</if>
			<if test="reasonEditor != null and reasonEditor !='' ">
				reason_editor,
			</if>
			<if test="isEditorHandling != null">
				is_editor_handling,
			</if>
			<if test="editorId != null">
				editor_id,
			</if>
			<if test="isAccepted != null">
				is_accepted,
			</if>
			<if test="isStaging != null">
				is_staging,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="note != null and note !='' ">
				note,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="gmtUpdate != null">
				gmt_update,
			</if>
			<if test="vn != null and vn !='' ">
				vn,
			</if>
			<if test="tn != null and tn !='' ">
				tn,
			</if>
			<if test="submitTime != null">
				submit_time,
			</if>
		</trim>
	</sql>
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="userId != null">
				#{userId},
			</if>
			<if test="bookname != null and bookname !='' ">
				#{bookname},
			</if>
			<if test="reader != null ">
				#{reader},
			</if>
			<if test="deadline != null ">
				#{deadline},
			</if>
			<if test="source != null">
				#{source},
			</if>
			<if test="wordNumber != null">
				#{wordNumber},
			</if>
			<if test="pictureNumber != null">
				#{pictureNumber},
			</if>
			<if test="subject != null and subject !='' ">
				#{subject},
			</if>
			<if test="rank != null">
				#{rank},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="bankAccountId != null">
				#{bankAccountId},
			</if>
			<if test="readerQuantity !=null and readerQuantity !=''">
			    #{readerQuantity},
			</if>
			<if test="purchase != null">
				#{purchase},
			</if>
			<if test="campaign !=null and campaign !=''">
			    #{campaign},
			</if>
			<if test="salesChannel !=null and salesChannel !=''">
			    #{salesChannel},
			</if>
			<if test="lifecycle !=null and lifecycle !=''">
			    #{lifecycle},
			</if>
			<if test="sponsorship != null">
				#{sponsorship},
			</if>
			<if test="printAdvise !=null and printAdvise !=''">
			    #{printAdvise},
			</if>
			<if test="priceAdvise !=null and priceAdvise !=''">
			    #{priceAdvise},
			</if>
			<if test="printNumber !=null and printNumber !=''">
			    #{printNumber},
			</if>
			<if test="cost != null and cost !=''">
			    #{cost},
			</if>
			<if test="minPrintNumber !=null and minPrintNumber !=''">
			    #{minPrintNumber},
			</if>
			<if test="benefit !=null and benefit !=''">
			    #{benefit},
			</if>
			<if test="isRevision !=null">
			    #{isRevision},
			</if>
			<if test="revisionBookname !=null and revisionBookname !=''">
			    #{revisionBookname},
			</if>
			<if test="revisionAuthor !=null and revisionAuthor !=''">
			    #{revisionAuthor},
			</if>
			<if test="revisionPublishDate !=null">
			    #{revisionPublishDate},
			</if>
			<if test="revisionPrint !=null">
			    #{revisionPrint},
			</if>
			<if test="revisionStock !=null">
			    #{revisionStock},
			</if>
			<if test="isTranslation != null">
				#{isTranslation},
			</if>
			<if test="originalBookname != null and originalBookname !='' ">
				#{originalBookname},
			</if>
			<if test="originalAuthor != null and originalAuthor !='' ">
				#{originalAuthor},
			</if>
			<if test="originalPublisher !=null and originalPublisher !=''">
			    #{originalPublisher},
			</if>
			<if test="nation != null and nation !='' ">
				#{nation},
			</if>
			<if test="edition != null and edition !='' ">
				#{edition},
			</if>
			<if test="realname !=null and realname !=''">
			    #{realname},
			</if>
			<if test="sex !=null">
			    #{sex},
			</if>
			<if test="price !=null">
			    #{price},
			</if>
			<if test="position !=null and position !=''">
			    #{position},
			</if>
			<if test="positionProfession !=null">
			    #{positionProfession},
			</if>
			<if test="degree !=null">
			    #{degree},
			</if>
			<if test="workplace !=null and workplace !=''">
			    #{workplace},
			</if>
			<if test="phone !=null and phone !=''">
			    #{phone},
			</if>
			<if test="address !=null and address !=''">
			    #{address},
			</if>
			<if test="postcode !=null and postcode !=''">
			    #{postcode},
			</if>
			<if test="email !=null and email !=''">
			    #{email},
			</if>
			<if test="authProgress != null">
				#{authProgress},
			</if>
			<if test="authFeedback != null and authFeedback !='' ">
				#{authFeedback},
			</if>
			<if test="authDate != null">
				#{authDate},
			</if>
			<if test="isOptsHandling != null">
				#{isOptsHandling},
			</if>
			<if test="optsRoleId != null">
				#{optsRoleId},
			</if>
			<if test="isRejectedByDirector != null">
				#{isRejectedByDirector},
			</if>
			<if test="reasonDirector != null and reasonDirector !='' ">
				#{reasonDirector},
			</if>
			<if test="isDirectorHandling != null">
				#{isDirectorHandling},
			</if>
			<if test="departmentId != null">
				#{departmentId},
			</if>
			<if test="isRejectedByEditor != null">
				#{isRejectedByEditor},
			</if>
			<if test="reasonEditor != null and reasonEditor !='' ">
				#{reasonEditor},
			</if>
			<if test="isEditorHandling != null">
				#{isEditorHandling},
			</if>
			<if test="editorId != null">
				#{editorId},
			</if>
			<if test="isAccepted != null">
				#{isAccepted},
			</if>
			<if test="isStaging != null">
				#{isStaging},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
			<if test="note != null and note !='' ">
				#{note},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate},
			</if>
			<if test="gmtUpdate != null">
				#{gmtUpdate},
			</if>
			<if test="vn != null and vn !='' ">
				#{vn},
			</if>
			<if test="tn != null and tn !='' ">
				#{tn},
			</if>
			<if test="submitTime != null">
				#{submitTime},
			</if>
		</trim>
	</sql>

	<!-- 新增一个topic -->
	<insert id="add" parameterType="Topic">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into topic (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 运维人员获取可以操作的选题 -->
	<select id="listOpts" resultType="TopicOPtsManagerVO">
		SELECT
		t.*,w.realname submitName
		FROM
		topic t
		LEFT JOIN pmph_user_role r ON r.role_id
		=
		t.opts_role_id
		LEFT JOIN pmph_user u ON u.id = r.user_id
		LEFT JOIN
		writer_user w ON t.user_id = w.id
		WHERE u.id =
		#{userId}
		AND
		t.is_opts_handling = TRUE
		AND t.is_director_handling =
		FALSE
		<if test="bookname != null and bookname !=''">
			AND t.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null and submitTime != ''">
			AND t.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null and submitTime1 != '' ">
			AND
			TO_DAYS(t.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(t.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY t.submit_time desc
		LIMIT
		#{start},#{pageSize}
	</select>
	<select id="get" parameterType="java.lang.Long" resultType="Topic">
		select * from topic where id = #{id}
	</select>
	<!-- 查询运维人员可以操作的数量 -->
	<select id="listOptsTotal" resultType="Integer">
		SELECT
		count(*)
		FROM
		topic t
		LEFT JOIN pmph_user_role r ON r.role_id =
		t.opts_role_id
		LEFT JOIN pmph_user u ON u.id = r.user_id
		LEFT JOIN
		writer_user w ON t.user_id = w.id
		WHERE u.id =
		#{userId}
		AND
		t.is_opts_handling = TRUE
		AND t.is_director_handling =
		FALSE
		<if test="bookname != null and bookname !=''">
			AND t.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND t.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null and submitTime1 != '' ">
			AND
			TO_DAYS(t.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(t.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY t.submit_time DESC
	</select>

	<!-- 系统管理员获取可以操作的选题 -->
	<select id="list" resultType="TopicOPtsManagerVO">
		SELECT
		t.*,w.realname submitName
		FROM
		topic t
		LEFT JOIN
		writer_user w ON t.user_id =
		w.id
		WHERE
		t.is_opts_handling = TRUE
		AND
		t.is_director_handling = FALSE
		<if test="bookname != null and bookname !=''">
			AND t.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND t.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null and submitTime1 != '' ">
			AND
			TO_DAYS(t.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(t.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY t.submit_time DESC
		LIMIT
		#{start},#{pageSize}
	</select>

	<!-- 系统管理员可以操作的数量 -->
	<select id="listTotal" resultType="Integer">
		SELECT
		count(*)
		FROM
		topic t
		LEFT JOIN
		writer_user w ON t.user_id = w.id
		WHERE
		t.is_opts_handling = TRUE
		AND
		t.is_director_handling =
		FALSE
		<if test="bookname != null and bookname !=''">
			AND t.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND
			t.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(t.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(t.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY t.submit_time DESC
	</select>
	<!-- 动态修改选题申报 -->
	<update id="update" parameterType="Topic">
		UPDATE topic
		<set>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="bookname != null and bookname !='' ">
				bookname = #{bookname},
			</if>
			<if test="reader != null ">
				reader = #{reader},
			</if>
			<if test="deadline != null ">
				deadline = #{deadline},
			</if>
			<if test="source != null">
				source = #{source},
			</if>
			<if test="wordNumber != null">
				word_number =#{wordNumber},
			</if>
			<if test="pictureNumber != null">
				picture_number =#{pictureNumber},
			</if>
			<if test="subject != null and subject !='' ">
				subject = #{subject},
			</if>
			<if test="rank != null">
				rank = #{rank},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="bankAccountId != null">
				bank_account_id = #{bankAccountId},
			</if>
			<if test="readerQuantity !=null and readerQuantity !=''">
			    reader_quantity = #{readerQuantity},
			</if>
			<if test="purchase != null">
				purchase = #{purchase},
			</if>
			<if test="campaign !=null and campaign !=''">
			    campaign = #{campaign},
			</if>
			<if test="salesChannel !=null and salesChannel !=''">
			    sales_channel = #{salesChannel},
			</if>
			<if test="lifecycle !=null and lifecycle !=''">
			    lifecycle = #{lifecycle},
			</if>
			<if test="sponsorship != null">
				sponsorship = #{sponsorship},
			</if>
			<if test="printAdvise !=null and printAdvise !=''">
			    print_advise = #{printAdvise},
			</if>
			<if test="priceAdvise !=null and priceAdvise !=''">
			    price_advise = #{priceAdvise},
			</if>
			<if test="printNumber !=null and printNumber !=''">
			    print_number = #{printNumber},
			</if>
			<if test="cost !=null and cost !=''">
			    cost = #{cost},
			</if>
			<if test="minPrintNumber !=null and minPrintNumber !=''">
			    min_print_number = #{minPrintNumber},
			</if>
			<if test="benefit !=null and benefit !=''">
			    benefit = #{benefit},
			</if>
			<if test="isRevision !=null">
			    is_revision = #{isRevision},
			</if>
			<if test="revisionBookname !=null and revisionBookname !=''">
			    revision_bookname = #{revisionBookname},
			</if>
			<if test="revisionAuthor !=null and revisionAuthor !=''">
			    revision_author = #{revisionAuthor},
			</if>
			<if test="revisionPublishDate !=null">
			    revision_publish_date = #{revisionPublishDate},
			</if>
			<if test="revisionPrint !=null">
			    revision_print = #{revisionPrint},
			</if>
			<if test="revisionStock !=null">
			    revision_stock = #{revisionStock},
			</if>
			<if test="isTranslation != null">
				is_translation = #{isTranslation},
			</if>
			<if test="originalBookname != null and originalBookname !='' ">
				original_bookname = #{originalBookname},
			</if>
			<if test="originalAuthor != null and originalAuthor !='' ">
				original_author = #{originalAuthor},
			</if>
			<if test="originalPublisher !=null and originalPublisher !=''">
			    original_publisher = #{originalPublisher},
			</if>
			<if test="nation != null and nation !='' ">
				nation = #{nation},
			</if>
			<if test="edition != null and edition !='' ">
				edition = #{edition},
			</if>
			<if test="realname !=null and realname !=''">
			    realname = #{realname},
			</if>
			<if test="sex !=null">
			    sex = #{sex},
			</if>
			<if test="price !=null">
			    price = #{price},
			</if>
			<if test="position !=null and position !=''">
			    position = #{position},
			</if>
			<if test="positionProfession !=null">
			    position_profession = #{positionProfession},
			</if>
			<if test="degree !=null">
			    degree = #{degree},
			</if>
			<if test="workplace !=null and workplace != ''">
			    workplace = #{workplace},
			</if>
			<if test="phone !=null and phone !=''">
			    phone = #{phone},
			</if>
			<if test="address !=null and address !=''">
			    address = #{address},
			</if>
			<if test="postcode !=null and postcode !=''">
			    postcode = #{postcode},
			</if>
			<if test="email !=null and email !=''">
			    email = #{email},
			</if>
			<if test="authProgress != null">
				auth_progress = #{authProgress},
			</if>
			<if test="authFeedback != null and authFeedback !='' ">
				auth_feedback = #{authFeedback},
			</if>
			<if test="authDate != null">
				auth_date = #{authDate},
			</if>
			<if test="isOptsHandling != null">
				is_opts_handling = #{isOptsHandling},
			</if>
			<if test="optsRoleId != null">
				opts_role_id = #{optsRoleId},
			</if>
			<if test="isRejectedByDirector != null">
				is_rejected_by_director = #{isRejectedByDirector},
			</if>
			<if test="reasonDirector != null and reasonDirector !='' ">
				reason_director = #{reasonDirector},
			</if>
			<if test="isDirectorHandling != null">
				is_director_handling = #{isDirectorHandling},
			</if>
			<if test="departmentId != null">
				department_id = #{departmentId},
			</if>
			<if test="isRejectedByEditor != null">
				is_rejected_by_editor = #{isRejectedByEditor},
			</if>
			<if test="reasonEditor != null and reasonEditor !='' ">
				reason_editor = #{reasonEditor},
			</if>
			<if test="isEditorHandling != null">
				is_editor_handling = #{isEditorHandling},
			</if>
			<if test="editorId != null">
				editor_id = #{editorId},
			</if>
			<if test="isAccepted != null">
				is_accepted = #{isAccepted},
			</if>
			<if test="isStaging != null">
				is_staging = #{isStaging},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted},
			</if>
			<if test="note != null and note !='' ">
				note = #{note},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate},
			</if>
			<if test="gmtUpdate != null">
				gmt_update = #{gmtUpdate},
			</if>
			<if test="vn != null and vn !='' ">
				vn = #{vn},
			</if>
			<if test="tn != null and tn !='' ">
				tn = #{tn},
			</if>
			<if test="submitTime != null">
				submit_time = #{submitTime},
			</if>
		</set>
		WHERE id = #{id};
	</update>

	<select id="getTopicTextVO" parameterType="java.lang.Long"
		resultType="TopicTextVO">
		SELECT
		t.*, u.realname editorName,u.username,a.bank,a.account_number
		FROM
		topic t
		LEFT JOIN pmph_user u ON u.id = t.editor_id
		LEFT JOIN
		writer_bank_account a ON a.id = t.bank_account_id
		LEFT JOIN writer_user
		w ON a.user_id = w.id WHERE t.id = #{id};
	</select>

	<select id="listCheckTopic" resultType="TopicDeclarationVO">
		SELECT
		w.realname,p.realname editorName,t.*
		FROM
		topic t
		LEFT JOIN
		writer_user w ON w.id = t.user_id
		LEFT JOIN pmph_user p ON p.id =
		t.editor_id
		WHERE
		t.auth_progress IN
		<foreach collection="authProgress" index="index" close=")"
			open="(" separator="," item="authProgress">
			#{authProgress}
		</foreach>
		<if test="bookname != null and bookname !=''">
			AND t.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND t.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(t.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(t.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY t.submit_time DESC
		limit
		#{start},#{pageSize}
	</select>

	<select id="listCheckTopicTotal" resultType="java.lang.Integer">
		SELECT count(*)
		FROM topic t LEFT JOIN writer_user w ON w.id =
		t.user_id LEFT JOIN pmph_user p ON p.id = t.editor_id WHERE
		t.auth_progress IN
		<foreach collection="authProgress" index="index" close=")"
			open="(" separator="," item="authProgress">
			#{authProgress}
		</foreach>
		<if test="bookname != null and bookname !=''">
			AND t.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND t.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(t.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(t.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY t.submit_time DESC
	</select>
	<!-- 获取主任可以操作的选题 -->
	<select id="listTopicDirectorVOs" resultType="TopicDirectorVO">
		SELECT a.*,c.realname submitName
		FROM topic a LEFT JOIN pmph_user b ON
		a.department_id = b.department_id
		LEFT JOIN writer_user c ON a.user_id
		= c.id
		WHERE b.id = #{userId}
		AND
		a.is_director_handling = TRUE
		AND
		a.is_editor_handling = FALSE
		AND b.is_director = TRUE
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(a.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(a.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY a.submit_time DESC
		LIMIT
		#{start},#{pageSize}
	</select>

	<!-- 计算主任可以操作的选题数 -->
	<select id="totalTopicDirectorVOs" resultType="Integer">
		SELECT count(*) FROM (SELECT a.*,c.realname submitName
		FROM topic a LEFT JOIN
		pmph_user b ON a.department_id
		= b.department_id
		LEFT JOIN writer_user c
		ON a.user_id = c.id
		WHERE
		b.id = #{userId}
		AND
		a.is_director_handling =
		TRUE
		AND
		a.is_editor_handling = FALSE
		AND b.is_director = TRUE
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(a.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(a.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY a.submit_time DESC) t
	</select>

	<!-- 获取编辑可以操作的申报选题 -->
	<select id="listTopicEditorVOs" resultType="TopicEditorVO">
		SELECT a.*,c.realname submitName,b.realname editorName
		FROM topic a
		LEFT JOIN
		pmph_user b ON a.editor_id
		= b.id
		LEFT JOIN writer_user c ON a.user_id =
		c.id
		WHERE a.editor_id =
		#{userId}
		AND a.is_editor_handling = TRUE
		AND
		a.is_rejected_by_editor =
		FALSE AND a.auth_progress =1
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(a.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(a.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY a.submit_time DESC
		LIMIT
		#{start},#{pageSize}
	</select>

	<!-- 计算编辑可以操作的选题数 -->
	<select id="totalTopicEditorVOs" resultType="Integer">
		SELECT count(*) FROM (SELECT a.*,b.realname submitName
		FROM topic a
		LEFT JOIN
		pmph_user b ON a.editor_id =
		b.id
		LEFT JOIN writer_user c ON a.user_id =
		c.id
		WHERE a.editor_id =
		#{userId}
		AND a.is_editor_handling = TRUE
		AND
		a.is_rejected_by_editor =
		FALSE AND a.auth_progress =1
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(a.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(a.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY a.submit_time DESC) t
	</select>

	<!-- 系统管理员查询选题申报（主任界面） -->
	<select id="listDirectorView" resultType="TopicDirectorVO">
		SELECT a.*,b.realname submitName
		FROM topic a
		LEFT JOIN writer_user b ON a.user_id
		= b.id
		WHERE a.is_director_handling = TRUE
		AND a.is_editor_handling =
		FALSE
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(a.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(a.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY a.submit_time DESC
		LIMIT
		#{start},#{pageSize}
	</select>

	<!-- 系统管路员查询的选题申报数（主任界面） -->
	<select id="totalDirectorView" resultType="Integer">
		SELECT count(*)
		FROM topic a
		LEFT JOIN writer_user b ON a.user_id = b.id
		WHERE a.is_director_handling = TRUE
		AND a.is_editor_handling = FALSE
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(a.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(a.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY a.submit_time DESC
	</select>

	<!-- 系统管理员查询选题申报（编辑界面） -->
	<select id="listEditorView" resultType="TopicEditorVO">
		SELECT a.*,b.realname submitName,c.realname editorName
		FROM topic a
		LEFT JOIN
		writer_user b ON a.user_id
		= b.id
		LEFT JOIN pmph_user c ON a.editor_id =
		c.id
		WHERE a.is_editor_handling = TRUE
		AND a.is_rejected_by_editor =
		FALSE
		AND a.auth_progress =1
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(a.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(a.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY a.submit_time DESC
		LIMIT
		#{start},#{pageSize}
	</select>

	<!-- 系统管理员查询选题申报数（编辑界面） -->
	<select id="totalEditorView" resultType="Integer">
		SELECT count(*)
		FROM topic a
		LEFT JOIN writer_user b ON a.user_id = b.id
		WHERE a.is_editor_handling = TRUE
		AND a.is_rejected_by_editor = FALSE
		AND a.auth_progress =1
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<!--<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>-->
		<if test="submitTime1 != null  and submitTime1 != '' ">
			AND
			TO_DAYS(a.submit_time) &gt;= TO_DAYS(#{submitTime1})
		</if>
		<if test="submitTime2 != null and submitTime2 != '' ">
			AND
			TO_DAYS(a.submit_time) &lt;= TO_DAYS(#{submitTime2})
		</if>
		ORDER BY a.submit_time DESC
	</select>

	<select id="getMaxTopicVn" resultType="java.lang.String">
		select max(vn) from topic
	</select>

	<!-- 动态修改选题申报 -->
	<update id="updateByVn" parameterType="Topic">
		UPDATE topic
		<set>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="bookname != null and bookname !='' ">
				bookname = #{bookname},
			</if>
			<if test="reader != null ">
				reader = #{reader},
			</if>
			<if test="deadline != null ">
				deadline = #{deadline},
			</if>
			<if test="source != null">
				source = #{source},
			</if>
			<if test="wordNumber != null">
				word_number =#{wordNumber},
			</if>
			<if test="pictureNumber != null">
				picture_number =#{pictureNumber},
			</if>
			<if test="subject != null and subject !='' ">
				subject = #{subject},
			</if>
			<if test="rank != null">
				rank = #{rank},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="bankAccountId != null">
				bank_account_id = #{bankAccountId},
			</if>
			<if test="purchase != null">
				purchase = #{purchase},
			</if>
			<if test="sponsorship != null">
				sponsorship = #{sponsorship},
			</if>
			<if test="isTranslation != null">
				is_translation = #{isTranslation},
			</if>
			<if test="originalBookname != null and originalBookname !='' ">
				original_bookname = #{originalBookname},
			</if>
			<if test="originalAuthor != null and originalAuthor !='' ">
				original_author = #{originalAuthor},
			</if>
			<if test="nation != null and nation !='' ">
				nation = #{nation},
			</if>
			<if test="edition != null and edition !='' ">
				edition = #{edition},
			</if>
			<if test="authProgress != null">
				auth_progress = #{authProgress},
			</if>
			<if test="authFeedback != null and authFeedback !='' ">
				auth_feedback = #{authFeedback},
			</if>
			<if test="authDate != null">
				auth_date = #{authDate},
			</if>
			<if test="isOptsHandling != null">
				is_opts_handling = #{isOptsHandling},
			</if>
			<if test="optsRoleId != null">
				opts_role_id = #{optsRoleId},
			</if>
			<if test="isRejectedByDirector != null">
				is_rejected_by_director = #{isRejectedByDirector},
			</if>
			<if test="reasonDirector != null and reasonDirector !='' ">
				reason_director = #{reasonDirector},
			</if>
			<if test="isDirectorHandling != null">
				is_director_handling = #{isDirectorHandling},
			</if>
			<if test="departmentId != null">
				department_id = #{departmentId},
			</if>
			<if test="isRejectedByEditor != null">
				is_rejected_by_editor = #{isRejectedByEditor},
			</if>
			<if test="reasonEditor != null and reasonEditor !='' ">
				reason_editor = #{reasonEditor},
			</if>
			<if test="isEditorHandling != null">
				is_editor_handling = #{isEditorHandling},
			</if>
			<if test="editorId != null">
				editor_id = #{editorId},
			</if>
			<if test="isAccepted != null">
				is_accepted = #{isAccepted},
			</if>
			<if test="isStaging != null">
				is_staging = #{isStaging},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted},
			</if>
			<if test="note != null and note !='' ">
				note = #{note},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate},
			</if>
			<if test="gmtUpdate != null">
				gmt_update = #{gmtUpdate},
			</if>
			<if test="tn != null and tn !='' ">
				tn = #{tn},
			</if>
			<if test="submitTime != null">
				submit_time = #{submitTime},
			</if>
		</set>
		WHERE vn = #{vn};
	</update>
	<!-- 查询当前用户相关的选题申报数量 -->
	<select id="listMyTopicTotal" resultType="java.lang.Integer">
		SELECT count(*)
		FROM topic a
		LEFT JOIN
		writer_user b ON a.user_id= b.id
		LEFT JOIN pmph_user c ON a.editor_id =c.id
		WHERE	
			a.auth_progress in
		<foreach collection="authProgress" index="index" close=")"
			open="(" separator="," item="authProgress">
			#{authProgress}
		</foreach>
		<if test="isDirectorHandling != null">
			and a.is_director_handling =#{isDirectorHandling}
		</if>
		<if test="isOptsHandling != null">
			and a.is_opts_handling = #{isOptsHandling}
		</if>
		<if test="isEditorHandling != null">
			and a.is_editor_handling = #{isEditorHandling}
		</if>
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>
		<if test="editorId != null">
			and	a.editor_id=#{editorId}
		</if>
		ORDER BY a.submit_time
	</select>
	<!-- 查询当前用户相关的选题申报 -->
	<select id="listMyTopic" resultType="TopicDeclarationVO">
	SELECT a.*,b.realname submitName,c.realname editorName
		FROM topic a
		LEFT JOIN
		writer_user b ON a.user_id= b.id
		LEFT JOIN pmph_user c ON a.editor_id =c.id
		WHERE 
			 a.auth_progress in
		<foreach collection="authProgress" index="index" close=")"
			open="(" separator="," item="authProgress">
			#{authProgress}
		</foreach>
		<if test="isDirectorHandling != null">
			and a.is_director_handling =#{isDirectorHandling}
		</if>
		<if test="isOptsHandling != null">
			and a.is_opts_handling = #{isOptsHandling}
		</if>
		<if test="isEditorHandling != null">
			and a.is_editor_handling = #{isEditorHandling}
		</if>
		<if test="bookname != null and bookname !=''">
			AND a.bookname like concat('%',#{bookname},'%')
		</if>
		<if test="submitTime != null">
			AND a.submit_time like concat('%',#{submitTime},'%')
		</if>
		<if test="editorId != null">
			and	a.editor_id=#{editorId}
		</if>
		ORDER BY a.submit_time
		limit
		#{start},#{pageSize}
	</select>
	
	<!-- 主任受理 总数-->
	<select id="listIsDirectorTopicTotal" resultType="Integer">
		SELECT count(*) FROM (SELECT a.*
		FROM topic a LEFT JOIN
		pmph_user b ON a.department_id= b.department_id
		LEFT JOIN writer_user c
		ON a.user_id = c.id
		WHERE b.id = #{userId}
		AND a.is_director_handling =TRUE
		AND a.is_editor_handling = FALSE
		AND b.is_director = TRUE
		AND a.auth_progress in(1,2,3)
		ORDER BY a.submit_time DESC) t
	</select>
	<!-- 主任受理 -->
	<select id="listIsDirectorTopic" resultType="TopicDirectorVO">
		SELECT a.*,c.realname submitName
		FROM topic a 
		LEFT JOIN pmph_user b ON	a.department_id = b.department_id
		LEFT JOIN writer_user c ON a.user_id= c.id
		WHERE b.id = #{userId}
		AND	a.is_director_handling = TRUE
		AND	a.is_editor_handling = FALSE
		AND b.is_director = TRUE
		AND a.auth_progress in(1,2,3)
		ORDER BY a.submit_time DESC
		LIMIT
		#{start},#{pageSize}
	</select>
	<!--运维受理 -->
	<select id="listIsOptsTopic" resultType="TopicOPtsManagerVO">
		SELECT  t.*,w.realname submitName
		FROM topic t
		LEFT JOIN pmph_user_role r ON r.role_id =t.opts_role_id
		LEFT JOIN pmph_user u ON u.id = r.user_id
		LEFT JOIN writer_user w ON t.user_id = w.id
		WHERE u.id =#{userId}
		AND t.is_opts_handling = TRUE
		AND t.is_director_handling =FALSE
		AND t.auth_progress in(1,2,3)
		ORDER BY t.submit_time desc
		LIMIT
		#{start},#{pageSize}
	</select>
	<!-- 运维受理 总数 -->
	<select id="listIsOptsTopicTotal" resultType="Integer">
		SELECT
		count(*) FROM topic t
		LEFT JOIN pmph_user_role r ON r.role_id =t.opts_role_id
		LEFT JOIN pmph_user u ON u.id = r.user_id
		LEFT JOIN writer_user w ON t.user_id = w.id
		WHERE u.id =#{userId}
		AND t.is_opts_handling = TRUE
		AND t.is_director_handling =FALSE
		AND t.auth_progress in(1,2,3)
		ORDER BY t.submit_time DESC
	</select>
	<!-- 编辑受理 -->
	<select id="listIsEditor" resultType="TopicEditorVO">
		SELECT a.*,c.realname submitName,b.realname editorName
		FROM topic a
		LEFT JOIN
		pmph_user b ON a.editor_id= b.id
		LEFT JOIN writer_user c ON a.user_id =c.id
		WHERE a.editor_id =#{userId}
		AND a.is_editor_handling = TRUE
		AND a.is_rejected_by_editor =FALSE 
		AND a.auth_progress in(1,2,3)
		ORDER BY a.submit_time DESC
		LIMIT
		#{start},#{pageSize}
	</select>
	<select id="listIsEditorTotal" resultType="Integer">
		SELECT count(*) FROM (SELECT a.* FROM topic a
		LEFT JOIN pmph_user b ON a.editor_id =b.id
		LEFT JOIN writer_user c ON a.user_id =c.id
		WHERE a.editor_id =#{userId}
		AND a.is_editor_handling = TRUE
		AND	a.is_rejected_by_editor =FALSE 
		AND a.auth_progress in(1,2,3)
		ORDER BY a.submit_time DESC) t
	</select>
	
</mapper>