<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.WriterRolePermissionDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="roleId != null and roleId !=''">
				role_id,
			</if>
			<if test="permissionId != null and permissionId !=''">
				permission_id,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="roleId != null and roleId !=''">
				#{roleId},
			</if>
			<if test="permissionId != null and permissionId !=''">
				#{permissionId},
			</if>
		</trim>
	</sql>
	<!-- 新增WriterRolePermission -->
	<insert id="addWriterRolePermission" parameterType="WriterRolePermission">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into writer_role_permission (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		) ;
	</insert>


	<!-- 根据id删除一个 -->
	<delete id="deleteWriterRolePermissionById" parameterType="java.lang.Long">
		delete from writer_role_permission where
		id=#{id} ;
	</delete>

	<!-- 更新WriterRolePermission -->
	<update id="updateWriterRolePermission" parameterType="WriterRolePermission">
		update writer_role_permission
		<set>
			<if test="roleId != null and roleId !=''">
				role_id = #{roleId},
			</if>
			<if test="permissionId != null and permissionId !='' ">
				permission_id = #{permissionId},
			</if>
		</set>
		where
		id=#{id} ;
	</update>

	<!-- 根据id查询一个WriterRolePermission -->
	<select id="getWriterRolePermissionById" parameterType="java.lang.Long"
		resultType="WriterRolePermission">
		select * from writer_role_permission where id=#{id} ;
	</select>

</mapper>