<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.WriterPointRuleDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="ruleName != null and ruleName != ''">
				rule_name,
			</if>
			<if test="ruleCode != null and ruleCode != ''">
				rule_code,
			</if>
			<if test=" point != null">
				point,
			</if>
			<if test=" isExchange != null and isExchange != ''">
				is_exchange,
			</if>
			<if test=" thirdName != null and thirdName != ''">
				third_name,
			</if>
			<if test=" exchangePoint != null">
				exchange_point,
			</if>
			<if test=" description != null and description != ''">
				description,
			</if>
			<if test=" isDisabled != null and isDisabled != ''">
				is_disabled,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="ruleName != null and ruleName != ''">
				#{ruleName},
			</if>
			<if test="ruleCode != null and ruleCode != ''">
				#{ruleCode},
			</if>
			<if test=" point != null">
				#{point},
			</if>
			<if test=" isExchange != null and isExchange != ''">
				#{isExchange},
			</if>
			<if test=" thirdName != null and thirdName != ''">
				#{thirdName},
			</if>
			<if test=" exchangePoint != null">
				#{exchangePoint},
			</if>
			<if test=" description != null and description != ''">
				#{description},
			</if>
			<if test=" isDisabled != null and isDisabled != ''">
				#{isDisabled},
			</if>
		</trim>
	</sql>
	<!-- 新增 -->
	<insert id="addWriterPointRule" parameterType="WriterPointRule">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into writer_point_rule (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 删除 -->
	<delete id="deleteWriterPointRule" parameterType="java.lang.Long">
		delete from writer_point_rule where id=#{id};
	</delete>

	<!-- 修改 -->
	<update id="updateWriterPointRule" parameterType="WriterPointRule">
		update writer_point_rule
		<set>
			<if test="ruleName != null and ruleName != ''">
				rule_name=#{ruleName},
			</if>
			<if test="ruleCode != null and ruleCode != ''">
				rule_code=#{ruleCode},
			</if>
			<if test=" point != null">
				point=#{point},
			</if>
			<if test=" isExchange != null and isExchange != ''">
				is_exchange=#{isExchange},
			</if>
			<if test=" thirdName != null and thirdName != ''">
				third_name=#{thirdName},
			</if>
			<if test=" exchangePoint != null">
				exchange_point=#{exchangePoint},
			</if>
			<if test=" description != null and description != ''">
				description=#{description},
			</if>
			<if test=" isDisabled != null and isDisabled != ''">
				is_disabled=#{isDisabled},
			</if>
		</set>
		where
		id=#{id};
	</update>

	<!-- 查询 -->
	<select id="getWriterPointRule" parameterType="java.lang.Long"
		resultType="WriterPointRule">
		select * from writer_point_rule where id=#{id};
	</select>
	
	<!-- 积分规则表分页列表（同时查询分页数据和总条数）积分规则管理 -->
	<select id="listWriterPointRule" parameterType="PageParameter" resultType="WriterPointRuleVO">
		select wpr.*,t.count 
		from writer_point_rule wpr 
		left join writer_point_log wpl on wpl.rule_id = wpr.id,
		(select count(*) count from writer_point_rule wpr 
			left join writer_point_log wpl on wpl.rule_id = wpr.id
			where wpr.is_exchange = false 
				<!-- 下面是动态条件 -->
				<if test="parameter !=null ">
					<!-- 积分规则名称 -->
					<if test="parameter.ruleName != null and parameter.ruleName != ''">
						and wpr.rule_name = #{parameter.ruleName}
					</if>
					<!-- 积分规则标识 -->
					<if test="parameter.ruleCode != null and parameter.ruleCode != ''">
						and wpr.rule_code = #{parameter.ruleCode}
					</if>
				</if>
				) t 
		where wpr.is_exchange = false 
		<!-- 下面是动态条件 -->
		<if test="parameter !=null ">
			<!-- 积分规则名称 -->
			<if test="parameter.ruleName != null and parameter.ruleName != ''">
				and wpr.rule_name = #{parameter.ruleName}
			</if>
			<!-- 积分规则标识 -->
			<if test="parameter.ruleCode != null and parameter.ruleCode != ''">
				and wpr.rule_code = #{parameter.ruleCode}
			</if>
		</if>
		group by wpr.rule_name desc 
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
	
	<!-- 积分规则表分页列表（同时查询分页数据和总条数）积分兑换规则 -->
	<select id="listWriterPointRulePoint" parameterType="PageParameter" resultType="WriterPointRuleVO">
		select wpr.*,t.count 
		from writer_point_rule wpr 
		left join writer_point_log wpl on wpl.rule_id = wpr.id,
		(select count(*) count from writer_point_rule wpr 
			left join writer_point_log wpl on wpl.rule_id = wpr.id
			where wpr.is_exchange = true 
				<!-- 下面是动态条件 -->
				<if test="parameter !=null ">
					<!-- 目标平台名称 -->
					<if test="parameter.thirdName != null and parameter.thirdName != ''">
						and wpr.third_name = #{parameter.thirdName}
					</if>
				</if>
				) t 
		where wpr.is_exchange = true 
		<!-- 下面是动态条件 -->
		<if test="parameter !=null ">
			<!-- 目标平台名称 -->
			<if test="parameter.thirdName != null and parameter.thirdName != ''">
				and wpr.third_name = #{parameter.thirdName}
			</if>
		</if>
		group by wpr.third_name desc 
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
	
</mapper>