<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.pmpheep.back.dao.WriterRoleDao">

	<!-- 添加一个作家角色 -->
	<insert id="addWriterRole" parameterType="WriterRole">
		insert into writer_role
		(role_name,is_disabled,note,sort) values
		(#{roleName},#{isDisabled},#{note},#{sort});
	</insert>

	<!-- 删除一个或者多个作家角色 -->
	<delete id="deleteWriterRoleById" parameterType="String">
		delete from writer_role where id in
		<foreach collection="array" open="(" separator="," close=")"
			item="id">
			#{id}
		</foreach>
	</delete>

	<!-- 修改作家角色 -->
	<update id="updateWriterRoleById" parameterType="WriterRole">
		update
		writer_role set
		role_name=#{roleName},is_disabled=#{isDisabled},note=#{note},sort=#{sort}
		where id = #{id};
	</update>

	<!-- 根据角色名查询 -->
	<select id="getWriterRoleByRoleName" parameterType="String">
		select * from
		wtiter_role where role_name = #{roleName};
	</select>

</mapper>