<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.WriterPointLogDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="ruleId != null">
				rule_id,
			</if>
			<if test=" point != null">
				point,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="userId != null">
				#{userId},
			</if>
			<if test="ruleId != null">
				#{ruleId},
			</if>
			<if test=" point != null">
				#{point},
			</if>
		</trim>
	</sql>
	<!-- 新增 -->
	<insert id="addWriterPointLog" parameterType="WriterPointLog">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into writer_point_log (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 删除 -->
	<delete id="deleteWriterPointLog" parameterType="java.lang.Long">
		delete from writer_point_log where id=#{id};
	</delete>

	<!-- 修改 -->
	<update id="updateWriterPointLog" parameterType="WriterPointLog">
		update writer_point_log
		<set>
			<if test="userId != null">
				user_id=#{userId},
			</if>
			<if test="ruleId != null">
				rule_id=#{ruleId},
			</if>
			<if test=" point != null">
				point=#{point},
			</if>
		</set>
		where
		id=#{id};
	</update>

	<!-- 查询 -->
	<select id="getWriterPointLog" parameterType="java.lang.Long"
		resultType="WriterPointLog">
		select * from writer_point_log where id=#{id};
	</select>
	
	<!-- 用户积分记录分页列表（同时查询分页数据和总条数） -->
	<select id="listWriterPointLogVO" parameterType="PageParameter" resultType="WriterPointLogVO">
		select wpl.*,t.count 
		from writer_point_log wpl 
		left join writer_user wu on wu.id=wpl.user_id
		left join writer_point_rule wpr on wpr.id=wpl.rule_id,
		(select count(*) count from writer_point_log wpl 
			left join writer_user wu on wu.id=wpl.user_id 
			left join writer_point_rule wpr on wpr.id=wpl.rule_id 
			where 1 = 1 
			<!-- 下面是动态条件 -->
				<if test="parameter !=null ">
					<!-- 用户id -->
					<if test="parameter.userId != null">
						and wu.user_id = #{parameter.userId}
					</if>
					<!-- 用户名称 -->
					<if test="parameter.username !=null and parameter.username!=''">
						and (
							wu.username like concat('%',#{parameter.username},'%')
						or
							wu.realname like concat('%',#{parameter.username},'%') )
					</if>
				</if>) t 
		where 1 = 1 
		<!-- 下面是动态条件 -->
		<if test="parameter !=null ">
			<!-- 用户id -->
			<if test="parameter.userId != null">
				and wu.user_id = #{parameter.userId}
			</if>
			<!-- 用户名称 -->
			<if test="parameter.username !=null and parameter.username!=''">
				and (
					wu.username like concat('%',#{parameter.username},'%')
				or
					wu.realname like concat('%',#{parameter.username},'%') )
			</if>
		</if>
		group by wpl.id desc 
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
	
</mapper>