<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.WriterPointDao">
	<sql id="key">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="total != null">
				total,
			</if>
			<if test=" gain != null">
				gain,
			</if>
			<if test=" loss != null">
				loss,
			</if>
		</trim>
	</sql>
	<!-- sql片段对应?,id属性值任意 -->
	<sql id="value">
		<!-- 去掉最后一个, -->
		<trim suffixOverrides=",">
			<if test="userId != null">
				#{userId},
			</if>
			<if test="total != null">
				#{total},
			</if>
			<if test=" gain != null">
				#{gain},
			</if>
			<if test=" loss != null">
				#{loss},
			</if>
		</trim>
	</sql>
	<!-- 新增 -->
	<insert id="addWriterPoint" parameterType="WriterPoint">
		<selectKey resultType="java.lang.Long" order="AFTER"
			keyProperty="id"> <!-- order="AFTER"表示先执行插入语句，之后再执行查询语句 BEFORE 或 AFTER -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into writer_point (
		<include refid="key" />
		)
		values(
		<include refid="value" />
		);
	</insert>

	<!-- 删除 -->
	<delete id="deleteWriterPoint" parameterType="java.lang.Long">
		delete from writer_point where id=#{id};
	</delete>

	<!-- 修改 -->
	<update id="updateWriterPoint" parameterType="WriterPoint">
		update writer_point
		<set>
			<if test="userId != null">
				user_id=#{userId},
			</if>
			<if test="total != null">
				total=#{total},
			</if>
			<if test=" gain != null">
				gain=#{gain},
			</if>
			<if test=" loss != null">
				loss=#{loss},
			</if>
		</set>
		where
		id=#{id};
	</update>

	<!-- 查询 -->
	<select id="getWriterPoint" parameterType="java.lang.Long"
		resultType="WriterPoint">
		select * from writer_point where id=#{id};
	</select>
	
	<!-- 用户积分表分页列表（同时查询分页数据和总条数） -->
	<select id="listWriterPointVO" parameterType="PageParameter" resultType="WriterPointVO">
		select wp.*,wu.username,wu.realname,t.count 
		from writer_point wp 
		left join writer_user wu on wu.id=wp.user_id,
		(select count(*) count from writer_point wp 
			left join writer_user wu on wu.id=wp.user_id 
			where 1 = 1 
				<!-- 下面是动态条件 -->
				<if test="parameter !=null ">
					<!-- 用户id -->
					<if test="parameter.userId != null">
						and wu.user_id = #{parameter.userId}
					</if>
					<!-- 用户名称 -->
					<if test="parameter.realname !=null and parameter.realname!=''">
						and 
							wu.realname like concat('%',#{parameter.realname},'%')
					</if>
					<if test="parameter.username !=null and parameter.username!=''">
						and wu.username like concat('%',#{parameter.username},'%')
					</if>
				</if>
				) t 
		where 1 = 1 
		<!-- 下面是动态条件 -->
		<if test="parameter !=null ">
			<!-- 用户id -->
			<if test="parameter.userId != null">
				and wu.user_id = #{parameter.userId}
			</if>
			<!-- 用户名称 -->
			<if test="parameter.realname !=null and parameter.realname!=''">
						and 
							wu.realname like concat('%',#{parameter.realname},'%')
			</if>
			<if test="parameter.username !=null and parameter.username!=''">
				and wu.username like concat('%',#{parameter.username},'%')
			</if>
		</if>
		group by wu.username desc 
		<if test="start !=null and pageNumber != null">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 通过用户id查询积分 -->
	<select id="getWriterPointByUserId" parameterType="java.lang.Long"
		resultType="WriterPoint">
		select * from writer_point where user_id=#{userId};
	</select>

	<!-- 用户积分表分页列表（同时查询分页数据和总条数） -->
	<select id="getAllWriterPoint" resultType="WriterPointVO">
		select wp.*,wu.username,wu.realname,t.count
		from writer_point wp
		left join writer_user wu on wu.id=wp.user_id,
		(select count(*) count from writer_point wp
		left join writer_user wu on wu.id=wp.user_id
		where 1 = 1
		) t
		where 1 = 1
		<!-- 下面是动态条件 -->
		group by wu.username desc
	</select>
</mapper>