<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bc.pmpheep.back.dao.WxMessageDao">
    <select id="queryMessageList" resultType="com.bc.pmpheep.back.vo.WxMessageVO" parameterType="com.bc.pmpheep.back.vo.WxMessageVO">
        select * from wx_message
        <where>
            <if test="parameter.content != null and parameter.content != '' ">
                and content like concat('%',#{parameter.content},'%')
            </if>
            <!--<if test="null != parameter.msgdbtype  and '' !=  parameter.msgdbtype ">-->
                and msgdbtype = #{parameter.msgdbtype}
            <!--</if>-->
            <if test="parameter.userid != null and parameter.userid != '' ">
                and userid = #{parameter.userid}
            </if>
        </where>
        order by is_deal asc,gmt_create desc
        limit #{start},#{pageSize}
    </select>

    <select id="queryMessageListCount" resultType="int" parameterType="com.bc.pmpheep.back.vo.WxMessageVO">
        select count(id) from wx_message
        <where>
            <if test="parameter.content != null and parameter.content != '' ">
                and content like concat('%',#{parameter.content},'%')
            </if>
            <!--<if test="null != parameter.msgdbtype  and '' !=  parameter.msgdbtype ">-->
                and msgdbtype = #{parameter.msgdbtype}
            <!--</if>-->
            <if test="parameter.userid != null and parameter.userid != '' ">
                and userid = #{parameter.userid}
            </if>
        </where>
    </select>

    <!--设为已读-->
    <update id="haveRead" parameterType="Long">
        update wx_message set is_deal = 1 where id = #{id}
    </update>


</mapper>