<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
">
   	 <mvc:annotation-driven/>
   	 <mvc:default-servlet-handler/>
   	
    <!-- 使用cglib进行动态代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true" />
    
    <context:component-scan base-package="com.bc.pmpheep.back.controller;com.bc.pmpheep.general.controller;com.bc.pmpheep.wechat.controller;com.bc.pmpheep.wx.controller" />
    
    <!-- 对静态资源文件的访问  restful-->     
    <mvc:resources mapping="/statics/**" location="/statics/" />
    
    <!-- 访问拦截  -->  
    <mvc:interceptors>  
        <!--AXIOS跨域请求访问拦截 -->
        <mvc:interceptor>
            <mvc:mapping path="/**/**"/>
            <bean class="com.bc.pmpheep.back.interceptor.ProcessInterceptor"></bean>
        </mvc:interceptor>
       
        <!-- 系统操作日志拦截 -->
        <mvc:interceptor>
            <!-- 只拦截方法 -->
            <mvc:mapping path="/**"/>
            <bean class="com.bc.pmpheep.back.interceptor.OperationLogInterceptor">
                <!-- 不需要拦截的请求方法-->
                <property name="excludeUrls"> 
                    <list>
                    	<value>/pmph/login</value><!-- 登陆  -->
                        <value>/pmph/SSOIndex</value>
                        <value>/wxMessages/list</value>
                        <value>/messages/list/myMessageIcon</value>
                    	<value>/pmph/logout</value><!-- 退出  -->
                        <value>/sys/operation/new</value><!-- 操作日志  -->
                        <value>/sys/operation/operations</value><!-- 操作日志 -->
                        <value>/file/**</value><!-- 文件下载 -->
                        <value>/image/**</value><!-- 图片加载 -->
                        <value>/coreJoin/**</value>
                        <value>/oauth2/**</value>
                        <value>/oauth2url/**</value>
                        <value>/oauth2wx/**</value>
                        <value>/oauth2me/**</value>
                        <value>/bookSync/**</value>
                    </list>
                </property>
            </bean>	
        </mvc:interceptor>
        
        <!--  OAuth2拦截器 -->
        <mvc:interceptor>
			<!-- 对所有的请求拦截使用/** ,对某个模块下的请求拦截使用：/pmph/* -->
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/pmph/login" />
			<mvc:exclude-mapping path="/pmph/logout" />
			<mvc:exclude-mapping path="/sys/operation/new" />
			<mvc:exclude-mapping path="/sys/operation/operations" />
			<mvc:exclude-mapping path="/image/*" />
          <!--  <mvc:exclude-mapping path="/sso/login" />-->
           <!-- <mvc:exclude-mapping path="/**/*wechat*" />-->
			<bean id="oauth2Interceptor" class="com.bc.pmpheep.wechat.interceptor.OAuth2Interceptor"></bean>
		</mvc:interceptor>
		
    </mvc:interceptors> 
    
    <mvc:annotation-driven>
    	<!-- 设置IE上传文件返回Json字符串后自动下载问题 -->
        <mvc:message-converters register-defaults="true">
            <bean
                class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html; charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
   
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8" />
        <property name="maxUploadSize" value="209715200" />
    </bean>
</beans>
